<% if !@question.is_private %>
  <h2 id="responses" class="subhead_style bordered">
    <%= @question.comments.size %> <%= @question.comments.size == 1 ? "Comment" : "Comments"%>
  </h2>
  
  <p><span class="comments_form_toggle btn">Add a Comment</span></p>

  <div id="comments_form" class="commentfield_container clearfix">
  <% if current_user %>
    <%= form_tag(comments_path, :id => 'comment-form', :remote => true) do %>
      <div class="commentfield">
      <%= text_area_tag 'comment[content]', nil, {:cols => nil, :rows => 2, class: 'wysiwyg'} %>
      <%= hidden_field_tag 'comment[question_id]', @question.id %>
      <%= submit_tag "Post", {:id => 'comment-submit', :class => 'btn btn-primary'} %>
      <% if current_user && current_user.has_exid? %>
        <p class="current_commenter left"><%= link_public_user_avatar(current_user, :thumb) %></p>
      <% elsif current_user %>
        <p class="current_commenter left"><strong><%= current_user.public_name %></strong></p>
      <% end %>
      </div>
    <% end %>
  <% else %>
      <div class="sign_in_prompt" >
        <p>Please sign in</p>
        <p><%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath), :class => "btn" )%></p>
      </div>
      
  <% end %>
  </div>
<% end %>

<br class="clearing" />

<div id="comment-list">
  <%= render :partial => 'comments/comment_list', :locals => {:comment_list => @question.comments, :parent_comment => nil} %>
</div>


<script class="code" type="text/javascript">
  
  $("#comments_form").hide();

  $(".comments_form_toggle").click(function () {
    $("#comments_form").toggle();
  });
  
</script>