<section id="comments">  
  
  <h2 id="responses" class="subhead_style bordered">
    <%= @question.comments.size %> <%= @question.comments.size == 1 ? "Comment" : "Comments"%>
  </h2>
  
  <% if current_user %>
    <div id="new-comments-form">
      <%= render partial: 'comments/new_comments_form' %>
    </div>
  <% else %>
    <div class="sign_in_prompt" >
      <p>Please sign in to post a comment</p>
      <p><%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath), :class => "btn" )%></p>
    </div>
  <% end %>
  
  <div id="comments-list">
    <%= render :partial => 'comments/comments_list', :locals => {:comment_list => @question.comments, :parent_comment => nil} %>
  </div>
  
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $('#new-comments-form .wysihtml5').wysihtml5({image: false});
    var highlightedComment = window.location.hash;
    $(highlightedComment).addClass("cc-highlight");
    
    $(".comment-timestamp").click(function() {
      $(".cc-comment").removeClass("cc-highlight");
      $(this).closest(".cc-comment").addClass("cc-highlight");
    });
  })
</script>
