<% if !@question.is_private %>
  
  <h3 class="comment_header">Comment on this Question</h3>

<div id="comments_form" class="commentfield_container">
  <% if current_user %>
    <%= form_tag(comments_path, :id => 'comment-form', :remote => true) do %>
      <div class="commentfield">
      <%= text_area_tag 'comment[content]', nil, {:cols => nil, :rows => 2,class: 'wysiwyg'} %>
      <%= hidden_field_tag 'comment[question_id]', @question.id %>
      <%= submit_tag "Post", {:id => 'comment-submit', :class => 'btn'} %>
      <% if current_user && current_user.has_exid? %>
        <p class="current_commenter left"><%= link_public_user_avatar(current_user, :thumb) %></p>
      <% elsif current_user %>
        <p class="current_commenter left"><strong><%= current_user.public_name %></strong></p>
      <% end %>
      </div>
      <br class="clearing" />
    <% end %>
  <% else %>
      <%= form_tag(comments_path, :id => 'comment-form', :remote => true) do %>
      <%= render(partial: 'partials/sign_in_to_vote')%>
        <div class="sitv_element commentfield">
        <%= text_area_tag 'comment[content]', nil, {:cols => nil, :rows => 2} %>
        <%= submit_tag "Post", {:id => 'comment-submit', :class => 'btn'} %>
        </div>
        <br class="clearing" />
        </div> <!-- end .sitv_element_wrapper  -->
      <% end %>
      
  <% end %>
  
  <br class="clearing" />
</div>
<% end %>

<br class="clearing" />

<div id="comment-list">
  <%= render :partial => 'comments/comment_list', :locals => {:comment_list => @question.comments, :parent_comment => nil} %>
</div>


<script class="code" type="text/javascript">
    // sitv = sign in to vote
    $('.nojs_display').hide();
    

    $('.sitv_element_wrapper').each(function(index) {
        var $sitv_element = $(this).find('.sitv_element')
        var $h = $sitv_element.outerHeight();
        var $w = $sitv_element.outerWidth();
        $(this)
          .find('.sitv_targetarea').height($h).width($w);
    });
    
    $('.sitv_targetarea').bind('click', function () {
        $(this)
          .siblings('.sitv_content')
          .fadeIn('fast');
    });
    
    $('.sitv_content')
      .mouseleave(function() {
        $(this)
          .fadeOut('fast');
    });

</script>