<% @page_title = "\"#{@question.title}\"" %>

<div id="main" class="span8">
  
  <h2 class="title"><%= format_text_for_display(@question.title) -%></h2>

  <div id="question">
  <div class="question_body"><%= format_text_for_display(@question.body) %></div>

    <% @question.images.each do |image| %>
      <% if image.persisted? %>
        <% if File.exists?(Rails.root.join("public#{image.url(:original,false)}")) %>
        <a data-toggle="modal" href="#myModal<%= image.id %>"><%= image_tag image.url(:thumb) %></a>

        <div id="myModal<%= image.id %>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <p>
              <strong><a href="#" type="button" data-dismiss="modal" aria-hidden="true">Close</a></strong> -
              <%= link_to "View full size in a new window", image.url(), :target => "_blank" %>
            <p>
          </div>
          <div class="modal-body">
            <%= image_tag image.url() %>
          </div>
        </div>
        <% else %>
         <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image') %>
        <% end %>
      <% end %>
    <% end %>  

  <p><small>Asked <%= time_ago_in_words(@question.created_at) %> ago</small></p>

    <p>
      <% if @question.location.present? %>
        <% if @question.county.present? %>
          <span class="tag tag-geography"><%= "#{@question.county.name}" %></span>
        <% end %>
        <% if @question.location.present? %>
          <span class="tag tag-geography"><%= @question.location.name %></span>
        <% end %>
      <% end %>
    </p>
  </div>

  <%- if current_user and current_user.id == @question.submitter_id -%>
    <%= render :partial => 'question_edit' %>
  <%- elsif @authenticated_submitter.present? and @authenticated_submitter == @question.submitter_id -%>
    <%= render :partial => 'question_edit' %>
  <%- end -%>

  <% if @question_responses.size > 0 %>
    <h3 class="h3">Responses</h3>
    <% @question_responses.each do |response| %>
      <div class="response_block">
        <div class="response">
          <%= format_text_for_display(response.body) %>
        </div>
        
        <div id="response_images">
        <% response.images.each do |image| %>
          <% if @authenticated_submitter.present? && response.submitter_id == @authenticated_submitter.id %>
            <%= button_to "Delete", remove_image_response_path(:id => response.id, :image_id => image.id) %>
          <% end %>
          <% if File.exists?(Rails.root.join("public#{image.url(:original,false)}")) %>
          <a class="image_wrapper" data-toggle="modal" href="#myModal<%= image.id %>"><%= image_tag image.url(:thumb) %></a>

          <div id="myModal<%= image.id %>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <p>
              <strong><a href="#" type="button" data-dismiss="modal" aria-hidden="true">Close</a></strong> -
              <%= link_to "View full size in a new window", image.url(), :target => "_blank" %>
            <p>
              </div>
            <div class="modal-body">
              <%= image_tag image.url() %>
            </div>
          </div>
          <% else %>
            <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image') %>
          <% end %>
        <% end %>
          <br class="clearing" />
        </div>
        
        <div class="author">
          <% if response.resolver_id %>
            <%= link_public_user_avatar(response.resolver, :thumb) %> <%= link_to response.resolver.public_name, user_path(response.resolver.id) %>
          <% else %>
            <p>Anonymous Guest</p>
          <% end %>
          <p><small>Posted <%= time_ago_in_words(response.created_at) %> ago</small></p>
        </div>
      </div>
    <% end %>

    <% if @authenticated_submitter and @authenticated_submitter.id == @question.submitter.id and session[:question_id] == @question.id %>
	    <h3><%= link_to_function 'Respond to the expert', "$('#additional_comment').toggle();" %> or <%= link_to 'Ask a new question', ask_group_path(@question.assigned_group) %></h3>
	    <div id="additional_comment" style="display:none;">
	      <%= form_for @response do |r_form| %>
          <%= r_form.text_area :body, :rows => "3" %>
	        <%= hidden_field_tag :question_id, @question.id %>
          <h3>Images</h3>
	        <p>You can include up to 3 images:</p>
	        <p><em>You can upload .jpg .png or .gif. Max size of 5MB each.</em></p>
	        
	        <%= r_form.fields_for :images do |image_form| %>
			      <p><%= image_form.file_field :attachment %></p>
          <% end %>
          
          <%= submit_tag "Post response", :class => 'btn' %>
          <%= link_to_function "Cancel", "$('#additional_comment').hide()" %>
        <% end %>
	    </div>
    <% end %>

  <% end %>

  <% if @question_responses.size < 1 %>
    <div class="not_answered">
      <h3>This Question is Waiting for an eXtension Answer</h3>
      <p><strong>What's an eXtension Answer?</strong> Your questions are answered by Cooperative Extension and University staff and volunteers from across the United States. That means the answer given here will be objective, research-based and credible.</p>
    </div>
  <% end %>



<%= render :partial => 'comments' %>

</div>

<div id="secondary" class="span4">
  <% if current_user && current_user.has_exid? %>
      <p><%= link_to "Expert view", expert_question_path(@question.id), :class => "btn" %></p>
  <% end %>
  
  <% if @question.status_state == Question::STATUS_REJECTED %>
    <aside class="public_rejected">
      <h3>This question has been rejected</h3>
      <p><strong>Rejection comment:</strong> <%= wrap_text(@question.current_response) %></p>
    </aside>
  <% elsif @question.status_state != Question::STATUS_REJECTED %>
    <aside>
      
      <% if (@question.status_state == Question::STATUS_RESOLVED) || (@question.status_state == Question::STATUS_NO_ANSWER) %>
          <h5>Answered by</h5>
        <% else %>
          <h5>Assigned to</h5>
        <% end %>
        
        
        <% if @question.assignee.present? %>
          <%= link_to user_path(@question.assignee_id) do %>
            <%= link_public_user_avatar(@question.assignee, :thumb) %> <%= link_to @question.assignee.public_name, user_path(@question.assignee.id) %>
          <% end %>
        <% elsif @question.assigned_group.present? %>
          <%= link_public_group_avatar(@question.assigned_group, :thumb) %> <%= link_to @question.assigned_group.name, group_path(@question.assigned_group.id) %>
        <% end %>
    
    <% if !@question.assignee.blank? %>
      <% if @question.assigned_group %>
        <h5>This question is grouped with</h5>
        <p><%= link_public_group_avatar(@question.assigned_group, :thumb) %> <%= link_to @question.assigned_group.name, group_path(@question.assigned_group.id) %></p>
      <% end %>
    <% end %>
    
    <p>Ask an Expert is made up of groups and individual experts.</p>
    
  </aside>
  <% end %>
    
  <% if @question.public_similar_questions.count > 0 %>
  <aside>
    <h4>Related Questions</h4>
    <% @question.public_similar_questions.each do |question,score| %>
      <p><%= link_to(format_text_for_display(question.title), question_path(question.id)) %></p>
    <% end %>
  </aside>
  <% end %>
  
</div>