<div id="main" class="span8">
<p>AaE #<%= @question.id %></p>

<% if @question.title.present? %>
  <h2><%= format_text_for_display(@question.title) %></h2>
<% else %>
  <h2><%= format_text_for_display(@question.body.truncate(80, separator: ' ')) %></h2>    
<% end %>

<p><%= format_text_for_display(@question.body) %></p>


<p>Asked <%= time_ago_in_words(@question.created_at) %> ago 
<% if @question.submitter %>
  by <%= @question.submitter.name %></p>
<% end %>

<% if @question_responses.length > 0 %>
  <h3>Responses</h3>
  <% @question_responses.each do |response| %>
    <p><%= format_text_for_display(response.body) %></p>
  <% end %>
<% end %>

<h3>History</h3>
<% if !@question.question_events %>
  <% @question.question_events.each do |event| %>
    <li><%= stringify_question_event(event) %></li>
  <% end %>
<% end %>
</div>



<div id="secondary" class="span4">
  <% if current_user %>
      <p><%= link_to "Edit/view", expert_question_path(@question.id), :class => "label btn-warning" %></p>
  <% end %>
  
  <aside>
    <p><%= link_to "Notify me when this question has activity" %></p>
  </aside>
    
  <aside>
    <h3>Related Questions</h3>
    <% @fake_related.each do |question| %>
      <%= link_to question_path(question.id) do %>
        <% if question.title.present? %>
          <p><%= format_text_for_display(question.title) -%></p>
        <% else %>
          <p><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></p>
        <% end %>
      <%- end -%>
    <% end %>
  </aside>
  
</div>