<% @title_tag = "Ask an Expert Question - Sign in"%>

<%- if(current_user and current_user.has_exid?) -%> 
  <div class="col-md-12">
    <div class="alert alert-success" role="alert">
      <p><i class="fa fa-info-circle fa-lg"></i> Because you are signed in with your eXtension account, you can <strong><%= link_to "view this question", expert_question_path(@question.id), :class => "" -%></strong>.</p>
    </div>
    
  </div>
<%- end -%>

<div class="col-md-12">
  <div class="well">
    <h1>View your question</h1>
    <p>If you submitted this question, you can view (and edit) it after confirming your email address.</p>

  <%= form_tag(authorize_submitter_path(:fingerprint => @question.question_fingerprint), :class => "") do %>
    <fieldset>
      <div class="form-group">
        <div class="row">
        <div class="col-lg-6 col-md-6">
        <%= text_field_tag("email_address", nil, :class => "form-control", :placeholder => "Email used to submit question")%>
        </div>
        </div>
      </div>
      <%= submit_tag 'View question', :class => "submit",:class => "btn btn-primary btn-lg"  %>
    </fieldset>
  <% end %>
  
    
      <div class="help-faq">
        <div class="help-faq-question">
          <h4>Why do I have to provide my email address to view my question?</h4>
          <p>We verify that your email matches the email used to submit the question in order to protect the privacy of your question.</p>
        </div>
        
        <% if !@question.is_private %>
        <div class="help-faq-question">
          <h4>But what if I checked the option to "make my question public" when I submitted it?</h4>
          <p>Since your question is public, you can just <%= link_to "view it", question_path(@question.id), :class => "" -%>, but you won't be able to edit it unless you confirm your email above.</p>
        </div>
        <% end %>
      </div>
    
    
  </div>
</div>

