<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3>New Comment On a Question You Answered</h3>
    <p><%= link_to("View the Comment", comment_url(@comment)) %></p>
    <p class="button"><%= link_to(image_tag("#{ssl_root_url}assets/email_view_the_question.png", alt: "View the Question", width: "245"), expert_question_url(@question)) -%></p>
  </td>
</tr>

<tr>
  <td class="content padding question_block">
	<div class="question_title">Comment: <%= link_to(format_text_for_display(@comment.content), comment_url(@comment)) -%></div>
    <div class="question_title"><%= link_to(format_text_for_display(@question.title), expert_question_url(@question)) -%></div>
    <% if !@question.is_private %>
      <p class="tag">
        <span class="tag tag-public">Public</span>
      </p>
    <% end %>
  </td>
</tr>

<tr>
  <td class="meta_details"><strong>Please don't reply to this email.</strong> <%= link_to("Send a reply from the question page", expert_question_url(@question)) -%>.</td>
</tr>

<%= render :partial => 'partials/internal_email_footer' %>