<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <% if @question.assignee_id.present? %>
      <h3>One of Your Questions Has Been Assigned To Another Expert: <%= link_expert_user(@question.assignee) %></h3>
    <% else %>
      <h3>One of Your Questions Has Been Assigned To Another Expert: <%= link_expert_group(@question.assigned_group) %></h3>
    <% end %>

    <p>You don't need to do anything at this time, but you can <%= link_to("view the question", expert_question_url(@question), :class => "action") -%> if you are interested.</p>

    <p class="button"><%= link_to(image_tag("#{ssl_root_url}assets/email_view_the_question.png", alt: "View the Question", width: "245"), expert_question_url(@question)) -%></p>
  </td>
</tr>

<tr>
  <td class="content padding question_block">
    <div class="question_title"><%= link_to(format_text_for_display(@question.title), expert_question_url(@question)) -%></div>
    <div class="question_body"><%= link_to(format_text_for_display(@question.body), expert_question_url(@question)) -%></div>
    <p class="meta">Submitted <%= @question.created_at.strftime("%A, %B %e, %Y, %l:%M %p %Z") %></p>
    <% if !@question.is_private %>
      <p class="tag">
        <span class="tag tag-public">Public</span>
      </p>
    <% end %>
    <p class="tag">
      <% if @question.location.present? %>
        <% if @question.county.present? %>
          <span class="tag tag-geography"><%= @question.county.name %></span>
        <% end %>
          <span class="tag tag-geography"><%= @question.location.name %></span>
      <% else %>
          <span class="tag tag-geography">No Location</span>
      <% end %>
    </p>

    <% if @question.tags.size > 0 %>
      <p class="tag">
        <% @question.tags.each do |tag| %>
          <span class="tag tag-topic"><%= tag.name %></span>
        <% end %>
      </p>
    <% else %>
      <p class="actions">This question needs tags. <%= link_to("Can you help tag it?", expert_question_url(@question)) -%></p>
    <% end %>
  </td>
</tr>

<tr>
  <td class="meta_details"><strong>Please don't reply to this email.</strong> <%= link_to("Send a reply from the question page", expert_question_url(@question)) -%>.</td>
</tr>

<%= render :partial => 'partials/internal_email_footer' %>
