<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3>Hi there! Someone replied to you!</h3>
    <h3>They might just be saying "thanks," but you need to <%= link_to("reply to or close the question", expert_question_url(@question), :class => "action") -%>, or you'll continue to get a daily notification about it.</h3>
  </td>
</tr>

<tr>
  <td class="content padding question_block">
    <p><strong>Their response:</strong></p>
    <div class="response"><%= format_text_for_display(@response.body) %></div>
    <div class="signature"><%= format_text_for_display(@response.signature) %></div>
    <% if @response.images.size > 0 %>
      <p class="contains_images">
        <strong>Note:</strong> <%= @response.images.size > 1 ? "This response contains images." : "This response contains an image." %>
      </p>
    <% end %>
  </td>
</tr>

<tr>
  <td class="content padding">
    <p class="button"><%= link_to(image_tag("#{ssl_root_url}assets/email_view_the_question.png", alt: "View the Question", width: "245"), expert_question_url(@question)) -%></p>
    <p>Please <%= link_to("answer", expert_question_url(@question), :class => "action") -%> or <%= link_to "reassign", reassign_expert_question_url(@question.id), :class => "action" %> as soon as possible. Thanks for your help!</p>
  </td>
</tr>

<tr>
  <td class="content padding">
    <p class="meta">The question was assigned to you <%= @assigned_at.strftime("%A, %B %e, %Y, %l:%M %p %Z") %>.</p>
  </td>
</tr>

<tr>
  <td class="meta_details"><strong>Please don't reply to this email.</strong> <%= link_to("Send a reply from the question page", expert_question_url(@question)) -%>.</td>
</tr>

<%= render :partial => 'partials/internal_email_footer' %>
