<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3>One of your Ask an Expert responses was edited.</h3>
    
    <p class="button"><%= link_to(image_tag("#{ssl_root_url}assets/email_view_the_question.png", alt: "View the Question", width: "245"), expert_question_url(@question)) -%></p>
    
    <h4 class="question-header">Why was my response edited?</h4>
    <p class="question-answer">Editors may correct grammar, spelling, or occasionally phrasing, in order to improve the quality of the Ask an Expert site. <%= link_to 'View the changes', response_history_expert_question_url(id: @question.id, response_id: @response.id) %> made to your response.</p>

  </td>
</tr>

<tr>
  <td class="content padding question_block">
    <div class="question_title"><%= link_to(format_text_for_display(@question.title), expert_question_url(@question)) -%></div>
    <div class="question_body"><%= link_to(format_text_for_display(@question.body), expert_question_url(@question)) -%></div>
  </td>
</tr>

<tr>
  <td class="meta_details"><strong>Please don't reply to this email.</strong></td>
</tr>

<%= render :partial => 'partials/internal_email_footer' %>