<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3>Your Ask an Expert Profile Got a Helping Hand</h3>

    <p>This is a friendly notification that an expert edited your profile expertise locations or counties using your <%= link_to 'Helping Hand', expert_edit_attributes_url(@user) %> page.</p>

    <p>Your current expertise locations are listed on your <%= link_to "Profile", expert_user_url(@user) %>. You can find a list of location changes in your <%= link_to "Profile History", history_expert_user_url(@user.id) %>.</p>
  </td>
</tr>

<tr>
  <td class="meta_details"><strong>Please don't reply to this email.</strong> If you need help regarding this issue, please contact <%= link_to "eXtension Support", home_about_url() %>.</td>
</tr>
<%= render :partial => 'partials/internal_email_footer' %>
