<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3 class="last-call">PLEASE READ: These are the last questions submitted to the old Ask an Expert system. New questions will all be in the new Ask Extension system.</h3>
    <h3>Please answer or close these questions.</h3>
    <p>Thanks for your help!</p>
    <h3>Your Groups Have Questions Older Than 24 Hours</h3>
    <p class="meta">You can change your <%= link_to 'notification settings', expert_user_groups_url(@user.id) %> on your Group page</p>

    <h3>The Oldest Question in Each Group</h3>
    <table>
    <% @groups.each do |group| %>
      <tr>
        <td class="group_question">
          <p><%= get_avatar_for_group(group, :thumb, false, false) %> <%= link_to group.name, expert_group_url(group.id) %></p>
          <% @question = group.open_questions.order('created_at ASC').first %>
            <% if @question %>
            <div class="question_title"><%= link_to(@question.title.html_safe, expert_question_url(@question)) -%></div>
            <% if @question.assignee_id.present? %>
              <p><%= link_expert_user(@question.assignee) %> is the assigned expert.</p>
            <% end %>
            <p>Submitted <strong><%= time_ago_in_words(@question.created_at) %></strong> ago</p>
            <p class="meta"><%= @question.created_at.strftime("%A, %B %e, %Y, %l:%M %p %Z") %></p>
            <% else %>
              <p>The question has been answered!</p>
            <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </td>
</tr>

<%= render :partial => 'partials/internal_email_footer' %>
