<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3>Your Groups Have Questions Older Than 24 Hours</h3>
    <p class="meta">You can change your <%= link_to 'notification settings', expert_user_groups_path(@user.id) %> on your Group page</p>
    
    <h3>The Oldest Question in Each Group</h3>
    <table>
    <% @groups.each do |group| %>
      <tr>
        <td class="group_question">
          <p><%= link_public_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_url(group.id) %></p>
          <% @question = group.open_questions.order('created_at DESC').first %>
          <div class="question_title"><%= link_to(format_text_for_display(@question.title), expert_question_url(@question)) -%></div>
          <p>Submitted <strong><%= time_ago_in_words(@question.created_at) %></strong> ago</p>
          <p class="meta"><%= @question.created_at.strftime("%A, %B %e, %Y, %l:%M %p %Z") %></p>
        </td>
      </tr>
    <% end %>
    </table>
  </td>
</tr>

<%= render :partial => 'partials/internal_email_footer' %>