<div id="comment-<%= comment.id %>" class="cc-comment <%= comment_class(comment) %>">
  <div id="view-comment-<%= comment.id %>" class="cc-comment-anchor"></div>
  
  <div class="content">
    <%= format_text_for_display(comment.content) %>
  </div>
  
  <p class="comment-author">
    <% if comment.user.has_exid? %>
      <%= link_public_user_avatar(comment.user, :mini) %> <%= link_to comment.user.public_name, user_path(comment.user.id) %>
    <% else %>
      <strong><%= comment.user.public_name %></strong>
    <% end %>
  </p>
  
  <p class="comment-actions">
    <%= link_to "#{time_ago_in_words(comment.updated_at)} ago", question_path(comment.question, :anchor => "view-comment-#{comment.id}"), {:class => "comment-timestamp", :title => "Link to this comment"} %>

    
    <%- if current_user && (current_user.id == comment.user_id) -%>
      <%= link_to 'edit', edit_comment_path(comment), class: "muted", remote: true %>
    <%- end %>

    <% if current_user && !comment.question.is_private %>
      <%= link_to 'reply', reply_comments_path(comment_id: comment.id), class: '', id: "reply-to-comment-#{comment.id}", remote: true, :data => { :comment => comment.id } %>

      <%= link_to 'cancel reply', cancel_reply_comments_path(comment_id: comment.id), style: "display: none;", class: 'cancel-reply-to-comment', id: "cancel-reply-to-comment-#{comment.id}", remote: true, :data => { :comment => comment.id } %>
    <% end %>
  </p>
    
  <% if comment.parent_removed %>
    <p class="removed">The comment preceding this comment has been deleted</p>
  <% end %>

</div>