<div class="col-md-9">
  <h1><%= @list_title %></h1>

  <div class="search_section">
    <h2>Questions <small>(with '<%= params[:q] %>' in the title, question or responses.)</small></h2>


    <% if !@questions.blank? and @questions.total_count > 0 and @questions.offset_value <= @questions.total_count %>
      <p>Displaying <strong><%= @questions.offset_value + 1 %>-<%= @questions.offset_value + @questions.size %> of <%= @questions.total_count %></strong></p>

      <%= paginate @questions %>

      <% @questions.each do |indexed_question| %>
        <%- if(question = Question.find_by_id(indexed_question.id)) -%>
          <%= render :partial => 'home/full_public_question', :locals => {:question => question} %>
        <%- end -%>
      <% end %>

      <%= paginate @questions %>

    <% elsif !@questions.blank? and @questions.offset_value > @questions.total_count %>
      <p>Congratulations Wyatt. You've reached the end of the maze.</p>
    <% elsif(!@over_search_limit.blank?) %>
      <p>You've reached the max number of return results for this query.</p>
    <% else %>
      <p>There are currently no questions with these search terms.</p>
    <% end %>
  </div>
</div>
