<div class="col-md-8">  
  <h1><%= @list_title %></h1>

  <div class="search_section">
    <h2>Questions <small>(with '<%= params[:q] %>' in the title, question or responses.)</small></h2>


    <% if @questions.total_entries > 0 %>
      <p>Displaying <strong><%= @questions.offset + 1 %>-<%= @questions.offset + @questions.size %> of <%= @questions.total_entries %></strong></p>
      <%= paginate @questions %>
      
      <% @questions.each do |question| %>
        <%= render :partial => 'home/full_public_question', :locals => {:question => question} %>
      <% end %>

      <%= paginate @questions %>
    <% else %>
      <p>There are currently no questions with these search terms.</p>
    <% end %>
  </div>  
</div>

<div class="col-md-3 col-md-offset-1">
</div>

