<% @page_title = @user.name + " Profile Settings"%>
  <ul class="nav nav-tabs">
    <li><%= link_to 'General', expert_profile_settings_path(@user) %></li>
    <li><%= link_to 'Locations', expert_location_settings_path(@user) %></li>
    <li><%= link_to 'Tags', expert_tags_settings_path(@user) %></li>
    <li><%= link_to 'Answering', expert_assignment_settings_path(@user) %></li>
    <li><%= link_to 'Group Notifications', expert_user_groups_path(@user) %></li>
  </ul>
