<% if current_user.locations.length == 0 %>
  <p>You have not selected any locations</p>
<% end %>

<div id="location_list">
  <% current_user.locations.each do |l| %> 
      <div class="location_block" id="location_block_<%= l.id %>">
          <h4><%= l.name %> <span id="location_<%= l.id %>" class="removestate btn">X</span></h4>
          
          <ul>
            <% current_user.counties.find_all_by_location_id(l.id).each do |c| %>
              <li><%= c.name %> <span id="county_<%= c.id %>" class="removecounty btn">X</span></li>
            <% end %>
          </ul>
      </div>
  <% end %>
</div>