<h1><%= link_to @user.name, expert_user_path(@user.id) %></h1>

<h2>Answering Preferences</h2>

<%= render :partial => 'expert/settings/settings_navigation' %>

<%= form_for @user, :url => expert_assignment_settings_path(@user), :html => {:class => "form-stacked no_m_t well"} do |f| %>

  <div class="info right">
    <h4>How else are questions assigned?</h4>
    <p>Experts can manually assign questions to any group or individual.</p>
  </div>
  
  
  <fieldset>
    <div>
      <h3>Away Status</h3>
      <div class="radio_options">
      <p>
        <label>
          <%= f.check_box :away %>
          Mark as away (on vacation, unavailable, inactive, etc.)
          <span>(When the "away status" is turned on, questions cannot be assigned.)</span>
        </label>
      </p>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <div>
      
      <div class="user_assignment_prefs">
        <h3>Automatic assignments</h3>
        
        <p>Automatic assignments are routed through groups. Experts who don't belong to a group won't receive any automatic assignments.</p>
        <p>
          <label>
            <%= f.check_box :auto_route %>
            <% if current_user.id == @user.id %>
            My groups may automatically assign questions to me.
            <% else %>
            Joined groups may automatically assign questions to this expert.
            <% end %>
            <span>(note: for some groups, instead of automatic assignments, leaders make assignments or members pick questions.)</span>
          </label>
        </p>
      
        
        <div class="checkbox">
          <label><%= f.radio_button :routing_instructions, 'anywhere' %>
          Question can come from anywhere</label>
        </div>
        
        <div class="checkbox">
        <label>
          <%= f.radio_button :routing_instructions, 'locations_only' %>
          Questions must match states
        </label>
        </div>
        
        <div class="checkbox">
        <label>
          <%= f.radio_button :routing_instructions, 'counties_only' %>
          Questions must match counties
        </label>
        </div>

      </div>
    </div>
    
    <h3>Email Signature</h3>
    <div class="form-group">
      <%= label :signature, 'Default signature added to responses. May be edited on a per-response basis.' %>
      <%= f.text_area :signature, "rows" => 3, class: 'wysiwyg form-control' %>
    </div>
    
    <p><%= f.submit "Save Answering Settings", :class => "btn btn-large btn-primary" %></p>
  </fieldset>
  
    
<% end %>

<script class="code" type="text/javascript">
    $('.wysiwyg').each(function(i, elem) {
      $(elem).wysihtml5({toolbar: { "fa": true, "image": false}});
    });
    
    var promptSave = true;
    
    $('input:not(:button,:submit),textarea,select').change(function () {  
      window.onbeforeunload = function () {
        if (promptSave != null) return "You have unsaved changes on this page!";
      }
    });
    $('input:submit').click(function(e) {
      promptSave = null;
    });

    
</script>