<h1><%= link_to @user.name, expert_user_path(current_user.id) %></h1>

<h2>Settings > Locations</h2>

<%= render :partial => 'expert/settings/settings_navigation' %>

<div class="explanation">
  <p><strong>Locations are used for automated assignments.</strong> If you only want questions from your locations, you can choose that option in your <%= link_to 'Answering preferences', expert_settings_assignment_path() %>.</p>
</div>

<div id="loc_wrapper" class="user" data-object="user" data-id="<%= @user.id %>">
  <%= render :partial => 'ajax/location_picker' %>
</div>