<h1><%= link_to @user.name, expert_user_path(@user.id) %></h1>

<h2>General Preferences</h2>

<%= render :partial => 'expert/settings/settings_navigation' %>

<div class="form_group">

  <% if @user.has_exid? %>
    <div id="extension_people_data">
      <h3><%= @user.name %> <small id="people_edit"><%= link_to("Name, email, primary location and timezone can be edited in people.extension.org", "http://www.extension.org/people/profile/edit") %></small></h3>
      <p><%= @user.email %></p>
      <% if @user.location %>
        <p><% if @user.county %>
          <%= @user.county.name %>
          <% end %>
          <%= @user.location.name %></p>
      <% end %>
      
      <%- if @user.has_time_zone? -%>
        <p><%= @user.time_zone %></p>
      <%- else -%>
        <p>No timezone currently set <small><%= link_to("set your timezone now", "http://www.extension.org/people/profile/edit") %></small></p>
      <%- end -%>
    </div>
  <% end %>

<%= form_for @user, :url => expert_profile_settings_path(@user.id), :html => {:multipart => true, :class => "form-stacked no_m_t well"} do |f| %>

  <fieldset>
    <p class="bio">
      <%= f.label :bio do %>
      About Me <span>(This description displays on the <%= link_to "Expert Profile", expert_user_path(current_user.id) %> and <%= link_to "Public Profile", user_path(@user.id) %>)</span>
      <% end %>
      <%= f.text_area :bio, :rows => "4", :class => "wysiwyg form-control" %>
    </p>
    
    <p class="bio">
      <%= f.label :public_name, 'Public Name' %>
      <%= f.text_field :public_name,  :class => "" %>
      <span>(if blank, <strong><%= @user.first_name + ' ' + @user.last_name[0,1] %></strong> is used on the <%= link_to "Public Profile", user_path(@user.id) %>)
    </p>
  </fieldset>
  
  <fieldset>
    <p><%= f.label :avatar, 'Profile Avatar' %> Avatars are formatted to fit a square. Uploaded images must be at least 100 x 100px. Recommended size is 250 x 250px.</p>
    <p class="clearing">
      <%= get_avatar_for_user(@user) %>
      <% if @user.avatar.present? %>
        <p class="clearing">
          <label>
            <%= check_box_tag 'delete_avatar' %>
            Remove avatar
          </label> 
        </p>
      <% end %>
      <%= f.file_field :avatar %>
    </p>
  </fieldset>
    
  <fieldset>
    <p><%= f.submit "Save Changes", :class => "btn large btn-primary" %></p>
  </fieldset>
    
<% end %>

</div>

<script class="code" type="text/javascript">
    $('.wysiwyg').each(function(i, elem) {
      $(elem).wysihtml5({toolbar: { "fa": true, "image": false}});
    });
</script>
