<h1>Profile</h1>

<%= render :partial => 'expert/settings/settings_navigation' %>

<div class="form_group">

  <% if @user.has_exid? %>
    <div id="extension_people_data">
      <p><%= @user.name %></p>
      <p><%= @user.email %></p>
      
      <p id="people_edit"><%= link_to("The above items can be edited in people.extension.org", "http://www.extension.org/people/profile/me") %></p>
    </div>
  <% end %>

<%= form_for @user, :url => expert_settings_profile_path, :html => {:multipart => true, :class => "form-stacked no_m_t well"} do |f| %>

  <fieldset>
    <p class="bio">
      <%= f.label :bio, 'Short Bio (140 characters)' %>
      <%= f.text_area :bio, :rows => "2", :maxlength => 140,  :class => "l" %>
    </p>
  </fieldset>
  
  <fieldset>
    <p><%= f.label :avatar, 'Profile Avatar' %></p>
    <p class="clearing">
      <%= get_avatar(@user) %>
      <% if @user.avatar.present? %>
        <p class="clearing">
          <label>
            <%= check_box_tag 'delete_avatar' %>
            Remove avatar
          </label> 
        </p>
      <% end %>
      <%= f.file_field :avatar %>
    </p>
  </fieldset>
    
  <fieldset>
    <p><%= f.submit "Save Changes", :class => "btn large btn-primary" %></p>
  </fieldset>
    
<% end %>

</div>
