<h1><%= link_to @user.name, expert_user_path(current_user.id) %></h1>
<h1>Tags</h1>

<%= render :partial => 'expert/settings/settings_navigation' %>

<div class="ui-widget">
	<label for="tag_picker">Add Tags</label>
	<input id="tag_picker" placeholder="Type and select a tag" />
</div>

<div id="tag_list" style="margin-top:1em; font-size:1.2em;">
<% if @user.tags.length > 0 %>
  <% @user.tags.each do |tag| %>
    <p id="tag_<%= tag.id %>"><span class="tag tag-topic"><%= link_to tag.name %></span> <span class="removetag">[x]</span></p>
  <% end %>
<% else %>
  <p id="needs_tags"><span class="label label-inverse">needs tags</span></p>
<% end %>
</div>

<script class="code" type="text/javascript">

		function add_tag(tag) {
		  $.ajax({
        type: "POST",
        url: "<%= expert_settings_add_tag_path(:id => @user.id) %>",
        cache: false,
        data: {tag: tag}
      })
      .done(function() {
				$("#tag_picker").autocomplete("close");
				$("#tag_picker").val('');
				return false;
      })  
      .fail(function() {
        alert("error");
        $("#tag_picker").autocomplete("close");
  			$("#tag_picker").val('');
  			return false;
      })
		}

    // create an instance of autocomplete plus a hack for using the 'enter' key instead of direct selection
		$("#tag_picker").autocomplete({
      source: "/ajax/tags",
			minLength: 2,
			select: function(e, ui) {
			  add_tag(ui.item.name);
			}
		}).keypress(function(e) {
      if (e.keyCode === 13) {
        add_tag(this.value);
      }
    });

    // remove tags
     $("#tag_list").on("click", ".removetag", function(){
       var tag = $(this).closest("p");
       $.ajax({
         type: "POST",
           url: "<%= expert_settings_remove_tag_path(:id => @user.id) %>",
           cache: false,
           data: {tag_id: tag.attr("id").replace('tag_', '')}
       })
       .done(function() {
         tag.fadeOut(500);
       })
     });

</script>