<%= form_tag('/expert/questions/activity_notificationprefs') do %>
<%= hidden_field_tag('question', @question.id) %>
  <%- if !current_user.send_activity_notification?(@question) -%>    
    <p><span class="notifylink"><%= submit_tag "Notify me when this question has activity", {:id => '1', :class => 'btn btn-small'}%></span></p>
    <%= hidden_field_tag('value', '1') %>
  <%- else -%>
    <p><span class="notifylink"><%= submit_tag "Turn off my notifications for this question", {:id => '0', :class => 'btn btn-small'}%></span></p>
    <%= hidden_field_tag('value', '0') %>
  <%- end -%> 
<% end %>