<div id="location_filter">
  <%= select_tag "status_option", raw('<option value="unanswered">Needs an Answer</option>, <option value="answered">Answered</option>'), {:prompt => "Any Status", :name => "status_option"} %>
  <%= select_tag "privacy_option", raw('<option value="private">Private</option>, <option value="public">Public</option>, <option value="switched_to_private">Switched to Private</option>'), {:prompt => "Any Privacy", :name => "privacy_option"} %>
  <br class="clearing" />
  <div id="location_picker">
	<%= select_tag "location_option", options_from_collection_for_select(@locations, "id", "name", @location_pref), {:prompt => "All locations", :name => "location_option"} %>
  </div>
  
  <div id="county_list">
    <% if @location_pref.present? %>
      <%= render :partial => 'expert/home/counties', :locals => {:location_obj => Location.find_by_id(@location_pref)} %>  
    <% end %>
  </div>

  <%= select_tag "group_option", options_from_collection_for_select(@my_groups, "id", "name", @group_pref), {:prompt => "All groups", :name => "group_option"} %>
	
  <%= select_tag "tag_option", options_from_collection_for_select(@my_tags, "id", "name", @tag_pref), {:prompt => "All tags (from your tag list)", :name => "tag_option"} %>
  
    
  <br class="clearing" />
</div>



<script class="code" type="text/javascript">
  $("#location_option").change(function() {
    var locations = $('select#location_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { locations: locations });
    window.location = '<%= expert_questions_path(:status => params[:status], :privacy => params[:privacy], :groups => params[:groups], :tags => params[:tags]) %>&locations=' + locations;
    return false;
  });

  $("#county_option").change(function() {
    var counties = $('select#county_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { counties: counties });
    window.location = '<%= expert_questions_path(:status => params[:status], :privacy => params[:privacy], :locations => params[:locations], :groups => params[:groups], :tags => params[:tags]) %>&counties=' + counties;
    return false;
  });

  $("#group_option").change(function() {
    var groups = $('select#group_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { groups: groups });
    window.location = '<%= expert_questions_path(:status => params[:status], :privacy => params[:privacy], :counties => params[:counties], :locations => params[:locations], :tags => params[:tags]) %>&groups=' + groups;
    return false;
  });

  $("#tag_option").change(function() {
    var tags = $('select#tag_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { tags: tags });
    window.location = '<%= expert_questions_path(:status => params[:status], :privacy => params[:privacy], :counties => params[:counties], :groups => params[:groups], :locations => params[:locations]) %>&tags=' + tags;
    return false;
  });
  $("#status_option").change(function() {
    var status = $('select#status_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { status: status });
    window.location = '<%= expert_questions_path(:locations => params[:locations], :privacy => params[:privacy], :groups => params[:groups], :tags => params[:tags]) %>&status=' + status;
    return false;
  });
  $("#privacy_option").change(function() {
    var privacy = $('select#privacy_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { privacy: privacy });
    window.location = '<%= expert_questions_path(:locations => params[:locations], :status => params[:status], :groups => params[:groups], :tags => params[:tags]) %>&privacy=' + privacy;
    return false;
  });
</script>