<div id="location_filter">

  <%= select_tag "status_option", raw('<option value="unanswered">Needs an Answer</option>, <option value="answered">Answered</option>'), {:prompt => "Any Status", :name => "status_option"} %>
  <%= select_tag "privacy_option", raw('<option value="private">Private</option>, <option value="public">Public</option>, <option value="switched_to_private">Switched to Private</option>'), {:prompt => "Any Privacy", :name => "privacy_option"} %>
  <br class="clearing" />
  <div id="location_picker">
	<%= select_tag "location_option", options_from_collection_for_select(@locations, "id", "name", @location_pref), {:prompt => "All locations", :name => "location_option"} %>
  </div>
  
  <div id="county_list">
    <% if @location_pref.present? %>
      <%= render :partial => 'expert/home/counties', :locals => {:location_obj => Location.find_by_id(@location_pref)} %>  
    <% end %>
  </div>

  <%= select_tag "group_option", options_from_collection_for_select(@my_groups, "id", "name", @group_pref), {:prompt => "All groups", :name => "group_option"} %>
	
  <%= select_tag "tag_option", options_from_collection_for_select(@my_tags, "id", "name", @tag_pref), {:prompt => "All tags (from your tag list)", :name => "tag_option"} %>
  
    
  <br class="clearing" />
</div>



<script class="code" type="text/javascript">
  $("#location_option").change(function() {
    var location_id = $('select#location_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { location_id: location_id });
    window.location = '<%= expert_questions_path(:status => params[:status], :privacy => params[:privacy], :group_id => params[:group_id], :tag_id => params[:tag_id]) %>&location_id=' + location_id;
    return false;
  });

  $("#county_option").change(function() {
    var county_id = $('select#county_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { county_id: county_id });
    window.location = '<%= expert_questions_path(:status => params[:status], :privacy => params[:privacy], :location_id => params[:location_id], :group_id => params[:group_id], :tag_id => params[:tag_id]) %>&county_id=' + county_id;
    return false;
  });

  $("#group_option").change(function() {
    var group_id = $('select#group_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { group_id: group_id });
    window.location = '<%= expert_questions_path(:status => params[:status], :privacy => params[:privacy], :county_id => params[:county_id], :locations => params[:locations], :tag_id => params[:tag_id]) %>&group_id=' + group_id;
    return false;
  });

  $("#tag_option").change(function() {
    var tag_id = $('select#tag_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { tag_id: tag_id });
    window.location = '<%= expert_questions_path(:status => params[:status], :privacy => params[:privacy], :county_id => params[:county_id], :group_id => params[:group_id], :location_id => params[:location_id]) %>&tag_id=' + tag_id;
    return false;
  });
  $("#status_option").change(function() {
    var status = $('select#status_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { status: status });
    window.location = '<%= expert_questions_path(:location_id => params[:location_id], :county_id => params[:county_id], :privacy => params[:privacy], :group_id => params[:group_id], :tag_id => params[:tag_id]) %>&status=' + status;
    return false;
  });
  $("#privacy_option").change(function() {
    var privacy = $('select#privacy_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { privacy: privacy });
    window.location = '<%= expert_questions_path(:location_id => params[:location_id], :county_id => params[:county_id], :status => params[:status], :group_id => params[:group_id], :tag_id => params[:tag_id]) %>&privacy=' + privacy;
    return false;
  });
</script>