<p id="aaeid">Question #<%= @question.id %> - <small><%= link_to (@question.is_private ? "No Public URL" : "Public URL"), question_path(@question.id) %></small> | <small><%= link_to "Revisions", history_expert_question_path(@question.id) %></small> | <small><a id="notify_me_link" class="cursor">Watch</a></small></p>

<div id="notificationprefs" style="display:none;">
  <%= render :partial => 'activity_notification' %>
</div>


<p id="aaeid">
  <% if @question.is_private %>
    <% if @question.is_private_reason == Question::PRIVACY_REASON_REJECTED %>
      Rejected questions are not publicly viewable | 
    <% elsif @question.is_private_reason == Question::PRIVACY_REASON_SUBMITTER %>
      <span class="tag tag-private"><span>Private</span></span>
    <% elsif  @question.is_private_reason == Question::PRIVACY_REASON_EXPERT %>
      <span class="tag tag-public"><span class="cursor make_public_link">Switched to Private</span></span> <span class="cursor make_public_link">Make public</span> |
    <% else %>
      <span class="tag tag-private"><span>Private</span></span>
    <% end %>
  <% else %>
    <span class="tag tag-public"><span class="cursor make_private_link">Public</span></span> <span class="cursor make_private_link">Make private</span> |
  <% end %>

 <%= link_to "Edit", edit_expert_question_path(@question.id) %>  | <%= link_to "Reassign", reassign_expert_question_path(@question.id) %>
 
 <% if  @question.status_state != Question::STATUS_RESOLVED && 
   @question.status_state != Question::STATUS_NO_ANSWER &&
  @question.status_state != Question::STATUS_REJECTED && 
  @question.status_state != Question::STATUS_CLOSED %>
 | <%= link_to raw("Close&hellip;"), close_out_expert_question_path(@question.id) %> | <%= link_to raw("Reject&hellip;"), reject_expert_question_path(@question.id) %>
 <% end %>
 
</p>


<% if @question.is_private %>
  <% if @question.is_private_reason != Question::PRIVACY_REASON_REJECTED %>

    <% if @question.is_private_reason == Question::PRIVACY_REASON_EXPERT %>
      <div id="make_public_edit" style="display:none;">
        <aside id="public_question">
        <h3>This question was submitted as a public question, but an expert switched it to private.</h3>
        <p class="btn btn-primary make_public">Make this question public again</p>
        </aside>
      </div>
    <% end %>

  <% end %>
<% else %>

  
    <div id="make_private_edit" style="display:none;">
      <aside id="public_question">
      <h3>This question was submitted as a public question, but it can be switched to private.</h3>
      <p class="btn btn-primary make_private">Make this question private</p>
      </aside>
    </div>
  
  
<% end %>


<script class="code" type="text/javascript">
  $("#notify_me_link").click(function () {
    $("#notificationprefs").toggle();
  });
  
  $(".make_private_link").click(function () {
    $("#make_private_edit").toggle();
  });
  $(".make_public_link").click(function () {
    $("#make_public_edit").toggle();
  });

     $("#make_public_edit").on("click", ".make_public", function(){
       $.ajax({
         type: "POST",
           url: "<%= make_public_expert_question_path(:id => @question.id) %>",
           cache: false
       })
       .done(function() {
         $("#make_public_edit").hide();
       })
     });
     
     $("#make_private_edit").on("click", ".make_private", function(){
        $.ajax({
          type: "POST",
            url: "<%= make_private_expert_question_path(:id => @question.id) %>",
            cache: false
        })
        .done(function() {
          $("#make_private_edit").hide();
        })
      });

</script>