<% if @question.is_private %>
  <h4 class="lock"><%= link_to "This question is private", question_path(@question.id) %></h4>
  
  <% if @question.is_private_reason == Question::PRIVACY_REASON_SUBMITTER %>
    PRIVACY_REASON_SUBMITTER
  <% end %>
  
  <% if @question.is_private_reason == Question::PRIVACY_REASON_SUBMITTER %>
    PRIVACY_REASON_SUBMITTER
  <% end %>
  
  <div id="privacy_edit">
    <p><small>The submitter choose to make this question private. It can't be made public.</small></p>
  </div>
  
  
  <h4 class="lock"><%= link_to "This question is private", question_path(@question.id) %> <span class="btn">edit</span></h4>
  <div class="privacy_edit">
    <p>The submitter choose to make this question public, but an expert switched it to a private.</p>
    <p class="btn make_public">Make this question public again</p>
  </div>
  
  
<% else %>
  <h3><i class="icon-globe"></i> <%= link_to "This question is public", question_path(@question.id) %> <span class="btn">edit</span></h3>
  
  <div class="privacy_edit">
    <% if @question.is_private_reason == Question::PRIVACY_REASON_PUBLIC %>
      PRIVACY_REASON_SUBMITTER
    <% end %>
    
    <p>The submitter choose to make this question public, but it can be converted to a private question.</p>
    <p class="btn make_private">Make this question private</p>
  </div>
  
<% end %>


<script class="code" type="text/javascript">

     $(".privacy_edit").on("click", ".make_public", function(){
       $.ajax({
         type: "POST",
           url: "<%= make_public_expert_question_path(:id => @question.id) %>",
           cache: false
       })
       .done(function() {
       })
     });
     
     $(".privacy_edit").on("click", ".make_private", function(){
        $.ajax({
          type: "POST",
            url: "<%= make_private_expert_question_path(:id => @question.id) %>",
            cache: false
        })
        .done(function() {
        })
      });

</script>