<h2 class="title"><%= format_text_for_display(@question.title) -%></h2>

<div id="question">
<div class="question_body"><%= format_text_for_display(@question.body) %></div>

  <% @question.images.each do |image| %>
    <% if File.exists?(Rails.root.join("public#{image.url(:original,false)}")) %>
    <a data-toggle="modal" href="#myModal<%= image.id %>"><%= image_tag image.url(:thumb), :class => "size100w" %></a>
    
    <div id="myModal<%= image.id %>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
      <p>
        <strong><a href="#" type="button" data-dismiss="modal" aria-hidden="true">Close</a></strong> -
        <%= link_to "View full size in a new window", image.url(), :target => "_blank" %>
      <p>
        </div>
      <div class="modal-body">
        <%= image_tag image.url() %>
      </div>
    </div>
    <% else %>
      <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image size80x80') %>
    <% end %>
  <% end %>


<p>Asked 
  <% if @original_group.present? %>
    to the <%= link_to @original_group.name, expert_group_path(@original_group.id) %> group
  <% end %>
	      
  <%= time_ago_in_words(@question.created_at) %> ago 
  
  <% if @question.submitter %>
    by <%= link_to @question.submitter.public_name, expert_user_submitted_path(@question.submitter) %>
  <% end %>
</p>

  <div id="question_location">
    <%= render :partial => 'question_location' %>
  </div>
  
  

    <div id="tag_picker_wrapper">
      <div class="ui-widget">
        <label for="tag_picker">Add Tags</label>
    	  <input id="tag_picker" placeholder="Type a word and select it..." /> 
      </div>
    </div>

    <div id="tags">

    <% if @question.tags.size > 0 %>
      <% @question.tags.each do |tag| %>
        <% if @question.assigned_group %>
          <p class="tagwrapper" id="tag_<%= tag.id %>"><span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @question.assigned_group.id, :tag_id => tag.id) %></span> <span class="btn removetag">x</span></p>
        <% else %>
          <p class="tagwrapper" id="tag_<%= tag.id %>"><span class="tag tag-topic"><%= link_to tag.name, expert_home_tags_path(:name => tag.name) %></span> <span class="btn removetag">x</span></p>
        <% end %>
      <% end %>
    <% else %>

    <% end %>

    </div>

    <p><small>(All tags are viewable on public questions)</small></p>

  
</div>

<% if @question_responses.size > 0 %>
  <h3 class="h3">Responses</h3>
  <% @question_responses.each do |response| %>
    <div class="response_block">
      <div class="response"><%= format_text_for_display(response.body) %></div>
      <div class="signature"><%= format_text_for_display(response.signature) %></div>
      
      <div id="response_images">
      <% response.images.each do |image| %>
        <% if File.exists?(Rails.root.join("public#{image.url(:original,false)}")) %>

        <a class="image_wrapper" data-toggle="modal" href="#myModal<%= image.id %>"><%= image_tag image.url(:thumb) %></a>

        <div id="myModal<%= image.id %>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
          <p>
            <strong><a href="#" type="button" data-dismiss="modal" aria-hidden="true">Close</a></strong> -
            <%= link_to "View full size in a new window", image.url(), :target => "_blank" %>
          <p>
            </div>
          <div class="modal-body">
            <%= image_tag image.url() %>
          </div>
        </div>
        <% else %>
          <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image size80x80') %>
        <% end %>
      <% end %>
        <br class="clearing" />
      </div>
      
      <div class="author">
        <% if response.resolver_id %>
          <%= link_to expert_user_path(response.resolver_id) do %>
            <%= link_public_user_avatar(response.resolver, :thumb) %> <%= link_to response.resolver.name, expert_user_path(response.resolver_id) %>
          <% end %>
        <% else %>
          <p>Anonymous Guest</p>
        <% end %>
        <p><small>Posted <%= time_ago_in_words(response.created_at) %> ago</small></p>
      </div>
    </div>
  <% end %>
<% end %>




<script class="code" type="text/javascript">

		function add_tag(tag) {
		  $.ajax({
        type: "POST",
        url: "<%= expert_questions_add_tag_path(:id => @question.id) %>",
        cache: false,
        data: {tag: tag}
      })
      .done(function() {
				$("#tag_picker").autocomplete("close");
				$("#tag_picker").val('');
				return false;
      })  
      .fail(function() {
        alert("error");
        $("#tag_picker").autocomplete("close");
  			$("#tag_picker").val('');
  			return false;
      })
		}

    // create an instance of autocomplete plus a hack for using the 'enter' key instead of direct selection
		$("#tag_picker").autocomplete({
			source: "/ajax/tags",
			minLength: 2,
			select: function(e, ui) {
			  add_tag(ui.item.name);
			}
		}).keypress(function(e) {
      if (e.keyCode === 13) {
        add_tag(this.value);
      }
    });

    // remove tags
     $("#tags").on("click", ".removetag", function(){
       var tag = $(this).closest(".tagwrapper");
       $.ajax({
         type: "POST",
           url: "<%= expert_questions_remove_tag_path(:id => @question.id) %>",
           cache: false,
           data: {tag_id: tag.attr("id").replace('tag_', '')}
       })
       .done(function() {
         tag.fadeOut(500);
       })
     });

</script>