<% @page_title = "Close this Question" %>

<h3><%= link_to "Question ##{@question.id}", expert_question_path(@question) %></h3>

<h1><%= @page_title %> <%= link_to "Cancel", expert_question_path(@question.id), :class => "btn" %></h1>

<div class="bekind">
  <h3>Please don't close questions that can be answered.</h3>
  <p>If no one can answer this question within Ask an Expert, you could use the <%= link_to "canned response answer option", expert_question_path(@question, :anchor => "answer_form", :canned_response => true) %> to suggest contacting their local office.</p>
</div>

<h4><strong>Note:</strong> No information is sent to the question submitter when a question is closed.</h4>


<%= form_tag close_out_expert_question_path(@question.id) do %>
  <p>
    <label for="close_out_question">Reason for closing this question</label>
    <%= text_field_tag :close_out_reason, "", class: 'form-control' %>
  </p>
  
  <p>
    <%= submit_tag 'Close Question', :class => "btn btn-primary"%>
  </p>
<% end %>