<% @page_title = "Close this Question" %>

<div id="reject">
    <h3><%= link_to "Incoming Question #{@question.id}", expert_question_path(@question) %></h3>
    <h1><%= @page_title %></h1>

<p><strong>note:</strong> No information will be sent to the question submitter.</p>

<p class="bekind">Please don't close questions that can be answered. If no one can answer this question, respond and suggest their local office.</p>

<%= form_tag close_out_expert_question_path(@question.id) do %>
    <p>
        <label for="close_out_question">Reason for closing this question</label>
        <%= text_field_tag :close_out_reason %>
    </p>
    <p>
        <%= submit_tag 'Close'%>
    </p>
<% end %>


<div id="inc_body" class="aaedelete">
	<h2 class="inc_question"><span><%= @question.body %></span></h2>
	<p class="inc_descriptive clear"><strong><%= @submitter_name %></strong> submitted this question <%= time_ago_in_words(@question.created_at) %> ago</p>
	<p class="clear">Submitted <%= time_ago_in_words(@question.created_at) %> ago</p>
</div>

</div>