<% @page_title = "Revision History for Question ##{@question.id}"%>

<p id="aaeid"><%= link_to "Question ##{@question.id}", expert_question_url(@question) %></p>

<h1><%= link_to 'Revision History', history_expert_question_path(@question.id) %> > Revision Comparison</h1>


<div class="revision_description">

    <p><% if @version == @question.versions.first %>
      <strong>Revision 0 (Original Question)</strong>
    <% else %>
      <strong>Revision <%= @previous_version.id %></strong>
    <% end %>
      by
    
    <% if @previous_submitter.has_exid? %>
	  <%= link_to expert_user_path(@previous_submitter) do %>
        <%= link_expert_user_avatar(@previous_submitter, :thumb) %> <%= link_to @previous_submitter.public_name, expert_user_path(@previous_submitter) %>
      <% end %>
    <% else %>
      <%= link_to @previous_submitter.public_name, expert_user_submitted_path(@previous_submitter) %>
    <% end %>
    at 
    <% if @version == @question.versions.first %>
      <%= humane_date(@question.created_at) %>
    <% else %>
      <%= humane_date(@previous_version.created_at) %>
    <% end %>
    <p>
  
    <p><strong>Revision <%= @version.id %></strong> by 
	<% if @version_submitter.has_exid? %>
	  <%= link_to expert_user_path(@version_submitter) do %>
        <%= link_expert_user_avatar(@version_submitter, :thumb) %> <%= link_to @version_submitter.public_name, expert_user_path(@version_submitter) %>
      <% end %>
    <% else %>
      <%= link_to @version_submitter.public_name, expert_user_submitted_path(@version_submitter) %>
    <% end %>
    at <%= humane_date(@version.created_at) %>
  </p>

</div>

<% if defined?(@title_diff) && @title_diff.present? %>
  <div class="diff_box">
    <h3>Title Changes</h3>
    <p><%= @title_diff %></p>
  </div>
<% end %>

<% if defined?(@body_diff) && @body_diff.present? %>
  <div class="diff_box">
    <h3>Body Changes</h3>
    <p><%= @body_diff %></p>
  </div>
<% end %>

<%= form_tag(restore_revision_expert_question_path(:id => @question.id, :version_id => @version.id)) do %>
  <p><% if @version == @question.versions.first %>
      <%= submit_tag "Restore Original Question", {:class => 'btn'} %>
    <% else %>
      <%= submit_tag "Restore Revision ##{@previous_version.id}", {:class => 'btn btn-primary'} %>
    <% end %>
  </p>
<% end %>