<% @page_title = "Edit Question ##{@question.id}"%>

<div id="main" class="span8">
  <div id="question_wrapper">
    <p id="aaeid"><%= link_to "Question ##{@question.id}", expert_question_url(@question) %></p>
  
    <h1>Edit Question</h1>
    <h3>Editing guidelines</h3>
    <ul>
      <li>Please correct grammatical and spelling errors.</li>
      <li>Titles may be rewritten in order to optimize public questions for search results.</li>
      <li>Editing the question body or title doesn't generate any email notifications</li>
    </ul>
    <div id="edit_question" class="formy">
  
	    <%= form_for @question, :url => expert_question_path(@question) do |f| %>
	  
    	  <fieldset>
          <p>
            <%= f.label :title, 'Title' %>
            <%= f.text_field :title, {:maxlength => 100, :type => "text", :class => "xl required"} %>
          </p>
      
          <p>
            <%= f.label :body, 'Question' %>
            <%= f.text_area :body, :rows => 12, :class => "xl required wysiwyg" %>
          </p>
    	  </fieldset>

          <p>
	       <%= label_tag :reason, 'Reason for editing (This is saved in the revision history)' %>
	       <%= text_area_tag :reason, nil, { rows: 5 } %>
	      </p>

    	  <p><%= submit_tag "Save changes", :class => 'btn btn-primary' %></p>
    	<% end %>
    	
    </div>
    
  </div>
</div>


<script class="code" type="text/javascript">
  $(document).ready(function () {
    
    // http://www.jquery4u.com/mobile/detect-mobile-devices-jquery/
    var isiDevice = /ipad|iphone|ipod/i.test(navigator.userAgent.toLowerCase());

    if (!isiDevice)
    {
      $('.wysiwyg').each(function(i, elem) {
        $(elem).wysihtml5({image: false});
      });
    }

  });

</script>