<% @page_title = "Edit Response ##{@response.id}"%>

<div id="main" class="span8">
  <div id="question_wrapper">
    <p id="aaeid"><%= link_to "Question ##{@question.id}", expert_question_url(@question) %></p>
    
    <h1>Edit Response</h1>
    <h3>Editing guidelines</h3>
    <% if @response.is_expert %>
      <ul>
        <li>Please correct grammatical, spelling or factual errors.</li>
        <li>The expert who wrote this response will be notified EVERY time you click "Save changes".</li>
        <li>Only click 'Notify question submitter of this edit' if your edit substantially alters the response, i.e. factual changes.</li>
      </ul>
    <% else %>
    <p>
	  NOTE: You are editing a response from the question submitter. Please correct grammatical and spelling errors in order to optimize public questions for search results. Since these changes should not be factual and just minor, no notifications will be sent to the submitter or anyone else.
	</p>
    <% end %>
    <div id="edit_response" class="formy">
      
	  <%= form_for @response, :url => update_response_expert_question_path(:id => @question.id, :response_id => @response.id) do |f| %>
	  
	    <fieldset>  
        <p>
          <%= f.label :body, 'Response' %>
          <%= f.text_area :body, :rows => 12, :class => "xl required wysiwyg" %>
        </p>
       
        <p>
	     <%= label_tag :reason, 'Reason for editing (This is saved in the revision history)' %>
	     <%= text_area_tag :reason, nil, { rows: 5 } %>
	    </p>
	
	    <% if @response.is_expert %>
	    <p>
		  <label><%= check_box_tag :notify_submitter %> Notify question submitter of this edit</label>

		</p>
		<% end %>
  	  </fieldset>
    
    
      <% if @response.is_expert %>
        <p>The expert who wrote this response will be notified EVERY time you click "Save changes".</p>
      <% end %>
      
      
	  <p><%= submit_tag "Save changes", :class => 'btn btn-primary' %></p>
	<% end %>
</div>

</div>

<script class="code" type="text/javascript">
  $(document).ready(function () {
    
    // http://www.jquery4u.com/mobile/detect-mobile-devices-jquery/
    var isiDevice = /ipad|iphone|ipod/i.test(navigator.userAgent.toLowerCase());

    if (!isiDevice)
    {
      $('.wysiwyg').each(function(i, elem) {
        $(elem).wysihtml5({image: false});
      });
    }

  });

</script>