<% @page_title = "Edit Response ##{@response.id}"%>

<div id="main" class="span8">
  <div id="question_wrapper">
    <p id="aaeid"><%= link_to "Question ##{@question.id}", expert_question_url(@question) %></p>
    
    <h1>Edit Question</h1>
    <h3>Editing guidelines</h3>
    <p>Please correct grammatical and spelling errors only. Submitters are not notified of edits. Factual errors should be handled with a new response. (The response will notify the submitter.)</p>
    <div id="edit_response" class="formy">
      
	  <%= form_for @response, :url => update_response_expert_question_path(:id => @question.id, :response_id => @response.id) do |f| %>
	  
	    <fieldset>  
        <p>
          <%= f.label :body, 'Response' %>
          <%= f.text_area :body, :rows => 12, :class => "xl required wysiwyg" %>
        </p>
       
        <p>
	     <%= label_tag :reason, 'Reason' %>
	     <%= text_area_tag :reason, nil, { rows: 5 } %>
	    </p>
	
	    <p>
		  <label><%= check_box_tag :notify_submitter %> Notify Question Submitter of this Change</label>
		  <p>Note: A notification should be generated if there are any factual changes in the response or changes that would affect the nature of it that a submitter would like to know. All other changes (ie. grammer, spelling, minor changes etc.) do not need submitter notification but the author of the original response will be automatically notified on every change.</p>
		</p>
  	  </fieldset>

	  <p><%= submit_tag "Save changes", :class => 'btn btn-primary' %></p>
	<% end %>
</div>

</div>

<script class="code" type="text/javascript">
  $(document).ready(function () {
    
    // http://www.jquery4u.com/mobile/detect-mobile-devices-jquery/
    var isiDevice = /ipad|iphone|ipod/i.test(navigator.userAgent.toLowerCase());

    if (!isiDevice)
    {
      $('.wysiwyg').each(function(i, elem) {
        $(elem).wysihtml5({image: false});
      });
    }

  });

</script>