<% @page_title = "Reassign"%>

<div id="main" class="span8">

<h3><%= link_to "Question ##{@question.id}", expert_question_url(@question) %></h3>

<h1>Reassign this question <%= link_to "Cancel", expert_question_path(@question.id), :class => "btn" %></h1>

<% if @question.assignee != current_user %>
  <p><%= link_to "Assign to me", assign_expert_question_path(:id => @question.id, :assignee_login => current_user.login), :method => :post, :class => "btn-primary btn" %></p>
<% end %>
<p><%= button_to "Assign to a Question Wrangler", assign_to_wrangler_expert_question_path(@question.id), :class => "btn btn-primary" %></p>


<h4>Experts that match these options...</h4>

<table class="table table-bordered">

  <tr id="filter_terms">
    <td><%= will_paginate @expert_results %></td>
  <% filter_terms = [] %>
    <% if @question.county.present? %>
      <% filter_terms <<  @question.county.name %> 
      <td><p class="rotate30"><span class="tag tag-geography"><%= "#{@question.county.name}" %></span> <span class="removetag">[x]</span></p></td>
    <% end %>

    <% if @question.location.present? %>
      <% filter_terms <<  @question.location.name %> 
      <td><p class="rotate30"><span class="tag tag-geography"><%= @question.location.abbreviation %></span> <span class="removetag">[x]</span></p></td>
    <% end %>

    <% if @question.tags.length > 0 %>
      <% @question.tags.each do |tag| %>
        <% filter_terms <<  tag.name %> 
        <td><p id="tag_<%= tag.id %>" class="rotate30"><span class="label"><%= tag.name %></span> <span class="removetag">[x]</span></p></td>
      <% end %>
    <% end %>
  </tr>


<% if @expert_results.length > 0 %>
      <% @expert_results.each do |expert| %>
        <% expert_expertise_counties = expert.expertise_counties %>
        <% expert_expertise_locations = expert.expertise_locations %>
        <% expert_tags = expert.tags %>
        <tr>
        <td>
          <p>
            <%= link_expert_user_avatar(expert, :thumb) %> <%= link_to expert.name, expert_user_path(expert.id) %>
            <%= link_to "Assign", assign_expert_question_path(:id => @question.id, :assignee_login => expert.login), :method => :post, :class => "btn btn-primary" %>
          </p>
          <% filter_terms.each do |term| %>
            <td>
	          <% if @question.county.present? && term == @question.county.name && expert_expertise_counties.include?(@question.county) %>
	            <i class="icon-ok"></i>
	          <% elsif @question.location.present? && term == @question.location.name && expert_expertise_locations.include?(@question.location) %>
	            <i class="icon-ok"></i>
	          <% else %>
	            <% if expert_tags.map(&:name).include?(term) %>
	              <i class="icon-ok"></i>
	            <% end %>
	          <% end %>
	        </td>
          <% end %>
        </td>
        </tr>
      <% end %>
    </tr>
<% else %>
  <p>No County and Tag Matches</p>
<% end %>
</table>