<% @page_title = "Reassign"%>

<div id="main" class="span8">

<h3><%= link_to "Question ##{@question.id}", expert_question_url(@question) %></h3>

<h1>Reassign this question <%= link_to "Cancel", expert_question_path(@question.id), :class => "btn" %></h1>

<% if @question.assignee != current_user %>
  <p><%= link_to "Assign to me", assign_expert_question_path(:id => @question.id, :assignee_login => current_user.login), :method => :post, :class => "btn-primary btn" %></p>
<% end %>
<p><%= button_to "Assign to a Question Wrangler", assign_to_wrangler_expert_question_path(@question.id), :class => "btn btn-primary" %></p>


<h4>Experts that match these options...</h4>

<table class="table table-bordered">

  <tr id="filter_terms">
    <td><%= link_to "Mix it up", reassign_expert_question_path(@question.id), :class => "btn" %></td>
    <% filter_terms = [] %>
    <% if @question.county.present? %>
      <% filter_terms <<  @question.county.name %> 
      <td><p class="rotate30"><span class="tag tag-geography"><%= "#{@question.county.name} County" %></span> <span class="removetag">[x]</span></p></td>
    <% end %>

    <% if @question.location.present? %>
      <% filter_terms <<  @question.location.name %> 
      <td><p class="rotate30"><span class="tag tag-geography"><%= @question.location.abbreviation %></span> <span class="removetag">[x]</span></p></td>
    <% end %>

    <% if @question.tags.length > 0 %>
      <% @question.tags.each do |tag| %>
        <% filter_terms <<  tag.name %> 
        <td><p id="tag_<%= tag.id %>" class="rotate30"><span class="label"><%= tag.name %></span> <span class="removetag">[x]</span></p></td>
      <% end %>
    <% end %>
  </tr>


<% if @tag_and_location_experts.length > 0 %>
      <% @tag_and_location_experts.each do |member| %>
        <tr>
        <td>
          <p>
            <%= get_avatar(member, :thumb) %> <%= link_to member.name, expert_user_path(member.id) %>
            <%= link_to "Assign", assign_expert_question_path(:id => @question.id, :assignee_login => member.login), :method => :post, :class => "btn btn-primary" %>
          </p>
          <% filter_terms.each do |i| %>
            <td><i class="icon-ok"></i></td>
          <% end %>
        </td>
        </tr>
      <% end %>
    </tr>
<% else %>
  <p>No County and Tag Matches</p>
<% end %>
</table>