<% @page_title = "Reassign"%>

<div id="main" class="span8">

<h3><%= link_to "Question ##{@question.id}", expert_question_url(@question) %></h3>

<h1>Reassign this question <%= link_to "Cancel", expert_question_path(@question.id), :class => "btn" %></h1>

<% if @question.assignee != current_user %>
  <p><%= link_to "Assign to me", assign_expert_question_path(:id => @question.id, :assignee_id => current_user.id), :method => :post, :class => "btn-primary btn" %></p>
<% end %>
<p><%= button_to "Assign to a Question Wrangler", assign_to_wrangler_expert_question_path(@question.id), :class => "btn btn-primary" %></p>

<input id="expert_name" placeholder="Search for Experts and Groups by Name" />


<script class="code" type="text/javascript">
    // create an instance of autocomplete plus a hack for using the 'enter' key instead of direct selection
		$("#expert_name").autocomplete({
      source: "/ajax/experts",
			minLength: 2,
			select: function(e, ui) {
			  if(ui.item.class_type == "User") {
			    window.location = '<%= assign_options_expert_question_url(:id => @question.id) %>?expert_id=' + ui.item.id
			  }
			  else if (ui.item.class_type == "Group") {
		        window.location = '<%= group_assign_options_expert_question_url(:id => @question.id) %>?group_id=' + ui.item.id
		      }
			}
		}).keypress(function(e) {
      if (e.keyCode === 13) {
        window.location = '<%= assign_options_expert_question_url(:id => @question.id) %>?expert_id=' + this.value
      }
    });

</script>



<% if (!@question.location.present?) && (@question.tags.length == 0) %>
  <h3 class="nomatches">We can't recommendation any experts or groups because this question does not have any tags or a location. Please add some tags to generate some matches.</h3>

<% else %>


<table class="table table-bordered">

  <tr id="filter_terms">
    <td>
      <strong>Best Matches</strong>

    </td>
  <% filter_terms = [] %>
    <% if @question.county.present? %>
      <% filter_terms <<  @question.county.name %> 
      <td><span class="tag tag-geography"><%= "#{@question.county.name}" %></span></td>
    <% end %>

    <% if @question.location.present? %>
      <% filter_terms <<  @question.location.name %> 
      <td><span class="tag tag-geography"><%= @question.location.abbreviation %></span></td>
    <% end %>

    <% if @question.tags.length > 0 %>
      <% @question.tags.each do |tag| %>
        <% filter_terms <<  tag.name %> 
        <td><span class="label"><%= tag.name %></span></td>
      <% end %>
    <% end %>
  </tr>

<% if @group_results.length > 0 %>
  	<% @group_results.each do |group| %>
      <% group_expertise_counties = group.expertise_counties %>
      <% group_expertise_locations = group.expertise_locations %>
      <% group_tags = group.tags %>
      <tr>
      <td>
          <%= link_to get_avatar_for_group(group, :thumb), group_assign_options_expert_question_path(:id => @question.id, :group_id => group.id) %> <%= link_to group.name, group_assign_options_expert_question_path(:id => @question.id, :group_id => group.id) %>
        <% filter_terms.each do |term| %>
	          <% if @question.county.present? && term == @question.county.name && group_expertise_counties.include?(@question.county) %>
	            <td class="match"><i>yes</i></td>
	          <% elsif @question.location.present? && term == @question.location.name && group_expertise_locations.include?(@question.location) %>
	            <td class="match"><i>yes</i></td>
	          <% elsif group_tags.map(&:name).include?(term) %>
	              <td class="match"><i>yes</i></td>
	          <% else %>
	            <td class="nomatch"><i>no</i></td>
	          <% end %>
        <% end %>
      </td>
      </tr>
    <% end %>
  </tr>
<% end %>

<% if @expert_results.length > 0 %>
      <% @expert_results.each do |expert| %>
        <% expert_expertise_counties = expert.expertise_counties %>
        <% expert_expertise_locations = expert.expertise_locations %>
        <% expert_tags = expert.tags %>
        <tr>
          <td>
            <%= link_to get_avatar_for_user(expert, :thumb), assign_options_expert_question_path(:id => @question.id, :expert_id => expert.id) %> <%= link_to raw(expert_user(expert)), assign_options_expert_question_path(:id => @question.id, :expert_id => expert.id) %>
            <br>
            <span class="handling_rate"><%= display_handling_rate(@handling_rates[expert.id]) %></span>
            <p class="reasssign"><%= display_handling_rate_bar(@handling_rates[expert.id]) %></p>
            <span class="downplay">last active <%= time_ago_in_words(expert.last_sign_in_at) %> ago</span>
          </td>
        
        
          <% filter_terms.each do |term| %>
	          <% if @question.county.present? && term == @question.county.name && expert_expertise_counties.include?(@question.county) %>
	            <td class="match"><i>yes</i></td>
	          <% elsif @question.location.present? && term == @question.location.name && expert_expertise_locations.include?(@question.location) %>
	            <td class="match"><i>yes</i></td>
	          <% elsif expert_tags.map(&:name).include?(term) %>
	            <td><i class="icon-ok"></i></td>
	          <% else %>
	            <td class="nomatch"><i>no</i></td>
	          <% end %>
          <% end %>
        </td>
        </tr>
      <% end %>
    </tr>
<% else %>
  <p>No County and Tag Matches</p>
<% end %>
</table>


<% end %>

<script class="code" type="text/javascript">
/* Append the function to the "document ready" chain */
jQuery(function($) {
  /* when the #expert search form submits */
  $("#expert_search_by_name").submit(function() {
	/* stop form from submitting normally */
	event.preventDefault();
    /* make a call to search experts and replace expert result contents */
    $.post('<%= expert_search_by_name_path %>', { expert_search: $("#expert_name").val(), question_id: <%= @question.id %>}, function(data) {
      $("#expert_search_results").html(data);
    });
  });
})
</script>
