<% @page_title = "Mark as Spam, Inappropriate Content or Duplicate" %>

<h3><%= link_to "Question ##{@question.id}", expert_question_url(@question) %></h3>

<h1><%= @page_title %> <%= link_to "Cancel", expert_question_path(@question.id), :class => "btn btn-default" %></h1>

<div class="bekind">
  <h3>Please Don't Reject Valid Questions</h3>
  <p>If no one can answer this question within Ask an Expert, you could use the <%= link_to "canned response answer option", expert_question_path(@question, :anchor => "answer_form", :canned_response => true) %> to suggest contacting their local office.</p>
</div>


<h2>Still need to Reject?</h2>
<%= form_tag reject_expert_question_path(@question) do %>

    <div class="radio_options">
    <p>
      <label>
        <%= radio_button_tag :rejection_reason, "Spam", false %>
        Spam
      </label>
    </p>
    <p>
      <label>
        <%= radio_button_tag :rejection_reason, "Inappropriate Content", false %>
        Inappropriate Content
      </label>
    </p>

    <p>
      <label>
        <%= radio_button_tag :rejection_reason, "Duplicate of #", false %>
        Duplicate
      </label>
    </p>

    <p>
      <label>
        <%= radio_button_tag :rejection_reason, "Submitter email invalid", false %>
        Submitter email invalid
      </label>
    </p>

    <p>
      <label>
        <%= radio_button_tag :rejection_reason, "", false %>
        Other
      </label>
    </p>
    </div>

    <p>
      <label for="reject_message">Reason</label>
      <%= text_field_tag :reject_message, "", {:id => "message", class: 'form-control'} %>
    </p>
    <p>
        <%= submit_tag 'Reject Question', :class => "btn btn-danger"%> <strong>(No information is sent to the question submitter)</strong>
    </p>

    <p><%= link_to "Cancel", expert_question_path(@question.id), :class => "btn btn-default" %></p>
<% end %>



<script class="code" type="text/javascript">

  $('.radio_options input').change(function() {
    var value = $(this).val();
    $("#message").val(value);
    $("#message").focus();
  });

</script>
