<% @page_title = "\"" + (@question.try(:title) ? @question.title : @question.body.truncate(80, separator: ' ')) + "\""%>

<div id="main" class="span8">
  
  <p>AaE #<%= @question.id %></p>
  
  <%= render :partial => 'partials/question_main' %>
  
  <div id="tag_info">
  <div class="ui-widget">
    <label for="tag_picker">Add Tags</label>
  	<input id="tag_picker" placeholder="Type and select a tag" /> 
  </div>
  
  <div id="tag_list" style="margin-top:1em; font-size:1.2em;">
  <% if @question.tags.length > 0 %>
    <% @question.tags.each do |tag| %>
      <% if @question.assigned_group %>
        <p id="tag_<%= tag.id %>"><span class="label"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @question.assigned_group.id, :tag_id => tag.id) %></span> <span class="removetag">[x]</span></p>
      <% else %>
        <p id="tag_<%= tag.id %>"><span class="label"><%= link_to tag.name, expert_home_tags_path(:tag_id => tag.id) %></span> <span class="removetag">[x]</span></p>
      <% end %>
    <% end %>
  <% else %>
    <p id="needs_tags"><span class="label label-inverse">needs tags</span></p>
    <p><small>(All tags are viewable if the question is public)</small></p>
  <% end %>

  </div>
  </div>

  <script class="code" type="text/javascript">

  		function add_tag(tag) {
  		  $.ajax({
          type: "POST",
          url: "<%= expert_questions_add_tag_path(:id => @question.id) %>",
          cache: false,
          data: {tag: tag}
        })
        .done(function() {
  				$("#tag_picker").autocomplete("close");
  				$("#tag_picker").val('');
  				return false;
        })  
        .fail(function() {
          alert("error");
          $("#tag_picker").autocomplete("close");
    			$("#tag_picker").val('');
    			return false;
        })
  		}

      // create an instance of autocomplete plus a hack for using the 'enter' key instead of direct selection
  		$("#tag_picker").autocomplete({
  			source: "/ajax/tags",
  			minLength: 2,
  			select: function(e, ui) {
  			  add_tag(ui.item.name);
  			}
  		}).keypress(function(e) {
        if (e.keyCode === 13) {
          add_tag(this.value);
        }
      });

      // remove tags
       $("#tag_list").on("click", ".removetag", function(){
         var tag = $(this).closest("p");
         $.ajax({
           type: "POST",
             url: "<%= expert_questions_remove_tag_path(:id => @question.id) %>",
             cache: false,
             data: {tag_id: tag.attr("id").replace('tag_', '')}
         })
         .done(function() {
           tag.fadeOut(500);
         })
       });

  </script>
  
  
  
	<%= render :partial => 'partials/history' %>
  
</div>


<div id="secondary" class="span4">
  <aside>
    <% if @question.is_private %>
      <h3><i class="icon-lock"></i> This question is private</h3>
    <% else %>
      <h3><i class="icon-globe"></i> This question is public</h3>
    <% end %>
    <p><%= link_to "See what the public sees", question_path(@question.id) %></p>
  </aside>

  <p><span class="notifylink"><i class="icon-envelope"></i> <%= link_to "Notify me when this question has activity" %></span></p>

  
  <% if @question.status_state != Question::STATUS_REJECTED %>
    <aside>
      <% if (@question.status_state == Question::STATUS_RESOLVED) || (@question.status_state == Question::STATUS_NO_ANSWER) %>
        <h3>Last response by</h3>
      <% else %>
        <h3>Assigned to</h3>
      <% end %>
  
      <%= link_to expert_user_path(@question.assignee_id) do %>
        <%= get_avatar(@question.assignee, :thumb) %> <%= link_to @question.assignee.name, expert_user_path(@question.assignee.id) %>
      <% end %>
    
      <% if @question.assigned_group %>
        <p><%= get_group_avatar(@question.assigned_group, :thumb) %> <%= link_to @question.assigned_group.name, expert_group_path(@question.assigned_group.id) %></p>
  		  <p>This question is associated with the above group. To change, reassign the question to a new group. <small>(note: this is an explanation of how the code currently works)</small></p>
  	  <% else %>
  		  <p><strong>This question is groupless :(</strong> To change, reassign the question to a new group. <small>(note: this is an explanation of how the code currently works)</small></p>
      <% end %>
    </aside>
  <% end %>


  <aside>
    <% if @question.status_state == Question::STATUS_REJECTED %>
      <h3>This question has been rejected</h3>
      <p>
    	  <% if @question.current_resolver_id == User.system_user_id %>
    	    System
    	  <% else %>
    	    <%= link_to expert_user_path(@question.current_resolver_id) do %>
            <%= get_avatar(@question.current_resolver, :thumb) %> <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>
          <% end %>
    	    
    	  <% end %>
    	</p>
      <p><strong>Comment:</strong> <%= wrap_text(@question.current_response) %></p>
      <p><%= button_to 'Reactivate Question', reactivate_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
        
	<% elsif @question.status_state == Question::STATUS_NO_ANSWER %>
	   <h3>A canned response was used to answer this question</h3>
	   <div class="question_actions">
       <p><%= link_to "Reopen by reassigning", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
     </div>
	   
	<% elsif @question.status_state == Question::STATUS_CLOSED %>
	   	<h3>This question has been closed</h3>
      <p>
        <strong>Closed by: </strong> 
        <% if @question.current_resolver_id == User.system_user_id %>
          System
        <% else %>
          <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>
        <% end %>
      </p>
      <p><strong>Comment:</strong> <%= wrap_text(@question.current_response) %></p>
      <p><%= button_to 'Reactivate Question', reactivate_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
      
	<% elsif @question.status_state == Question::STATUS_RESOLVED %>
	    <h3>This question has been resolved</h3>
	    <div class="question_actions">
        <p><%= link_to "Reopen by reassigning", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
      </div>
	    
	<% else %>
      
      <div class="question_actions">
        <p><%= link_to "Reassign", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
        <% if @question.assignee == current_user %>
          <p><%= link_to "Send an Answer", answer_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
        <% end %>
      </div>
      
      <div class="question_actions last">
        <p><%= link_to "Reject", reject_expert_question_path(@question.id), :class => "btn btn-danger" %></p>
      </div>
      
     <% end %>
  </aside>
  
  
  <aside class="subtle">
    <h3>Related Questions</h3>
    <h4>TODO: Replace with actual related questions. This is just a placeholder.</h4>
    <% @fake_related.each do |question| %>
      <%= link_to expert_question_path(question.id) do %>
        <% if question.title.present? %>
          <p><%= format_text_for_display(question.title) -%></p>
        <% else %>
          <p><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></p>
        <% end %>
      <%- end -%>
    <% end %>
  </aside>
  
</div>