<% @page_title = "\"" + (@question.try(:title) ? @question.title : @question.body.truncate(80, separator: ' ')) + "\""%>

<div id="main" class="span8">
  
  <p>AaE #<%= @question.id %></p>
  
  <%= render :partial => 'partials/question_main' %>
  
  <div class="ui-widget">
    <label for="tag_picker">Add Tags</label>
  	<input id="tag_picker" placeholder="Type and select a tag" /> <small>(All tags are public if the question is public)</small>
  </div>
  
  <div id="tag_list" style="margin-top:1em; font-size:1.2em;">
  <% if @question.tags.length > 0 %>
    <% @question.tags.each do |tag| %>
      <% if @question.assigned_group %>
        <p id="tag_<%= tag.id %>"><span class="label"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @question.assigned_group.id, :tag_id => tag.id) %></span> <span class="removetag">[x]</span></p>
      <% else %>
        <p id="tag_<%= tag.id %>"><span class="label"><%= link_to tag.name, expert_home_tags_path(:tag_id => tag.id) %></span> <span class="removetag">[x]</span></p>
      <% end %>
    <% end %>
  <% else %>
    <p id="needs_tags"><span class="label label-inverse">needs tags</span></p>
  <% end %>

  </div>

  <script class="code" type="text/javascript">

  		function add_tag(tag) {
  		  $.ajax({
          type: "POST",
          url: "<%= expert_questions_add_tag_path(:id => @question.id) %>",
          cache: false,
          data: {tag: tag}
        })
        .done(function() {
  				$("#tag_picker").autocomplete("close");
  				$("#tag_picker").val('');
  				return false;
        })  
        .fail(function() {
          alert("error");
          $("#tag_picker").autocomplete("close");
    			$("#tag_picker").val('');
    			return false;
        })
  		}

      // create an instance of autocomplete plus a hack for using the 'enter' key instead of direct selection
  		$("#tag_picker").autocomplete({
  			source: "/ajax/tags",
  			minLength: 2,
  			select: function(e, ui) {
  			  add_tag(ui.item.name);
  			}
  		}).keypress(function(e) {
        if (e.keyCode === 13) {
          add_tag(this.value);
        }
      });

      // remove tags
       $("#tag_list").on("click", ".removetag", function(){
         var tag = $(this).closest("p");
         $.ajax({
           type: "POST",
             url: "<%= expert_questions_remove_tag_path(:id => @question.id) %>",
             cache: false,
             data: {tag_id: tag.attr("id").replace('tag_', '')}
         })
         .done(function() {
           tag.fadeOut(500);
         })
       });

  </script>
  
  
  
	<%= render :partial => 'partials/history' %>
  
</div>


<div id="secondary" class="span4">
  <aside>
    <p><%= link_to "View Public page", question_path(@question.id), :class => "label btn-warning" %></p>
    <% if @question.is_private %>
      <p><i class="icon-lock"></i> This question is private</p>
    <% else %>
      <p><i class="icon-globe"></i> This question is public</p>
    <% end %>
    
    <p><span class="notifylink"><i class="icon-envelope"></i> <%= link_to "Notify me when this question has activity" %></span></p>
  </aside>
  
  <aside>
	<% if !@question.spam %>
      <h3>Actions</h3>
      <% if @question.assignee != current_user %>
        <p><%= link_to "Assign me this question", assign_expert_question_path(:id => @question.id, :assignee_login => current_user.login), :method => :post, :class => "btn" %></p>
      <% else %>

        <p><%= link_to "Answer this question", answer_expert_question_path(@question.id), :class => "btn" %></p>
        <p>
	      <strong>No Answer?</strong><br />If this question is outside of eXtension's expertise, please 
          <%= link_to "use this sample text to suggest their local office.", answer_expert_question_path(@question.id, :sample => Question::DECLINE_ANSWER, :status_state => Question::STATUS_NO_ANSWER) %>
        </p>
      <% end %>
      <p><%= link_to "Reassign", reassign_expert_question_path(@question.id), :class => "btn" %></p>
      <% if @question.assignee == current_user %>
        <p><%= link_to "Reject (inappropriate or duplicate)", reject_expert_question_path(@question.id), :class => "btn" %></p>
      <% end %>
      <% if !@question.body.index("http://").blank? %>
          <p><%= link_to "Report As Spam", report_spam_expert_question_path(@question.id), :confirm => "Are you sure you want to mark this question as spam?", :method => :post %></p>
      <% end %>
      <p><%= button_to "Assign to a Question Wrangler", assign_to_wrangler_expert_question_path(@question.id), :class => "btn" %></p>
     <% else %>
       <p><strong>This question has been marked as spam.</strong></p>
       <p><%= link_to "This is not spam", report_ham_expert_question_path(@question.id), :confirm => "Are you sure you want to mark this question as not spam?", :method => :post %></p>
     <% end %>
  </aside>
  
	<aside>
	  <% if @question_responses.length < 1 %>
      <h3>Assigned to</h3>
    <% else %>
      <h3>Last response by</h3>
    <% end %>
      <%= get_avatar(@question.assignee, :thumb) %>
      <%= link_to expert_user_path(@question.assignee_id) do %>
      <div class="expert">
        <p><%= @question.assignee.name %> Short Description</p>
      </div>
      <% end %>
	
	<% if @question.assigned_group %>
    <p><%= get_group_avatar(@question.assigned_group, :thumb) %> <%= link_to @question.assigned_group.name, expert_group_path(@question.assigned_group.id) %></p>
		<p>This question is associated with the above group. To change, reassign the question to a new group. <small>(note: this is an explanation of how the code currently works)</small></p>
	<% else %>
		<p><strong>This question is groupless :(</strong> To change, reassign the question to a new group. <small>(note: this is an explanation of how the code currently works)</small></p>
	<% end %>
    </aside>
  
  <aside>
    <h3>Related Questions</h3>
    <h4>TODO: Replace with actual related questions. This is just a placeholder.</h4>
    <% @fake_related.each do |question| %>
      <%= link_to expert_question_path(question.id) do %>
        <% if question.title.present? %>
          <p><%= format_text_for_display(question.title) -%></p>
        <% else %>
          <p><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></p>
        <% end %>
      <%- end -%>
    <% end %>
  </aside>
  
</div>