<% @page_title = raw("\"#{@question.title.gsub(/[[:space:]]/, ' ')}\"") %>

<div id="main" class="span8">
  <div id="question_wrapper">
    <p id="aaeid">
      <% if !@question.is_private %>
        <span class="tag tag-public">Public</span>
      <% end %> 
      Question #<%= @question.id %> - <%= link_to "Public View", question_path(@question.id) %> | <%= link_to "Edit", edit_expert_question_path(@question.id) %> | <%= link_to "Revision History", history_expert_question_path(@question.id) %>
    </p>

    <%= render :partial => 'question_main' %>

    <h2>Comments</h2>
    <p>Comments can be posted on public questions</p>
    <div id="comment-list">
	  <%= render :partial => '/comments/comment_list', :locals => {:comment_list => @question.comments, :parent_comment => nil} %>
	</div>
	   
    <div id="history">
      <%= render :partial => 'history' %>
    </div>
  </div>
</div>

<div id="secondary" class="span4">

<div id="notificationprefs">
  <%= render :partial => 'activity_notification' %>
</div>
  
  
  <div id="privacy_status" class="dontprintme">
    <%= render :partial => 'privacy_status' %>
  </div>
  

  <aside class="dontprintme <%= (@question.status_state == Question::STATUS_REJECTED) ? "rejected" : "" %>">
    <% if @question.status_state == Question::STATUS_REJECTED %>
      <h3 class="rejected">This Question Has Been Rejected</h3>
      <h3><strong>Reason:</strong> <%= wrap_text(@question.current_response) %></h3>
      <p>
    	  <% if @question.current_resolver_id == User.system_user_id %>
    	    System
    	  <% else %>
    	    <%= link_to expert_user_path(@question.current_resolver_id) do %>
            <%= link_expert_user_avatar(@question.current_resolver, :thumb) %> <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>
          <% end %>
    	    
    	  <% end %>
    	</p>
      
      <p><%= button_to 'Reactivate Question', reactivate_expert_question_path(@question.id), :class => "btn" %></p>
        
	<% elsif @question.status_state == Question::STATUS_NO_ANSWER %>
	   <h3>A canned response was used to answer this question</h3>
	   <div class="question_actions">
       <p><%= link_to "Reopen by reassigning", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
     </div>
	   
	<% elsif @question.status_state == Question::STATUS_CLOSED %>
	   	<h3>This question has been closed</h3>
      <p>
        <strong>Closed by: </strong> 
        <% if @question.current_resolver_id == User.system_user_id %>
          System
        <% else %>
          <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>
        <% end %>
      </p>
      <p><strong>Comment:</strong> <%= wrap_text(@question.current_response) %></p>
      <p><%= button_to 'Reactivate Question', reactivate_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
      
	<% elsif @question.status_state == Question::STATUS_RESOLVED %>
	    <h3>This question has been resolved</h3>
	    <div class="question_actions last">
        <p><%= link_to "Reopen by reassigning", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
      </div>
	    
	<% else %>
      <div class="question_actions">
        <span><%= link_to "Send an Answer", answer_expert_question_path(@question.id), :class => "btn btn-primary" %></span>
        <span><%= link_to "Close", close_out_expert_question_path(@question.id), :class => "btn" %></span>
        <span><%= link_to "Reject", reject_expert_question_path(@question.id), :class => "btn" %></span>
      </div>
     <% end %>
  </aside>
  

  
  <% if @question.status_state != Question::STATUS_REJECTED %>
    <aside>
      <% if (@question.status_state == Question::STATUS_RESOLVED) || (@question.status_state == Question::STATUS_NO_ANSWER) %>
        <h3>Last response by</h3>
      <% else %>
        <h3>Assigned to</h3>
      <% end %>
  
      <% if @question.assignee.present? %>
        <%= link_expert_user_avatar(@question.assignee, :thumb) %> <%= link_expert_user(@question.assignee) %>
      <% elsif @question.assigned_group.present? %>
        <%= link_expert_group_avatar(@question.assigned_group, :thumb) %> <%= link_to @question.assigned_group.name, expert_group_path(@question.assigned_group.id) %>
      <% end %>
      
      
      <%= link_to "Reassign", reassign_expert_question_path(@question.id), :class => "btn" %>
      
    </aside>
    
    <% if !@question.assignee.blank? %>
      <aside class="">
        <div id="associated_group">
          <%= render :partial => 'associated_group' %>
        </div>      
      </aside>
    <% end %>
    
  <% end %>
  
  
  
  
  <aside class="nobg dontprintme">
    <h4>Related Questions</h4>
    <% @question.similar_questions.each do |question,score| %>
      <p><%= link_to(format_text_for_display(question.title), expert_question_path(question.id)) %></p>
    <% end %>
  </aside>
  
</div>