<% @page_title = raw("\"#{@question.title.gsub(/[[:space:]]/, ' ')}\"") %>


<div id="show_question_wrapper">

  <div id="show_question_header">
    <div id="working_on_this_banner">
      <%= render :partial => 'working_on_this_banner' %>
    </div>

    <div id="privacy_status" class="dontprintme">
      <%= render :partial => 'privacy_status' %>
    </div>

    <div id="main_question_meta">
      <p>Asked
        <% if @original_group.present? %>
          to <%= link_to @original_group.name, expert_group_path(@original_group.id) %>
        <% end %>

        <%= time_ago_in_words(@question.created_at) %> ago

        <% if @question.submitter %>
          by <%= link_to @question.submitter.public_name, expert_user_submitted_path(@question.submitter) %> who has <%= link_to "submitted  #{@question.submitter.submitted_questions.length} questions", expert_user_submitted_path(@question.submitter) %>.
        <% end %>
      </p>
    </div>

    <% if @question.status_state == Question::STATUS_REJECTED %>
      <div class="dontprintme rejected">
        <h3 class="rejected">This Question Has Been Rejected</h3>
        <h3><strong>Reason:</strong> <%= wrap_text(@question.current_response) %></h3>
        <p>
      	  <% if @question.current_resolver_id == User.system_user_id %>
      	    System
      	  <% else %>
      	    <%= link_to expert_user_path(@question.current_resolver_id) do %>
              <%= link_expert_user_avatar(@question.current_resolver, :thumb) %> <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>
            <% end %>

      	  <% end %>
      	</p>

        <p><%= button_to 'Reactivate Question', reactivate_expert_question_path(@question.id), :class => "btn btn-default" %></p>
      </div>
    <% end%>
  </div>



<div id="main" class="col-sm-8 col-md-8">
  <% if @question.needs_response? %>
    <div class="needs-attention">
      <% if @question.responses.count > 0 %>
      <h2>This question needs handling because the submitter sent the last response.</h2>
      <p>They might just be saying "thanks," but this question needs a response or should be <%= link_to "closed", close_out_expert_question_path(@question.id) %>. Otherwise the last expert will continue to get a daily notification to answer it.</p>
      <% else %>
        <p>This question needs handling. Please answer, reassign or close it.</p>
      <% end %>
    </div>
  <% end %>

    <% if @question.status_state != Question::STATUS_REJECTED %>
    <p class="response_count">

      <% if @question.status_state == Question::STATUS_RESOLVED %>
    	  <strong>Answered</strong> with <%= @question_responses.size == 1 ? "#{@question_responses.size} response" : "#{@question_responses.size} responses" %>
    	<% elsif @question.status_state == Question::STATUS_NO_ANSWER %>
    	  <strong>Answered</strong> with a canned response - <%= @question_responses.size == 1 ? "#{@question_responses.size} response" : "#{@question_responses.size} responses" %>
    	<% elsif @question.status_state == Question::STATUS_CLOSED %>
    	  <strong>0 responses.</strong> Closed by
    	    <% if @question.current_resolver_id == User.system_user_id %>
            System:
          <% else %>
            <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>:
          <% end %>
          "<%= wrap_text(@question.current_response) %>"
    	<% else %>
        <%= pluralize(@question.responses.count, 'responses') %>
      <% end %>
      <% if @question.comments.size > 0 %> - <%= pluralize(@question.comments.count, 'comment') %><% end %>
    </p>
    <% end %>

    <%= render :partial => 'question_main' %>


    <div id="inline_question_actions">
      <% if @question.status_state == Question::STATUS_REJECTED %>
      <% elsif @question.status_state == Question::STATUS_NO_ANSWER %>
  	   <h3>A canned response was used to answer this question</h3>
  	   <div class="question_actions">
         <p><%= link_to "Reopen by reassigning", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
       </div>

  	<% elsif @question.status_state == Question::STATUS_CLOSED %>
  	   	<h3>This question has been closed</h3>
        <p>
          <strong>Closed by: </strong>
          <% if @question.current_resolver_id == User.system_user_id %>
            System
          <% else %>
            <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>
          <% end %>
        </p>
        <p><strong>Comment:</strong> <%= wrap_text(@question.current_response) %></p>
        <p><%= button_to 'Reactivate Question', reactivate_expert_question_path(@question.id), :class => "btn btn-primary" %></p>

  	<% elsif @question.status_state == Question::STATUS_RESOLVED %>
  	    <h3>This question has been resolved</h3>
  	    <div class="question_actions last">
          <p><%= link_to "Reopen by reassigning", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
        </div>

  	<% else %>
  	  <% if @question.is_being_worked_on? && current_user != @question.assignee %>
  	    <div class="question_actions">
  	      <h3>Heads Up: Answer in Progress</h3>
  	      <p><%= @question.assignee.name %> is working on this question right now.</p>
  	    </div>
  	  <% else %>



        <div id="answer_form">
          <div class="title_block">
            <h2>Send a Response</h2>
            <% if @question.title == Question::ACCOUNT_REVIEW_REQUEST_TITLE %>
              <p>NOTE: If you respond to this account review request, the person submitting the account access request will get an e-mail notification with your response.</p>
            <% end %>
          </div>


          <%= render :partial => 'answer_form' %>
        </div>
      <% end %>
       <% end %>
    </div>


    <% if @question.comments.size > 0 %>
    <div class="title_block">
      <h2>Comments</h2>
      <p>Comments can be posted on public questions and appear below Expert answers and replies.</p>
    </div>
    <div id="comments-list">
      <%= render :partial => 'comments/comments_list', :locals => {:comment_list => @question.comments, :parent_comment => nil} %>
	  </div>
	  <% end %>


    <div id="history">
      <%= render :partial => 'history' %>
    </div>
  </div>


<div id="secondary" class="col-sm-4 col-md-4">

  <div id="question_assignment">
    <%= render :partial => 'question_assignment' %>
  </div>

  <% if @question.submitter.present? && @question.submitter.submitted_questions.length > 1 %>
  <aside class="nobg dontprintme related_questions">
    <h4>Other Questions From This Person</h4>
    <% @question.submitter.submitted_questions.each do |question,score| %>
      <% if question.id != @question.id %>
      <p><%= link_to(format_text_for_display(question.title), expert_question_path(question.id)) %></p>
      <% end %>
    <% end %>
  </aside>
  <% end %>

  <aside class="nobg dontprintme related_questions">
    <h4>Related Questions</h4>
    <% @question.similar_questions.each do |question,score| %>
      <p><%= link_to(format_text_for_display(question.title), expert_question_path(question.id)) %></p>
    <% end %>
  </aside>

</div>
<br class="clearing" />
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#new-comments-form .wysihtml5').wysihtml5({toolbar: { "fa": true, "image": false}});
    var highlightedComment = window.location.hash;
    $(highlightedComment).closest(".cc-comment").addClass("cc-highlight");

    $(".comment-timestamp").click(function() {
      $(".cc-comment").removeClass("cc-highlight");
      $(this).closest(".cc-comment").addClass("cc-highlight");
    });
  })
</script>
