<% @page_title = "\"" + (@question.try(:title) ? @question.title : @question.body.truncate(80, separator: ' ')) + "\""%>

<div id="main" class="span8">
  <div id="question_wrapper">
    <p id="aaeid">Question #<%= @question.id %> - <%= link_to "View question", question_path(@question.id) %></p>
  
    <%= render :partial => 'question_main' %>
  
    <%= render :partial => 'history' %>
  </div>
</div>

<div id="secondary" class="span4">

<!-- <p><span class="notifylink"><i class="icon-envelope"></i> <%= link_to "Notify me when this question has activity" %></span></p> -->
  
  
  <div id="privacy_status">
    <%= render :partial => 'privacy_status' %>
  </div>
  

  <aside>
    <% if @question.status_state == Question::STATUS_REJECTED %>
      <h3>This question has been rejected</h3>
      <p>
    	  <% if @question.current_resolver_id == User.system_user_id %>
    	    System
    	  <% else %>
    	    <%= link_to expert_user_path(@question.current_resolver_id) do %>
            <%= link_expert_user_avatar(@question.current_resolver, :thumb) %> <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>
          <% end %>
    	    
    	  <% end %>
    	</p>
      <p><strong>Comment:</strong> <%= wrap_text(@question.current_response) %></p>
      <p><%= button_to 'Reactivate Question', reactivate_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
        
	<% elsif @question.status_state == Question::STATUS_NO_ANSWER %>
	   <h3>A canned response was used to answer this question</h3>
	   <div class="question_actions">
       <p><%= link_to "Reopen by reassigning", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
     </div>
	   
	<% elsif @question.status_state == Question::STATUS_CLOSED %>
	   	<h3>This question has been closed</h3>
      <p>
        <strong>Closed by: </strong> 
        <% if @question.current_resolver_id == User.system_user_id %>
          System
        <% else %>
          <%= link_to @question.current_resolver.name, expert_user_path(@question.current_resolver_id) %>
        <% end %>
      </p>
      <p><strong>Comment:</strong> <%= wrap_text(@question.current_response) %></p>
      <p><%= button_to 'Reactivate Question', reactivate_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
      
	<% elsif @question.status_state == Question::STATUS_RESOLVED %>
	    <h3>This question has been resolved</h3>
	    <div class="question_actions last">
        <p><%= link_to "Reopen by reassigning", reassign_expert_question_path(@question.id), :class => "btn btn-primary" %></p>
      </div>
	    
	<% else %>
      
      <div class="question_actions">

          <span><%= link_to "Send an Answer", answer_expert_question_path(@question.id), :class => "btn btn-primary" %></span>

        <% if @last_question_response.present? && ((@last_question_response.event_state == QuestionEvent::NO_ANSWER) || (@last_question_response.event_state == QuestionEvent::RESOLVED)) %>
          <span><%= link_to "Close", close_out_expert_question_path(@question.id), :class => "btn btn-primary" %></span>
        <% end %>
  
        <span><%= link_to "Reject", reject_expert_question_path(@question.id), :class => "btn btn-inverse" %></span>
      </div>
      
     <% end %>
  </aside>
  

  
  <% if @question.status_state != Question::STATUS_REJECTED %>
    <aside>
      <% if (@question.status_state == Question::STATUS_RESOLVED) || (@question.status_state == Question::STATUS_NO_ANSWER) %>
        <h3>Last response by</h3>
      <% else %>
        <h3>Assigned to</h3>
      <% end %>
  
      <% if @question.assignee.present? %>
        <%= link_to expert_user_path(@question.assignee_id) do %>
          <%= link_expert_user_avatar(@question.assignee, :thumb) %> <%= link_to @question.assignee.name, expert_user_path(@question.assignee.id) %>
        <% end %>
      <% elsif @question.assigned_group.present? %>
        <%= link_to expert_group_path(@question.assigned_group.id) do %>
          <%= link_expert_group_avatar(@question.assigned_group, :thumb) %> <%= link_to @question.assigned_group.name, expert_group_path(@question.assigned_group.id) %>
        <% end %>
      <% end %>
      
      <%= link_to "Reassign", reassign_expert_question_path(@question.id), :class => "btn" %> 
    </aside>
    
    <% if !@question.assignee.blank? %>
      <aside class="">
        <div id="associated_group">
          <%= render :partial => 'associated_group' %>
        </div>      
      </aside>
    <% end %>
    
    <aside>
      <div id="tag_picker_wrapper">
        <div class="ui-widget">
          <label for="tag_picker">Add Tags</label>
      	  <input id="tag_picker" placeholder="Type and select a tag" /> 
        </div>
      </div>

      <div id="tags">

      <% if @question.tags.length > 0 %>
        <% @question.tags.each do |tag| %>
          <% if @question.assigned_group %>
            <p id="tag_<%= tag.id %>"><span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @question.assigned_group.id, :tag_id => tag.id) %></span> <span class="btn removetag">x</span></p>
          <% else %>
            <p id="tag_<%= tag.id %>"><span class="tag tag-topic"><%= link_to tag.name, expert_home_tags_path(:name => tag.name) %></span> <span class="btn removetag">x</span></p>
          <% end %>
        <% end %>
      <% else %>

      <% end %>

      </div>

      <p><small>(All tags are viewable if the question is public)</small></p>
    </aside>
    
  <% end %>
  
  
  
  
  <aside class="nobg">
    <h4>Related Questions</h4>
    <% @question.similar_questions.each do |question,score| %>
      <p><%= link_to(format_text_for_display(question.title), expert_question_path(question.id)) %></p>
    <% end %>
  </aside>
  
</div>

<script class="code" type="text/javascript">  
  
		function add_tag(tag) {
		  $.ajax({
        type: "POST",
        url: "<%= expert_questions_add_tag_path(:id => @question.id) %>",
        cache: false,
        data: {tag: tag}
      })
      .done(function() {
				$("#tag_picker").autocomplete("close");
				$("#tag_picker").val('');
				return false;
      })  
      .fail(function() {
        alert("error");
        $("#tag_picker").autocomplete("close");
  			$("#tag_picker").val('');
  			return false;
      })
		}

    // create an instance of autocomplete plus a hack for using the 'enter' key instead of direct selection
		$("#tag_picker").autocomplete({
			source: "/ajax/tags",
			minLength: 2,
			select: function(e, ui) {
			  add_tag(ui.item.name);
			}
		}).keypress(function(e) {
      if (e.keyCode === 13) {
        add_tag(this.value);
      }
    });

    // remove tags
     $("#tags").on("click", ".removetag", function(){
       var tag = $(this).closest("p");
       $.ajax({
         type: "POST",
           url: "<%= expert_questions_remove_tag_path(:id => @question.id) %>",
           cache: false,
           data: {tag_id: tag.attr("id").replace('tag_', '')}
       })
       .done(function() {
         tag.fadeOut(500);
       })
     });

</script>