<!DOCTYPE html>

<html style="margin: 0; padding: 0;">

<head>
  <title>Ask an Expert Question Submitted</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <%= render(partial: 'public_mailer/public_styles') %>
	<%= stylesheet_link_tag("#{ssl_root_url}email/mobile.css") %>
</head>
<body>

<div id="wrapper">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="599">
  <%- if Settings.app_location != 'production' -%>
    <tr class="demotagline">
      <td>This is a DEMO email from an Ask an Expert Test site. Please feel free to ignore this test email.</td>
    </tr>
  <%- end -%>
  <tr>
    <th align="left" class="bgcolor">
      <%- logo_url = @mailer_cache.blank? ? "#{ssl_root_url}assets/logo_small.png" : "#{ssl_webmail_logo}" -%>
      <h1 id="ask_logo"><%= image_tag(logo_url, alt: "Ask") %></h1>      
    </th>
  </tr>
  
  <tr class="tagline">
    <td>Ask an Expert Question Submitted</td>
  </tr>
  <tr class="options">
    <td>
      <%- if @mailer_cache -%>
        <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
      <%- else -%>
        <a href="">View in a browser</a> 
      <%- end -%>
    </td>
  </tr>
  
  <tr>
    <td>
      
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="500">
          <tr>
            <td id="email_body">
              <p>Hello,</p>

              <p>Thank you for submitting your question.</p>

              <p>Your question has been assigned to one of our experts and they will try to answer it within 48 hours.</p>

              <p>We will notify you with an email when our experts have responded and you can view your question and any answers at our website:</p>
            </td>
          </tr>
              <tr>
                <td id="callout">
                  <table cellpadding="0" cellspacing="0" border="0" align="left">
                    <tr>
                      <td><%= image_tag("#{ssl_root_url}assets/magnifying_glass.png", size: "60x60") %></td>
                      <td class="callout"><%= link_to("View your Question", submitter_view_url(:fingerprint => @question.question_fingerprint)) -%></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>
                        <h4><%= @question.title %></h4>
                        <%= @question.body %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>

              <p>You can also edit your question if you need to clarify or correct any information. A better question usually gets a better answer. Thanks! (Your question is editable until one of our experts responds.)</p>
              
              <p>Thank you for using Ask an Expert.</p>

            </td>
          </tr>

          <tr>
            <td class="meta_details">*** PLEASE DO NOT REPLY TO THIS MESSAGE ***</td>
          </tr>
        </table>
      
      
    </td>
  </tr>
  
  <tr>
    <td class="footer">
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="footer">
        <tr>
          <td class="bgcolor">
            <p><p>This message for informational purposes only. It is not intended to be a substitute for personalized professional advice. For specific local information, contact your local county Cooperative Extension office or other qualified professionals.eXtension Foundation does not recommend or endorse any specific tests, professional, products, procedures, opinions, or other information that may be mentioned. Reliance on any information provided by eXtension Foundation, employees, suppliers, member universities, or other third parties through eXtension is solely at the user’s own risk. All eXtension content and communication is subject to  the terms of use http://www.extension.org/main/termsofuse which may be revised at any time.</p></p>
          </td>
        </tr>
        <tr class="options">
          <td>
            <%- if @mailer_cache -%>
              <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
            <%- else -%>
              <a href="">View in a browser</a> 
            <%- end -%>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
</table>
</div>  
</body>
</html>

