<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3>Here's the response to your question:</h3>
    <div class="response"><%= format_text_for_display(@response.body) %></div>
    <div class="signature"><%= format_text_for_display(@response.signature) %></div>

    <h2>Need to reply to the expert?</h2>
    <%- button_url = @mailer_cache.blank? ? "#{ssl_root_url}assets/reply_to_the_expert_button.png" : "#{ssl_webmail_logo}" -%>
    <p class="button"><%= link_to(image_tag(button_url, alt: "Ask an Expert", width: "245"), submitter_view_url(:fingerprint => @question.question_fingerprint)) -%></p>
  </td>
</tr>

<tr>
  <td class="meta_details"><strong>Please don't reply to this email.</strong> <%= link_to("Send a reply from your question page", submitter_view_url(:fingerprint => @question.question_fingerprint)) -%>.</td>
</tr>

<%= render :partial => 'partials/public_email_footer' %>