<%= render :partial => 'partials/public_email_header' %>
  
<tr>
  <td class="content padding">
    <p>Hello,</p>
    <p>Thank you for your question. It has been assigned to one of our experts and we will try to answer it within 48 hours.</p>
    <p>In the meantime, you can <%= link_to("view or edit your question", submitter_view_url(:fingerprint => @question.question_fingerprint)) -%> to clarify or correct any information. A better question usually gets a better answer! (Your question is editable until one of our experts responds.)</p>

    <p class="button longtext"><%= link_to(image_tag("#{ssl_root_url}assets/email_view_or_edit_your_question.png", alt: "View or Edit Question", width: "320"), submitter_view_url(:fingerprint => @question.question_fingerprint)) -%></p>
  </td>
</tr>

<tr>
  <td class="content padding question_block">
    <div class="question_title"><%= link_to(format_text_for_display(@question.title), submitter_view_url(:fingerprint => @question.question_fingerprint)) -%></div>
    <div class="question_body"><%= format_text_for_display(@question.body) %></div>
  </td>
</tr>

<tr>
  <td class="meta_details"><strong>Please don't reply to this email.</strong> <%= link_to("If you need to send more information, edit your question", submitter_view_url(:fingerprint => @question.question_fingerprint)) -%>.</td>
</tr>

<%= render :partial => 'partials/public_email_footer' %>