<!DOCTYPE html>

<html style="margin: 0; padding: 0;">

<head>
  <title>New reply to one of your comments</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <%= render(partial: 'partials/mail_styles') %>
  <%= stylesheet_link_tag("#{ssl_root_url}email/mobile.css") %>
</head>
<body>

<div id="wrapper">
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="599">
  <%- if Settings.app_location != 'production' -%>
    <tr class="demotagline">
      <td>This is a DEMO email from an Ask an Expert Test site. Please feel free to ignore this test email.</td>
    </tr>
  <%- end -%>
  <tr>
    <th align="left" class="bgcolor">
      <%- logo_url = @mailer_cache.blank? ? "#{ssl_root_url}assets/logo_small.png" : "#{ssl_webmail_logo}" -%>
      <h1 id="ask_logo"><%= image_tag(logo_url, alt: "Ask") %></h1>      
    </th>
  </tr>
  
  <tr class="tagline">
    <td>Someone posted a reply to one of your comments</td>
  </tr>
  <tr class="options">
    <td>
      <%- if @mailer_cache -%>
        <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
      <%- else -%>
        <a href="">View in a browser</a> 
      <%- end -%>
    </td>
  </tr>
  
  <tr>
    <td>
      
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="500">
          <tr>
            <td id="reminder_title">
              Someone posted a reply to one of your comments
              <p>"<%= @comment.content %>"</p>
            </td>
          </tr>
          <tr>
            <td id="callout">
              <table cellpadding="0" cellspacing="0" border="0" align="left">
                <tr>
                  <td><%= image_tag("#{ssl_root_url}assets/magnifying_glass.png", size: "60x60") %></td>
                  <td class="callout"><%= link_to("View Comment on the Question", expert_question_url(@question)) -%></td>
                </tr>
                <tr>
                  <td></td>
                  <td id="question_meta">  
                
                      
                      <% if !@question.is_private %>
                        <p class="meta">Submitted<%= time_ago_in_words(@comment.created_at) %> ago</p>
                      <% else %>
                        <p class="meta">Submitted <%= time_ago_in_words(@comment.created_at) %> ago</p>
                      <% end %>
                  </td>
                </tr>
                
              </table>
            </td>
          </tr>
          
          <tr>
            <td id="subheader">
              Please <%= link_to("answer", expert_question_url(@question), :class => "action") -%> or <%= link_to "reassign", reassign_expert_question_path(@question.id), :class => "action" %> to someone who can as soon as possible. Thanks for your help!
            </td>
          </tr>
          <tr>
            <td class="meta_details">*** PLEASE DO NOT REPLY TO THIS MESSAGE ***</td>
          </tr>

        </table>
      
      
    </td>
  </tr>
  
  <tr>
    <td class="footer">
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="footer">
        <tr>
          <td class="bgcolor">
            <p>This email was sent to <%= @user.email %>. You received this email because you have an account at <%= root_url %>. You can change your notification settings in <%= link_to "your preferences", expert_settings_assignment_url() %>.</p>
          </td>
        </tr>
        <tr class="options">
          <td>
            <%- if @mailer_cache -%>
              <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
            <%- else -%>
              <a href="">View in a browser</a> 
            <%- end -%>
              <%= link_to "Change your email settings", expert_settings_assignment_url() %>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
</table>
</div>  
</body>
</html>