<div class="extension_nav_public">
  <ul>
    <li><%= link_to("About eXtension","http://about.extension.org/")%></li>
    <li><%= link_to("Campus","http://campus.extension.org/")%></li>
    <li><%= link_to("eXtension.org","http://www.extension.org/")%></li>
    <li><%= link_to("Learn","http://learn.extension.org/")%></li>
    <li class="last"><%= link_to("Search","http://search.extension.org/")%></li>
  </ul>
</div>