<% if @question.title.present? %>
  <h2 class="title"><%= format_text_for_display(@question.title) %></h2>
<% else %>
  <h2 class="title"><%= format_text_for_display(@question.body.truncate(80, separator: ' ')) %></h2>    
<% end %>

<div id="question">
<p class="question_body"><%= format_text_for_display(@question.body) %></p>

  <% @question.images.each do |image| %>
    <%= image_tag image.url(:thumb) %>
  <% end %>

<p>Asked <%= time_ago_in_words(@question.created_at) %> ago 
  <% if @question.submitter %>
    by <%= @question.submitter.name %>
  <% end %>
</p>

  <p>
    <% if @question.location.present? %>
      <% if @question.county.present? %>
        <span class="tag tag-geography"><%= link_to "#{@question.county.name}", expert_view_county_path(@question.county.id) %></span>
      <% end %>
      <% if @question.location.present? %>
        <span class="tag tag-geography"><%= link_to @question.location.name, expert_view_location_path(@question.location.id) %></span>
      <% end %>
    <% else %>
      <span class="label label-inverse"><%= link_to "No Location" %></span>
    <% end %>
  </p>
</div>

<% if @question_responses.length > 0 %>
  <h3 class="h3">Responses</h3>
  <% @question_responses.each do |response| %>
    <div class="response_block">
      <p class="response"><%= format_text_for_display(response.body) %></p>
      <div class="author">
        <% if response.resolver_id %>
          <%= link_to expert_user_path(response.resolver_id) do %>
            <%= get_avatar(response.resolver, :thumb) %> <%= link_to response.resolver.name, expert_user_path(response.resolver_id) %>
          <% end %>
        <% else %>
          <p>Anonymous Guest</p>
        <% end %>
        <p><small>Posted <%= time_ago_in_words(response.created_at) %> ago</small></p>
      </div>
    </div>
  <% end %>
<% end %>




