<p>AaE #<%= @question.id %></p>

<% if @question.title.present? %>
  <h2><%= format_text_for_display(@question.title) %></h2>
<% else %>
  <h2><%= format_text_for_display(@question.body.truncate(80, separator: ' ')) %></h2>    
<% end %>

<p><%= format_text_for_display(@question.body) %></p>


<p>Asked <%= time_ago_in_words(@question.created_at) %> ago 
<% if @question.submitter %>
  by <%= @question.submitter.name %></p>
<% end %>

<% if @question_responses.length > 0 %>
  <h3>Responses</h3>
  <% @question_responses.each do |response| %>
    <p><%= format_text_for_display(response.body) %></p>
  <% end %>
<% end %>

