<%- DemographicQuestion.active.order(:questionorder).each do |question| -%>
  <div class="well eval_question">
    <%= form_tag(answer_demographic_path(question), {remote: true, id: "answer_form_for_demographic_question_#{question.id}"}) do -%>
      <%= hidden_field_tag('demographic_question_id', question.id) -%>
        <legend><%= question.prompt %></legend>
        <div class="control-group">
          <div class="controls">
            <%- question.responses.each_with_index do |response, index| -%>
              <label class="radio"><%= radio_button_tag('response',response,is_multichoice_demographic_checked_for_user?(@evaluator,question,response),{class: 'submittable'}) %> <%= response %></label>
            <%- end -%>
          </div>
      </div>
    <%- end -%>
  </div>
<%- end -%>






