<%- if local_assigns.has_key?(:question_testing) and question_testing 
      question_id = 0
    else
      question_id = question.id
    end 
-%>
<div class="well">
<%= form_tag(answer_evaluation_path, {remote: true, id: "answer_form_for_evaluation_question_#{evaluation_question.id}"}) do -%>
  <%= hidden_field_tag('question_id', question_id) %>
  <%= hidden_field_tag('evaluation_question_id', evaluation_question.id) -%>
  <legend><%= evaluation_question.prompt %> <small><em>on a scale from <%= evaluation_question.range_start %> to <%= evaluation_question.range_end %></em></small></legend>
  <div class="control-group">
    <div class="controls">
      <%- (evaluation_question.range_start..evaluation_question.range_end).each do |i| -%>
        <label class="radio">
          <%= radio_button_tag('response', i,
                               (i == scale_value_for_evalquestion_question_user(evaluation_question,question,@evaluator)),
                               {class: 'submittable'}) %> 
          <%- if (i == evaluation_question.range_start) -%>
            <%= "#{i.to_s} - #{evaluation_question.responses.first.capitalize}" %>
          <%- elsif (i == evaluation_question.range_end) -%>
            <%= "#{i.to_s} - #{evaluation_question.responses.last.capitalize}" %>
          <%- else -%>
            <%= i.to_s %>
          <%- end -%>
        </label>
      <%- end -%>      
    </div>
  </div>
<%- end -%>
</div>

