<%- if local_assigns.has_key?(:question_testing) and question_testing 
      question_id = 0
    else
      question_id = question.id
    end 
-%>
<div class="well eval_question">
<%= form_tag(answer_evaluation_path, {remote: true, id: "answer_form_for_evaluation_question_#{evaluation_question.id}"}) do -%>
  <%= hidden_field_tag('question_id', question_id) %>
  <%= hidden_field_tag('evaluation_question_id', evaluation_question.id) -%>
  <legend class="range-prompt"><%= evaluation_question.prompt %></legend>
  
  <p class="range-response">. . . <%= evaluation_question.responses[0] %></p>
  <div class="range-radio-group">
    
    <div class="radio range-response-radio range-response-radio-strong">
    <label>
    <%= radio_button_tag('response',1,
      is_multichoice_evalquestion_question_checked_for_user?(evaluation_question,question,@evaluator,1),
      {class: 'submittable'}) %> <span>Agree with the above</span></label>
    </div>
    
    <div class="radio range-response-radio range-response-radio-medium">
    <label>
    <%= radio_button_tag('response',2,
      is_multichoice_evalquestion_question_checked_for_user?(evaluation_question,question,@evaluator,2),
      {class: 'submittable'}) %> <span>Closer to the above</span></label>
    </div>
    
    <div class="radio range-response-radio range-response-radio-neutral">
    <label>
    <%= radio_button_tag('response',3,
      is_multichoice_evalquestion_question_checked_for_user?(evaluation_question,question,@evaluator,3),
      {class: 'submittable'}) %> <span>Neutral</span></label>
    </div>
    
    <div class="radio range-response-radio range-response-radio-medium">
    <label>
    <%= radio_button_tag('response',4,
      is_multichoice_evalquestion_question_checked_for_user?(evaluation_question,question,@evaluator,4),
      {class: 'submittable'}) %> <span>Closer to the below</span></label>
    </div>
    
    <div class="radio range-response-radio range-response-radio-strong">
    <label>
    <%= radio_button_tag('response',5,
      is_multichoice_evalquestion_question_checked_for_user?(evaluation_question,question,@evaluator,5),
      {class: 'submittable'}) %> <span>Agree with the below</span></label>
    </div>
    
  </div>
  <p class="range-response">. . . <%= evaluation_question.responses[1] %></p>
  
<%- end -%>
</div>

