<%- if local_assigns.has_key?(:question_testing) and question_testing 
      question_id = 0
    else
      question_id = question.id
    end 
-%>
<div class="well">
<%= form_tag(answer_evaluation_path, {remote: true, id: "answer_form_for_evaluation_question_#{evaluation_question.id}"}) do -%>
  <%= hidden_field_tag('question_id', question_id) %>
  <%= hidden_field_tag('evaluation_question_id', evaluation_question.id) -%>
  <legend><%= evaluation_question.prompt %> <small><em>on a scale from <%= evaluation_question.range_start %> to <%= evaluation_question.range_end %></em></small></legend>
  <div class="control-group">
    <div class="controls">
      <label class="radio"><%= radio_button_tag('response',1,"1",{class: 'submittable'}) %> 1 - <%= evaluation_question.responses[0].capitalize! %></label>
      <label class="radio"><%= radio_button_tag('response',2,"2",{class: 'submittable'}) %> 2</label>
      <label class="radio"><%= radio_button_tag('response',3,"3",{class: 'submittable'}) %> 3</label>
      <label class="radio"><%= radio_button_tag('response',4,"4",{class: 'submittable'}) %> 4</label>
      <label class="radio"><%= radio_button_tag('response',5,"1",{class: 'submittable'}) %> 5 - <%= evaluation_question.responses[1].capitalize! %></label>
    </div>
  </div>
<%- end -%>
</div>

<script class="code" type="text/javascript">
  // jquery tools rangeinput
  $("#range_<%= evaluation_question.id %>").rangeinput();
  $("#range_<%= evaluation_question.id %>").change(function(event, value) {
    $(this).parents('form:first').submit();
  });
</script>

