<div id="evaluation_form" class="span6">
  <h1><%= @page_title %></h1>
  <p>
    Your feedback about the
    <%- if @question_testing -%>
      <%= link_to('answer to your recent question','#', target: '_blank') %>
    <%- else -%>
     <%= link_to('answer to your recent question',question_path(@question), target: '_blank') %>
    <%- end -%>
    is very important to us. Thank you for helping us to improve the eXtension Ask an Expert experience!
  </p>

  <%- EvaluationQuestion.active.order(:questionorder).each do |evaluation_question| -%>
    <%- case evaluation_question.responsetype -%>
    <%- when EvaluationQuestion::SCALE -%>
      <%= render(partial: 'evalquestion_scale', locals: {evaluation_question: evaluation_question, question: @question, question_testing: @question_testing})%>
    <%- else # assumes open -%>  
      <%= render(partial: 'evalquestion_open', locals: {evaluation_question: evaluation_question, question: @question, question_testing: @question_testing})%>
    <%- end -%>
  <%- end -%>


    <%- if @evaluator.completed_demographics? -%>
    <p id="demographic_block">You shared some demographic info when you submitted a previous evaluation. <%= link_to('View or change your info', '#demographic_responses', id: 'demographics_toggler', data: {toggle: 'collapse', target: '#show_demographics'}) %></p>
    <%- end -%>
  <div id="show_demographics" class="collapse<%= @evaluator.completed_demographics? ? '': ' in'%>">
    <h1><a name="demographic_responses">&nbsp;</a>Your Demographics</h1>
    <%= render :partial => 'demographics' -%>
  </div>

  <p><%= link_to("I'm Done", evaluation_thanks_path, class: 'btn btn-primary') %></p>

</div>
