<div id="evaluation_form" class="span12">
  <h1><%= @page_title %></h1>
  
  <%- if @question_testing -%>
    <h3>This feedback refers to the question you asked on <%= @question.created_at.strftime("%B %e, %Y") %> titled <%= link_to(@question.title, "#", target: '_blank') %></h3>
  <%- else -%>
    <h3>This feedback refers to the question you asked on <%= @question.created_at.strftime("%B %e, %Y") %> titled <%= link_to(@question.title, submitter_view_path(:fingerprint => @question.question_fingerprint), target: '_blank') %></h3>
  <%- end -%>

  <p>Your feedback about the answer to your recent question is very important to us. Thank you for helping us to improve the eXtension Ask an Expert experience!</p>

  <%- EvaluationQuestion.active.order(:questionorder).each do |evaluation_question| -%>
    <%- case evaluation_question.responsetype -%>
    <%- when EvaluationQuestion::MULTIPLE_CHOICE -%>
      <%= render(partial: 'evalquestion_choice', locals: {evaluation_question: evaluation_question, question: @question, question_testing: @question_testing})%>
    <%- when EvaluationQuestion::SCALE -%>
      <%= render(partial: 'evalquestion_scale', locals: {evaluation_question: evaluation_question, question: @question, question_testing: @question_testing})%>
    <%- when EvaluationQuestion::TEXT -%>
      <%= render(partial: 'evalquestion_text', locals: {evaluation_question: evaluation_question, question: @question, question_testing: @question_testing})%>
    <%- when EvaluationQuestion::OPEN_DOLLAR_VALUE -%>
      <%= render(partial: 'evalquestion_open_dollar', locals: {evaluation_question: evaluation_question, question: @question, question_testing: @question_testing})%>
    <%- else # assumes open -%>  
      <%= render(partial: 'evalquestion_open', locals: {evaluation_question: evaluation_question, question: @question, question_testing: @question_testing})%>
    <%- end -%>
  <%- end -%>


    <%- if @evaluator.completed_demographics? -%>
    <p id="demographic_block">You shared some demographic info when you submitted a previous evaluation. <%= link_to('View or change your info', '#demographic_responses', id: 'demographics_toggler', data: {toggle: 'collapse', target: '#show_demographics'}) %></p>
    <%- end -%>
  <div id="show_demographics" class="collapse<%= @evaluator.completed_demographics? ? '': ' in'%>">
    <h1><a name="demographic_responses">&nbsp;</a>Your Demographics</h1>
    <%= render :partial => 'demographics' -%>
  </div>

  <p><%= link_to("I'm Done", evaluation_thanks_path, class: 'btn btn-primary') %></p>

</div>
