<%= form_for @question, :url => ask_group_path(), :html => {:multipart => true, :class => "form-stacked no_m_t well"} do |f| %>

  <%= hidden_field_tag(:fingerprint, @group.widget_fingerprint) %>

  <fieldset>
    <p>
      <%= f.label :title, 'Give your question a title' %>
      <%= f.text_field :title, {:type => "text", :class => "xl required"} %>
    </p>

    <p>
      <%= f.label :body, 'Question' %>
      <%= f.text_area :body, :rows => 6, :class => "xl required" %>
    </p>

    <p>
      <%= f.label :email, 'Email' %>
      <%= f.text_field(:submitter_email, { :type => "email", :autocapitalize => "off", :class => "required" }) %>
    </p>
  </fieldset>

  <% if @group.widget_public_option %>
    <fieldset>
      <p>
        <label for="is_public">
        <%= check_box_tag :is_public, "1", false, :class => "checkbox" %> Make it public
        </label>
        <span><em>Share your question with the public at ask.extension.org so others can learn from the answer.</em></span>
      </p>
    </fieldset>
  <% end %>



    <fieldset>
      <p>
        <%= f.label :location_id, 'Location and County (optional)' %>
        <%= f.select(:location_id, options_for_select(get_location_options, current_location.present? ? current_location.id : nil)) %>
      </p>

      <p id="county_list">
        <% if current_location.present? %>
          <%= f.label :county_id %>
          <%= f.select(:county_id, options_for_select(get_county_options(current_location), current_county.present? ? current_county.id : nil)) %>
        <% end %>
      </p>
    </fieldset>


  <% if @group.widget_upload_capable? %>
    <fieldset>
      <p>
        <label>Image (optional)</label>
        <%= f.fields_for :images do |image_form| %>
          <%= image_form.file_field :attachment  %>
        <% end %>
      </p>
    </fieldset>
  <% end %>



  <p><%= submit_tag "Submit your Question", :id => "ask_submit", :data_disable_with => "Submitting...", :class => "btn btn-primary" %></p>
<% end %>

<script class="code" type="text/javascript">
  $(document).ready(function () {

    $("#question_location_id").change(function() {
      var location_id = $('select#question_location_id :selected').val();
      if(location == "") location="0";
      jQuery.get('/widget/get_counties/' + location_id, function(data){
          $("#county_list").html(data);
      })
      return false;
    });
  });

  $("form").validate();

</script>