<div id="main" class="span8">
  
  <h2>Ask a Question</h2>
    
  <% if !@group.active? %>
    <h3>This group is not accepting questions at the current time</h3>
  <% else %>
  
    <%- if @question.errors.any? -%>
      <ul>
        <%- @question.errors.full_messages.each do |msg| -%>
          <li><%= msg %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  
    <%= render(:partial => 'groups/form') %>
  <% end %>
  
</div>

<div id="secondary" class="span4">
  <% if request.fullpath == "/ask" %>
    <aside>
    <h3>Ask an Expert is site where you can get expert answers and help from Cooperative Extension/University staff and volunteers from across the United States.</h3>
    </aside>
  <% else %>
    
    <%= link_public_group_avatar(@group) %>

    <h3>
      <%= link_to @group.name, group_path(@group.id) %> 
      <% if current_user && current_user.has_exid? %>
        <%= link_to "expert view", expert_group_path(@group.id), :class => "btn" %>
      <% end %>
    </h3>

    <% if  @group.description? %>
      <h3>About this group</h3>
      <p><%= format_text_for_display(@group.description).html_safe %></p>
    <% end %>
    
  <% end %>
  
  
  
</div>