<div class="col-md-12">
  <% if current_user && current_user.has_exid? %>
  <p class="pull-right">
    <%= link_to "expert view", expert_group_path(@group.id), :class => "btn btn-default" %>
  </p>
  <% end %>

  <div id="groupmasthead">
    <h1><%= link_public_group_avatar(@group) %> <%= @group.name %></h1>

    <% if  @group.description? %>
      <div class="aboutme">
        <%= format_text_for_display(@group.description) %>
      </div>
    <% end %>
  </div>
</div>

<%- if @group.group_active? and @group.assignment_outside_locations? and !(@group.id == Group::QUESTION_WRANGLER_GROUP_ID) -%>
  <div class="tagline col-md-12">
    <div>
      <%= link_to('Ask a question to this group', ask_group_path(@group.id), :class => "moreaboutpitch") %>
      <%= link_to "Ask an Expert", ask_group_path(@group.id), :class => "btn btn-primary btn-orange btn-lg" %>
    </div>
  </div>
<%- end -%>

<div class="col-md-12">
  <% if @open_questions_col_one.size == 0 %>
    <h2>This group does not currently have any public questions.</h2>
  <% else %>
    <h1 class="subhead_style">Questions asked to this group</h2>
  <% end %>
</div>

<div class="col-md-6">
  <% if @open_questions_col_one.size > 0 %>
    <% @open_questions_col_one.each do |q| %>
      <div class="incoming_question">
        <h1 class="article_title"><%= link_to(q.title.html_safe, question_path(q.id)) %></h1>
        <p class="question_body"><%= format_text_for_display(q.body).html_safe -%></p>
      </div>

      <p>
        <% if q.location_id.present? %>
          <% if q.county_id.present? %>
            <span class="tag tag-geography"><%= "#{county_names[q.county_id]}" %></span>
          <% end %>
          <span class="tag tag-geography"><%= location_names[q.location_id] %></span>
        <% end %>

      <% if q.tags.size > 0 %>
        <% q.tags.each do |tag| %>
          <span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_path(:name => tag.name) %></span>
        <% end %>
      <% end %>
       <span class="smallish text-muted">Posted <%= time_ago_in_words(q.created_at) %> ago</span>
    <% end %>
	</p>
  <% end %>
</div>

<div class="col-md-6">
  <% if @open_questions_col_two.size > 0 %>
    <% @open_questions_col_two.each do |q| %>

      <div class="incoming_question">
        <h1 class="article_title"><%= link_to(q.title.html_safe, question_path(q.id)) %></h1>
        <p class="question_body"><%= format_text_for_display(q.body).html_safe -%></p>
      </div>


      <p>
        <% if q.location.present? %>
          <% if q.county.present? %>
            <span class="tag tag-geography"><%= "#{q.county.name}" %></span>
          <% end %>
          <% if q.location.present? %>
            <span class="tag tag-geography"><%= q.location.name %></span>
          <% end %>
        <% end %>

      <% if q.tags.size > 0 %>
        <% q.tags.each do |tag| %>
          <span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_path(:name => tag.name) %></span>
        <% end %>
      <% end %>
       <span class="smallish text-muted">Posted <%= time_ago_in_words(q.created_at) %> ago</span>
    <% end %>
	</p>
  <% end %>
</div>
