<div id="main" class="span8">
  <div class="groupmasthead">
    <%= link_public_group_avatar(@group) %>
    
    <h1>
      <%= @group.name %> 
      <% if current_user && current_user.has_exid? %>
        <%= link_to "expert view", expert_group_path(@group.id), :class => "btn" %>
      <% end %>
    </h1>
    
    <% if  @group.description? %>
      <p><%= format_text_for_display(@group.description) %></p>
    <% end %>
    
    <% if @group.widget_active %>
      <p><%= link_to "Ask a question to this group", ask_group_path(@group.id), :class => "btn large btn-primary" %></p>
    <% end %>
  </div>
  
  <% if @open_questions.size == 0 %>
    <h3>This group does not currently have any public questions.</h3>
  <% else %>
  <h3>Open Questions</h3>
    <% @open_questions.each do |q| %> 
      <%= link_to question_path(q.id) do %>
        <% if q.title.present? %>
          <h3><%= format_text_for_display(q.title) -%></h3>
        <% else %>
          <h3><%= format_text_for_display(q.body.truncate(80, separator: ' ')) %></h3>
        <% end %>
        <p><%= format_text_for_display(q.body.truncate(320, separator: ' ')) %></p>
      <% end %>
      
      <p>
        <% if q.location.present? %>
          <% if q.county.present? %>
            <span class="tag tag-geography"><%= "#{q.county.name}" %></span>
          <% end %>
          <% if q.location.present? %>
            <span class="tag tag-geography"><%= q.location.name %></span>
          <% end %>
        <% end %>

      <% if q.tags.size > 0 %>
        <% q.tags.each do |tag| %>
          <span class="label"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @group.id, :tag_id => tag.id) %></span>
        <% end %>
      <% end %>
       Posted <%= time_ago_in_words(q.created_at) %> ago
    <% end %>
	</p>
  <% end %>
  
  
</div>

<div id="secondary" class="span4">
  
</div>