
<div id="main" class="span6">
  <h1><%= @user.name %></h1>
  <h3>Short description</h3>
  <h3>Location</h3>
  
  <%= get_avatar(@user) %>
  
  <p>
    <strong>About me:</strong>
    <% if @user.bio %>
      <%= @user.bio %>
    <% else %>
      This person hasn't added a description yet...
    <% end  %>
  </p>
  
  <% if @user.tags.length > 0 %>
    <h3>
    <% @user.tags.each do |tag| %>
      <span class="label"><%= tag.name %></span>
    <% end %>
    </h3>
  <% end %>
  
</div>


<div id="main" class="span6">
  <% if current_user %>
    <%= link_to "expert view", expert_user_path(@user.id), :class => "label btn-inverse" %>
  <% end %>
  
  <h3>Answered Questions</h3>

  <% @fake_answered.each do |question| %>
  <div class="answered_question">

      <%= link_to expert_question_path(question.id) do %>
        <% if question.title.present? %>
          <p><%= format_text_for_display(question.title) -%></p>
        <% else %>
          <p><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></p>
        <% end %>
      <%- end -%>
      <p>Location <span class="label">Tags</span> <span class="label">Tags</span> <span class="label">Tags</span>  <%= time_ago_in_words(question.created_at) %> ago </p>
  
  </div>
  <% end %>
</div>