<% @page_title = @user.public_name %>

<div id="main" class="col-md-6">
  
  <div id="user_masthead">
    <%= link_public_user_avatar(@user) %>
    <h1>
      <%= @user.public_name %>
    </h1>
    <% if @user.title.present? %>
      <h3 class="expert_title"><%= @user.title %></h3>
    <% end %>
    
    <% if current_user && current_user.has_exid? && @user.has_exid? %>
      <p><%= link_to "expert view", expert_user_path(@user.id), :class => "btn btn-small" %></p>
    <% end %>    
  </div>
  
  
  <% if @user.bio? %>
    <div class="aboutme">
      <%= format_text_for_display(@user.bio) %>
    </div>
  <% end %>
  
  <% if @user.tags.size > 0 %>
    <p>
    <% @user.tags.each do |tag| %>
      <span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_path(:name => tag.name) %></span>
    <% end %>
    </p>
  <% end %>
  
  <div id="location_list">

  <% if @user.has_exid? && @user.expertise_locations.size > 0 %>

    <h3>Expertise Locations</h3>
      <% @user.expertise_locations.each do |l| %>
        <div class="location">

          <h4><span class="tag tag-geography"><%= link_to l.name, view_location_path(l.id) %></span></h4>

          <% if @user.expertise_locations.where("location_id = ?", l.id).size > 0 %>
            <% if @user.expertise_counties.where("location_id = ?", l.id).size > 0 %>
              <ul>
                <% @user.expertise_counties.where("location_id = ?", l.id).each do |c| %>
                  <li><span class="tag tag-geography"><%= link_to "#{c.name}", view_county_path(c.id) %></span></li>
                <% end %>
              </ul>
            <% else %>
                <ul>
                  <li class="all_counties">All counties</li>
                </ul>
              <% end %>
            <% end %>

        </div>
      <% end %>

  <% end %>

  </div>
</div>

<% if @user.has_exid? %>
<div id="main" class="col-md-6">
  <% if @open_questions.size > 0 %>
    <h3>Assigned Questions</h3>

    <% @open_questions.each do |question| %>
    <div class="answered_question">

        <%= link_to question_path(question.id) do %>
          <% if question.title.present? %>
            <p><%= format_text_for_display(question.title) -%></p>
          <% else %>
            <p><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></p>
          <% end %>
        <%- end -%>
    </div>
    <% end %>
  <% end %>
  
  
  <% if @answered_questions.size > 0 %>
      <h3>Answered Questions</h3>

      <% @answered_questions.each do |question| %>
        <div class="answered_question">
            <%= link_to question_path(question.id) do %>
              <% if question.title.present? %>
                <p><%= format_text_for_display(question.title) -%></p>
              <% else %>
                <p><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></p>
              <% end %>
            <%- end -%>
        </div>
      <% end %>
  <% end %>
  <% end %>
  
</div>