<table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Expert</th>
      <th>Primary location</th>
      <th>Answered</th>
      <th>Assigned</th>
      <th>Touched*</th>
      <th>Last Active</th>
      <th>Metrics</th>
    <tr>
    </thead>

<% @experts.each do |member| %>
  <tr>
    <td><%= link_expert_user_avatar(member, :thumb) %> <%= link_expert_user(member) %></td>
    <td>
      <% if member.location %>
        <% if member.county %>
          <%= member.county.name %>, 
        <% end %>
        <%= member.location.abbreviation %>
      <% end %>
    </td>
    <td class="center">
      <% if @date.class == DateTime || @date.class == Date %>
        <span class="bignumber"><%= member.resolved_count > 0 ? expert_question_list_link(member.resolved_count, {id: member.id, filter: 'answered', year_month: @year_month}) : "0"%></span>
      <% else %>
        <span class="bignumber"><%= member.resolved_count > 0 ? expert_question_list_link(member.resolved_count, {id: member.id, filter: 'answered', year: @year_month}) : "0"%></span>
      <% end %>
    </td>
    <td class="center">
      <% if @date.class == DateTime || @date.class == Date %>
        <% member_assigned_count = member.assigned_count_by_year_month[@year_month] %>
        <span class="bignumber">
        <%= member_assigned_count ? expert_question_list_link(member_assigned_count, {id: member.id, filter: 'assigned', year_month: @year_month}) : 0%></span>
      <% else %>
        <% member_assigned_count = member.assigned_count_by_year[@year_month] %>
        <span class="bignumber">
        <%= member_assigned_count ? expert_question_list_link(member_assigned_count, {id: member.id, filter: 'assigned', year: @year_month}) : 0%></span> 
      <% end %>
    </td>
    <td class="center">
      <% if @date.class == DateTime || @date.class == Date %>
        <% member_touched_count = member.touched_count_by_year_month[@year_month] %>
        <span class="bignumber">
        <%= member_touched_count ? expert_question_list_link(member_touched_count, {id: member.id, filter: 'touched', year_month: @year_month}) : 0%></span>
      <% else %>
        <% member_touched_count = member.touched_count_by_year[@year_month] %>
        <span class="bignumber">
        <%= member_touched_count ? expert_question_list_link(member_touched_count, {id: member.id, filter: 'touched', year: @year_month}) : 0%></span> 
      <% end %>
    </td>
    <td><span class="downplay">Last active: <%= get_last_active_time(member) %></span></td>
    <td><%= link_to('Full report',expert_expert_report_path(member.id)) %></td>
    </tr>

<% end %>

</table>

<p class="downplay">*Touched counts every kind of question interaction (answering, assigning, tagging, locating, grouping, editing, etc.)</p>