<ul class="nav nav-tabs">
  <li><%= link_to "Profile", expert_user_path(@expert) %></li>
  <li><%= link_to "Answered (#{@expert.answered_questions.size})", expert_user_answered_path(@expert) %></li>
  <li><%= link_to "Watched (#{@expert.watched_questions.size})", expert_reports_expert_profile_list_path({id: @expert.id, filter: 'watched'}) %></li>
  <li><%= link_to "Rejected (#{@expert.rejected_questions.size})", expert_reports_expert_profile_list_path({id: @expert.id, filter: 'rejected'}) %></li>
</ul>

<div class="well">
  <%= link_expert_user_avatar(@expert, :medium, current_user.id == @expert.id ? true : false) %>
  <h1>
    <span class="<%= @expert.is_question_wrangler? ? 'qw_large' : '' %>"><%= @expert.name %></span> <%= @expert.retired ? "(Retired Account)" : "" %>
  </h1>
  <%= @expert.retired ? "(Retired Account)" : "" %>
  
</div>

<div class="page-header">
  <h1><%= @question_list.total_count %> <%= @display_title %></h1>
  <% if params[:filter] == 'touched' %>
    <p class="downplay">Touched counts every kind of question interaction (answering, assigning, tagging, locating, grouping, editing, etc.)</p>
  <% end %>
</div>

<div class='row'>
  <div class="col-md-12">
    <%- if @question_list.blank? -%>
    <p>No questions to display</p>
    <%- else -%>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Question Location</th>
            <th>Last Status</th>
            <th>Submitted</th>
            <th>Last Resolved</th>
            <th>Last Resolved By</th>
          </tr>
        </thead>
        <tbody>
        <%- @question_list.each do |question| -%>
          <tr>
            <td><%= link_to(question.title.html_safe, expert_question_path(id: question.id)) %></td>
            <td><% if question.location.present? %>
              <% if question.county.present? %>
                <span class="tag tag-geography"><%= link_to "#{question.county.name}", expert_view_county_path(question.county.id) %></span>
              <% end %>
                <span class="tag tag-geography"><%= link_to question.location.abbreviation, expert_view_location_path(question.location.id) %></span>
            <% else %>
              <span class="label label-inverse"><%= link_to "No Location" %></span>
            <% end %></td>
            <td><%= Question.convert_to_string(question.status_state) %></td>
            <td><%= humane_date(question.created_at) %></td>
            <td><%= question.resolved_at.blank? ? '' : humane_date(question.resolved_at) %></td>
            <td><%= question.current_resolver_id.blank? ? '' : link_to(question.current_resolver.name, expert_user_path(id: question.current_resolver_id)) %></td>
          </tr>
        <%- end -%>
        </tbody>
      </table>
    <%- end # has a question_list -%>
  </div>
</div>

<%= paginate @question_list %>

