<div id="dashboard">
  <div class="span12">
    
    <p><%= link_to "Reports Home", expert_reports_home_path() %></p>
    
    <div id="location_filter">
      <div id="location_picker">
    	<%= select_tag "location_option", options_from_collection_for_select(@locations, "id", "name", params[:location_id]), {:prompt => "All locations", :name => "location_option"} %>
      </div>

      <div id="county_list">
        <% if params[:location_id].present? %>
          <%= select_tag("county_option", options_for_select(get_county_options(params[:location_id]), params[:county_id])) %>
        <% end %>
      </div>

      <%= select_tag "group_option", options_from_collection_for_select(@my_groups, "id", "name", params[:group_id]), {:prompt => "All groups", :name => "group_option"} %>
      <% select_tag "tag_option", options_from_collection_for_select(@my_tags, "id", "name", @tag_pref), {:prompt => "All tags (from your tag list)", :name => "tag_option"} %>
      <% if @unanswered_questions_count > 0 && @condition_array.present? %>
        <h5 class="highlight_unanswered"><span>There are <%= link_to "#{@unanswered_questions_count} Unanswered Questions", expert_home_unanswered_path(:override => true, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id])%> that match this filter.</span></h5>
      <% end %>

    </div>
  
    
    
    <div id="report_summary" class="">
      
      <h1><%= @condition_array.present? ? "Summary Report for #{@condition_array}" : "Summary Report - All Locations and Groups" %></h1>
      
      <% if @date.class == DateTime || @date.class == Date %>
        <h2><%= @date.strftime("%B, %Y") %></h2>
        
        <p>
          <%= link_to "Previous month", expert_reports_home_path(:year_month => @previous_year_month, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %> 
          <% if @following_year_month %>
  	      |  <%= link_to "Following month", expert_reports_home_path(:year_month => @following_year_month, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %>
  	      <% end %>
  	      
  	      <span class="pull-right">
  	        <%= link_to "Last Year", expert_reports_home_path(:year => (Time.now.year - 1).to_s, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %> | 
    	      <%= link_to "This Year", expert_reports_home_path(:year => (Time.now.year).to_s, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %>
    	      <span>
        </p>
        
      <% elsif @date.class == String %>
        <h2><%= @date %></h2>
        
        <p>
          <%= link_to "Current month", expert_reports_home_path(:year_month => (DateTime.now).strftime('%Y-%m'), :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %> 
  	      <span class="pull-right">
  	        <%= link_to "Last Year", expert_reports_home_path(:year => (Time.now.year - 1).to_s, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %> | 
    	      <%= link_to "This Year", expert_reports_home_path(:year => (Time.now.year).to_s, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %>
    	      <span>
        </p>
      <% end %>
      
      

      
      <div id="data_summary">
        <h2>Question Activity</h2>

        <p>
        <% if @questions_asked_count > 0 %> 
          <% if @date.class == DateTime || @date.class == Date %>
            <%= link_to(number_with_delimiter(@questions_asked_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "asked")) %> 
          <% else %>
            <%= link_to(number_with_delimiter(@questions_asked_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "asked")) %> 
          <% end %>
        <% else %>
           0
        <% end %>
 Questions Asked
        </p>

        <p>
        <% if @questions_answered_count > 0 %>
          <% if @date.class == DateTime || @date.class == Date %>
            <%= link_to(number_with_delimiter(@questions_answered_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "answered")) %>
          <% else %>
            <%= link_to(number_with_delimiter(@questions_answered_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "answered")) %>
          <% end %>
        <% else %>
            0
        <% end %>
        Questions Answered by <%= @responder_count %> Experts
        </p>
       
        <% if defined?(@location) && @location.present? && !defined?(@county) %>
          <br />
          <h2>Distribution of Activity for <%= @location.abbreviation %> Questions</h2>
          <% if @responders_in_state_count > 0 %>  
          <p>
          <%= @responders_in_state_count %> In-State Experts Answered 
          <% if @resolved_by_state_experts > 0 %>
            <% if @date.class == DateTime || @date.class == Date %>
              <%= link_to(number_with_delimiter(@resolved_by_state_experts, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "in_state_experts")) %>
            <% else %>
              <%= link_to(number_with_delimiter(@resolved_by_state_experts, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "in_state_experts")) %>
            <% end %>
          <% else %>
            0
          <% end %>
          Questions</p>
          <% else %>
            <p>No In-State Expert Activity</p>
          <% end %>
          <% if @responders_outside_state_count > 0 %>
          <p>
          <%= @responders_outside_state_count %> Out-of-State Experts Answered 
          <% if @resolved_by_outside_state_experts > 0 %> 
            <% if @date.class == DateTime || @date.class == Date %>
              <%= link_to(number_with_delimiter(@resolved_by_outside_state_experts, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "out_of_state_experts")) %>     
            <% else %>
              <%= link_to(number_with_delimiter(@resolved_by_outside_state_experts, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "out_of_state_experts")) %>
            <% end %>
          <% else %>
            0
          <% end %>
          Questions</p>
          <% else %>
            <p>No Out-of-State Expert Activity</p>
          <% end %>
       
        <% end %>
      </div>
      
      <% if @experts.total_count > 0 %>
      <div id="expert_summary">
      <h2>Expert Activity</h2>
      <p>For Experts in <%= @condition_array.present? ? @condition_array : "All Locations and Groups" %></p>
      
      
      <% if defined?(@location) && @location.present? && !defined?(@county) %>
      <% if @responders_by_state_experts_outside_location_count %>
         <p>
          <%= @responders_by_state_experts_outside_location_count %> In-State Experts Answered 
          <% if @resolved_by_state_experts_outside_location > 0 %> 
            <% if @date.class == DateTime || @date.class == Date %>
              <%= link_to(number_with_delimiter(@resolved_by_state_experts_outside_location, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "out_of_state_questions_by_state_experts")) %>     
            <% else %>
              <%= link_to(number_with_delimiter(@resolved_by_state_experts_outside_location, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "out_of_state_questions_by_state_experts")) %>
            <% end %>
          <% else %>
            0
          <% end %>
          Out-of-State Questions</p>
        <% else %>
          <p>No Out-of-State Expert Activity</p>
        <% end %>
      <% end %>
      
      <p>Expert Total: <%= @experts.total_count %></p>
	  
      <div id="paginator">
	    <%= "Viewing page #{@experts.current_page} of #{@experts.num_pages}" %>
        <%= paginate @experts, :remote => true %>
      </div>
        
      <div id="experts">
        <%= render :partial => "expert/reports/experts" %>
      </div>
       
      <% else %>
        <!-- <p>There are no experts in this location</p> -->
      <% end %>
      </div>
  </div>
</div>

<script class="code" type="text/javascript">
  
  function set_params(param, id) {
    var pathname = window.location.pathname;
    var params = new Array();
    
    if (param == "location_id") {
      var location_id = id;
      var county_id = "";
    } else {
      var location_id = (param == "location_id" ? id : "<%= params[:location_id] %>");
      var county_id = (param == "county_id" ? id : "<%= params[:county_id] %>");
    }
    var group_id = (param == "group_id" ? id : "<%= params[:group_id] %>");
    var year_month = "<%= params[:year_month] %>"
    var year = "<%= params[:year] %>"
    
    if (year_month) {
      params.push("year_month=" + year_month);
    }
    if (location_id) {
      params.push("location_id=" + location_id);
    }      
    if (county_id) {
      params.push("county_id=" + county_id);
    }
    if (group_id) {
      params.push("group_id=" + group_id);
    }
    if (year) {
      params.push("year=" + year);
    }
    return pathname + "?" + params.join("&");
	}


  $("#location_option").change(function() {
    var location_id = $('select#location_option :selected').val();
    new_url = set_params("location_id", location_id);
    window.location.href = new_url;
    return false;
  });

  $("#county_option").change(function() {
    var county_id = $('select#county_option :selected').val();
    new_url = set_params("county_id", county_id);
    window.location.href = new_url;
    return false;
  });

  $("#group_option").change(function() {
    var group_id = $('select#group_option :selected').val();
    new_url = set_params("group_id", group_id);
    window.location.href = new_url;
    return false;
  });

</script>