<div id="dashboard"> 
  <div class="col-md-12">
    
    <p class="dontprintme"><%= render :partial => 'reports_navigation' %></p>
    
    <div id="location_filter">
      <div id="location_picker">
    	<%= select_tag "location_option", options_from_collection_for_select(@locations, "id", "name", params[:location_id]), {:prompt => "All locations", :name => "location_option"} %>
      </div>

      <div id="county_list">
        <% if params[:location_id].present? %>
          <%= select_tag("county_option", options_for_select(get_county_options(params[:location_id]), params[:county_id])) %>
        <% end %>
      </div>

      <%= select_tag "group_option", options_from_collection_for_select(@my_groups, "id", "name", params[:group_id]), {:prompt => "All groups", :name => "group_option"} %>
      <% select_tag "tag_option", options_from_collection_for_select(@my_tags, "id", "name", @tag_pref), {:prompt => "All tags (from your tag list)", :name => "tag_option"} %>
      <% if @unanswered_questions_count > 0 && @condition_array.present? %>
        <h5 class="highlight_unanswered"><span>There are <%= link_to "#{@unanswered_questions_count} Unanswered Questions", expert_questions_path(:status => "unanswered", :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id])%> that match this filter.</span></h5>
      <% end %>

    </div>
  
    
    
    <div id="report_summary" class="">
      
      <h1><%= @condition_array.present? ? "Summary Report for #{@condition_array}" : "Summary Report - All Locations and Groups" %></h1>
      
      <% if @date.class == DateTime || @date.class == Date %>
        <h2 class="report_date_range"><%= @date.strftime("%B, %Y") %></h2>
        
        <p class="dontprintme">
          <%= link_to "Previous month", expert_reports_locations_and_groups_path(:year_month => @previous_year_month, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %> 
          <% if @following_year_month %>
  	      |  <%= link_to "Following month", expert_reports_locations_and_groups_path(:year_month => @following_year_month, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %>
  	      <% end %>
  	      
  	      <span class="pull-right">
  	        <%= link_to "Last Year", expert_reports_locations_and_groups_path(:year => (Time.now.year - 1).to_s, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %> | 
    	      <%= link_to "This Year", expert_reports_locations_and_groups_path(:year => (Time.now.year).to_s, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %>
    	      </span>
        </p>
        
      <% elsif @date.class == String %>
        <h2 class="report_date_range"><%= @date %></h2>
        
        <p class="dontprintme">
          <%= link_to "Current month", expert_reports_locations_and_groups_path(:year_month => (DateTime.now).strftime('%Y-%m'), :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %> 
  	      <span class="pull-right">
  	        <%= link_to "Last Year", expert_reports_locations_and_groups_path(:year => (Time.now.year - 1).to_s, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %> | 
    	      <%= link_to "This Year", expert_reports_locations_and_groups_path(:year => (Time.now.year).to_s, :location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id]) %>
    	      </span>
        </p>
      <% end %>
      
      

      
      <div id="data_summary">
        <h2>Questions from <%= @condition_array.present? ? @condition_array : "All Locations and Groups" %></h2>

        <p>
        <% if @questions_asked_count > 0 %> 
          <% if @date.class == DateTime || @date.class == Date %>
            <%= link_to(number_with_delimiter(@questions_asked_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "asked")) %> 
          <% else %>
            <%= link_to(number_with_delimiter(@questions_asked_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "asked")) %> 
          <% end %>
        <% else %>
           0
        <% end %>
 Questions asked
        </p>

        <p>
        <% if @questions_answered_count > 0 %>
          <% if @date.class == DateTime || @date.class == Date %>
            <%= link_to(number_with_delimiter(@questions_answered_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "answered")) %>
          <% else %>
            <%= link_to(number_with_delimiter(@questions_answered_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "answered")) %>
          <% end %>
        <% else %>
            0
        <% end %>
         Questions answered
        </p>
       
        <% if defined?(@location) && @location.present? && !defined?(@county) %>
        <% if @questions_asked_count > 0 || @questions_answered_count > 0 %>
          <br />
          <h3>In-State vs Out-of-State Answering</h3>
          
          <%= render :partial => "expert/reports/ratio_graph" %>

          <p class="state_ratio_label"><%= sprintf('%.0f',(@resolved_by_state_experts.to_f / (@resolved_by_outside_state_experts+@resolved_by_state_experts).to_f)  * 100) %><small>%</small> of questions were answered in-state. <%= sprintf('%.0f',(@resolved_by_outside_state_experts.to_f / (@resolved_by_outside_state_experts+@resolved_by_state_experts).to_f)  * 100) %><small>%</small> were answered out-of-state.</p>
          
          <p><%= @responder_count %> experts answered 
            
            <% if @questions_answered_count > 0 %>
              <% if @date.class == DateTime || @date.class == Date %>
                <%= link_to(number_with_delimiter(@questions_answered_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "answered")) %>
              <% else %>
                <%= link_to(number_with_delimiter(@questions_answered_count, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "answered")) %>
              <% end %>
            <% else %>
                0
            <% end %>
            
            questions</p>
          <% if @responders_in_state_count > 0 %>  
          <p>
          <%= @responders_in_state_count %> <span class="in_state">In-State</span> experts answered 
          <% if @resolved_by_state_experts > 0 %>
            <% if @date.class == DateTime || @date.class == Date %>
              <%= link_to(number_with_delimiter(@resolved_by_state_experts, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "in_state_experts")) %>
            <% else %>
              <%= link_to(number_with_delimiter(@resolved_by_state_experts, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "in_state_experts")) %>
            <% end %>
          <% else %>
            0
          <% end %>
            questions</p>
          <% else %>
            <p>No in-state expert activity</p>
          <% end %>
          <% if @responders_outside_state_count > 0 %>
          <p>
          <%= @responders_outside_state_count %> <span class="out_state">Out-of-State</span> experts answered 
          <% if @resolved_by_outside_state_experts > 0 %> 
            <% if @date.class == DateTime || @date.class == Date %>
              <%= link_to(number_with_delimiter(@resolved_by_outside_state_experts, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "out_of_state_experts")) %>     
            <% else %>
              <%= link_to(number_with_delimiter(@resolved_by_outside_state_experts, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "out_of_state_experts")) %>
            <% end %>
          <% else %>
            0
          <% end %>
           questions</p>
          <% else %>
            <p>No out-of-state expert activity</p>
          <% end %>
       
        <% end %>
        <% end %>
      </div>
      
      <% if @experts.total_count > 0 %>
      <div id="expert_summary">
      <h2>Experts in <%= @condition_array.present? ? @condition_array : "All Locations and Groups" %></h2>
      
      
      <% if defined?(@location) && @location.present? && !defined?(@county) %>
      <% if @responders_by_state_experts_outside_location_count %>
         <p>
          <%= @responders_by_state_experts_outside_location_count %> experts answered 
          <% if @resolved_by_state_experts_outside_location > 0 %> 
            <% if @date.class == DateTime || @date.class == Date %>
              <%= link_to(number_with_delimiter(@resolved_by_state_experts_outside_location, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year_month => @year_month, :filter => "out_of_state_questions_by_state_experts")) %>     
            <% else %>
              <%= link_to(number_with_delimiter(@resolved_by_state_experts_outside_location, :delimiter => ','), expert_reports_question_list_path(:location_id => params[:location_id], :county_id => params[:county_id], :group_id => params[:group_id], :year => @year_month, :filter => "out_of_state_questions_by_state_experts")) %>
            <% end %>
          <% else %>
            0
          <% end %>
          out-of-state questions</p>
        <% else %>
          <p>No Out-of-State Expert Activity</p>
        <% end %>
      <% end %>
      
      <h3 class="table_header"><%= @experts.total_count %> Experts Answered, Were Assigned or Touched a Question in 
      
        <% if @date.class == DateTime || @date.class == Date %>
          <%= @date.strftime("%B, %Y") %>
        <% elsif @date.class == String %>
          <%= @date %>
        <% end %>
    
      </h3>
	  
      <div id="paginator">
        <%= paginate @experts, :remote => true %>
      </div>
        
      <div id="experts">
        <%= render :partial => "expert/reports/experts" %>
      </div>
       
      <% else %>
        <div id="expert_summary">
          <h2>Experts in <%= @condition_array.present? ? @condition_array : "All Locations and Groups" %></h2>
          <h3>No Experts Answered, Were Assigned or Touched a Question in 

            <% if @date.class == DateTime || @date.class == Date %>
              <%= @date.strftime("%B, %Y") %>
            <% elsif @date.class == String %>
              <%= @date %>
            <% end %>

          </h3>
        </div>
      <% end %>
      </div>
  </div>
</div>

<script class="code" type="text/javascript">
  
  function set_params(param, id) {
    var pathname = window.location.pathname;
    var params = new Array();
    
    if (param == "location_id") {
      var location_id = id;
      var county_id = "";
    } else {
      var location_id = (param == "location_id" ? id : "<%= params[:location_id] %>");
      var county_id = (param == "county_id" ? id : "<%= params[:county_id] %>");
    }
    var group_id = (param == "group_id" ? id : "<%= params[:group_id] %>");
    var year_month = "<%= params[:year_month] %>"
    var year = "<%= params[:year] %>"
    
    if (year_month) {
      params.push("year_month=" + year_month);
    }
    if (location_id) {
      params.push("location_id=" + location_id);
    }      
    if (county_id) {
      params.push("county_id=" + county_id);
    }
    if (group_id) {
      params.push("group_id=" + group_id);
    }
    if (year) {
      params.push("year=" + year);
    }
    return pathname + "?" + params.join("&");
	}


  $("#location_option").change(function() {
    var location_id = $('select#location_option :selected').val();
    new_url = set_params("location_id", location_id);
    window.location.href = new_url;
    return false;
  });

  $("#county_option").change(function() {
    var county_id = $('select#county_option :selected').val();
    new_url = set_params("county_id", county_id);
    window.location.href = new_url;
    return false;
  });

  $("#group_option").change(function() {
    var group_id = $('select#group_option :selected').val();
    new_url = set_params("group_id", group_id);
    window.location.href = new_url;
    return false;
  });

</script>