<div class="incoming_question title_only">
  
  <div class="row">
  
      
      <%= link_to question_path(question.id) do %>
        <h3><%= format_text_for_display(question.title) -%></h3>
      <%- end -%>

      <%= render :partial => 'shared/question_meta_data', :locals => {:question => question} %>
      
      <% question.images.each do |image| %>
        <% if File.exists?(Rails.root.join("public#{image.url(:original,false)}")) %>

          <a data-toggle="modal" href="#myModal<%= image.id %>"><%= image_tag image.url(:thumb), :class => "size100w" %></a>

          <div id="myModal<%= image.id %>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <p>
                <strong><a href="#" type="button" data-dismiss="modal" aria-hidden="true">Close</a></strong> -
                <%= link_to "View full size in a new window", image.url(), :target => "_blank" %>
              <p>
            </div>
            <div class="modal-body">
              <%= image_tag image.url() %>
            </div>
          </div>
        <% else %>
          <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image size80x80') %>
        <% end %>
      <% end %>
  
  </div>
  
</div>