<div class="incoming_question">
  <h1 class="article_title"><%= link_to(question.title.html_safe, question_path(question.id)) %></h1>
  <p class="question_body"><%= format_text_for_display(question.body).html_safe -%></p>

  <% if question.responses.size > 0 %>
    <p><span class="response_count"><%= link_to "Answered", question_path(question.id) %></span></p>
  <% end %>

  <% if question.images.size > 0 %>

    <div class="images_wrapper clearfix">
      <% question.images.each do |image| %>
        <% if File.exists?(Rails.root.join("public#{image.url(:original,{escape: false, timestamp: false})}")) %>
          <%= image_tag image.dynamic_attachment_url("300x300#"), :class => "size150w" %></a>
      <% else %>
          <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image size80x80') %>
        <% end %>
      <% end %>
      <br class="clearing" />
    </div>

  <% end %>

    <p>
      <% if question.location_id.present? %>
        <% if question.county_id.present? %>
          <span class="tag tag-geography"><%= "#{county_names[question.county_id]}" %></span>
        <% end %>
        <% if question.location_id.present? %>
          <span class="tag tag-geography"><%= location_names[question.location_id] %></span>
        <% end %>
      <% end %>

      <%- cached_tag_hash = question.cached_tags -%>
      <% if !cached_tag_hash.blank? %>
        <% cached_tag_hash.each do |tag_id,tag_name| %>
          <% if tag_name != "front page" %>
            <span class="tag tag-topic"><%= link_to tag_name, questions_by_tag_path(:name => tag_name) %></span>
          <% end %>
        <% end %>
      <% end %>
      <span class="smallish text-muted"><%= time_ago_in_words(question.created_at) %> ago</span>


    <% if current_user && current_user.has_exid? %>
      <%= link_to "expert view", expert_question_path(question.id), :class => "btn btn-default"   %>
    <% end %>

    </p>
  </div>
