<div class="incoming_question">
  <%= link_to question_path(question.id) do %>
    <h3><%= format_text_for_display(question.title) -%></h3>
    <p class="question_body"><%= Question.html_to_pretty_text(question.body).html_safe -%></p>
    
    <% if question.responses.size > 0 %>
    <p><span class="response_count">Answered</span></p>
    <% end %>
    
    <% if question.comments.size > 0 %>
      <p><span class="response_count"><%= question.comments.size %> <%= question.comments.size > 1 ? "Comments" : "Comment" %> </span></p>
    <% end %>
  <%- end -%>
  
  <% if question.images.size > 0 %>
    
    <div class="images_wrapper">
      <% question.images.each do |image| %>
        <% if File.exists?(Rails.root.join("public#{image.url(:original,false)}")) %>  
          <div class="question_image_wrapper">
            <a data-toggle="modal" href="#myModal<%= image.id %>"><%= image_tag image.dynamic_attachment_url("300x300#"), :class => "size150w" %></a>
          </div>
          <div id="myModal<%= image.id %>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <p>
                <strong><a href="#" type="button" data-dismiss="modal" aria-hidden="true">Close</a></strong> -
                <%= link_to "View full size in a new window", image.url(), :target => "_blank" %>
              <p>
            </div>
            <div class="modal-body">
              <%= image_tag image.url() %>
            </div>
          </div>
        <% else %>
          <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image size80x80') %>
        <% end %>
      <% end %>
      <br class="clearing" />
    </div>
    
  <% end %>
  
  
  
    <p>
      <% if question.location.present? %>
        <% if question.county.present? %>
          <span class="tag tag-geography"><%= "#{question.county.name}" %></span>
        <% end %>
        <% if question.location.present? %>
          <span class="tag tag-geography"><%= question.location.name %></span>
        <% end %>
      <% end %>

      <% if question.tags.size > 0 %>
        <% question.tags.each do |tag| %>
          <% if tag.name != "front page" %>
            <span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_path(:name => tag.name) %></span>
          <% end %>
        <% end %>
      <% end %>
        <span class="smallish"><%= time_ago_in_words(question.created_at) %> ago</span>


    <% if current_user && current_user.has_exid? %>
      <%= link_to "expert view", expert_question_path(question.id), :class => "btn"   %>
    <% end %>

    </p>
  </div>