<% if @recent_unanswered.size > 0 %>
  <h3>Unanswered with photos</h3>

  <% @recent_unanswered.each do |question| %>
  <div class="answered_question_images">

      <%= link_to question_path(question.id) do %>
      <div class="answered_question_images_wrapper">
      <% if File.exists?(Rails.root.join("public#{question.images.first.url(:original,false)}")) %>
        <%= image_tag question.images.first.url(:medium), :class => "size300w" %>
      <% else %>
        <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image size80x80') %>
      <% end %>
      </div>
        <% if question.title.present? %>
          <p><%= format_text_for_display(question.title) -%></p>
        <% else %>
          <p><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></p>
        <% end %>
        
      <%- end -%>
      <br class="clearing" />
  </div>
  <% end %>
<% end %>


<% if current_location.present? %>
  <h3><span id="display_location"><%= display_location_and_county %></span></h3>
<% else %>
  <h3><span id="display_location">Customize your location</span></h3>
<% end %>
<span id="change_location" class="btn">change</span>

<div id="set_location" style="display:none;">
  <p><%= select_tag(:location_id, options_for_select(get_location_options, current_location.present? ? current_location.id : nil)) %></p>
  <p id="county_list">
    <% if current_location.present? %>
      <%= select_tag(:county_id, options_for_select(get_county_options_without_all_counties(current_location), current_county.present? ? current_county.id : nil)) %>
    <% end %>
  </p>
</div>



<script type="text/javascript">
$("#change_location").click(function () {
  $("#set_location").toggle();
});

$("#location_id").change(function() {
  var location_id = $('select#location_id :selected').val();
    jQuery.get('/home/county_options_list/' + location_id, function(data){
      $("#county_list").html(data);
    })
  });

  $("#county_list").on("change", "#county_id", function(){
    var county_id = $('select#county_id :selected').val();
    var location_id = $('select#location_id :selected').val();
    if(county_id != '') {
      $.ajax({
        type: "POST",
        url: "/home/change_yolo",
        cache: false,
        data: {county_id: county_id, location_id: location_id}
      })
      .done(function() {
				$("#set_location").hide()
				return false;
      })
      .fail(function() {
        alert("error");
  			return false;
      })
    }
  });
</script>