<h2><span id="display_location"><%= display_location_and_county %></span></h2>
<span id="change_location" class="btn">change</span>

<div id="set_location" style="display:none;">
  <p><%= select_tag(:location_id, options_for_select(get_location_options, default_location_id)) %></p>
  <p id="county_list">
    <% if current_location.present? %>
      <%= select_tag(:county_id, options_for_select(get_county_options_without_all_counties(current_location), default_county_id)) %>
    <% end %>
  </p>
</div>

<% if default_location_id %>
<div class="tag_summary">
  <% @groups = Group.with_expertise_location(default_location_id).limit(6) %>
  <h2>Groups near you</h2>
<% if @groups.length > 0 %>
  <% @groups.each do |group| %>
    <p><%= link_public_group_avatar(group, :thumb) %> <%= link_to group.name, group_path(group.id) %></p>
  <% end %>
  <p>view all</p> 
<% else %>
  <p>There are no groups in this location</p>
<% end %>
</div>

<% end %>


<script type="text/javascript">
$("#change_location").click(function () {
  $("#set_location").toggle();
});

$("#location_id").change(function() {
  var location_id = $('select#location_id :selected').val();
    jQuery.get('/home/county_options_list/' + location_id, function(data){
      $("#county_list").html(data);
    })
  });

  $("#county_list").on("change", "#county_id", function(){
    var county_id = $('select#county_id :selected').val();
    var location_id = $('select#location_id :selected').val();
    if(county_id != '') {
      $.ajax({
        type: "POST",
        url: "/ajax/change_yolo",
        cache: false,
        data: {county_id: county_id, location_id: location_id}
      })
      .done(function() {
				$("#set_location").hide()
				return false;
      })
      .fail(function() {
        alert("error");
  			return false;
      })
    }
  });
</script>