<div id="main" class="span8">
  
  <div class="map"></div>

  <h1><%= @county.name %>, <%= link_to @location.name, view_location_path(@location.id) %></h1>
  
  <div class="span5">
    <div class="location_section">
      <h2>Experts (<%= number_with_delimiter(@expert_total_count, :delimiter => ',') %>)</h2>
    <% if @experts.size > 0 %>
      <% @experts.each do |member| %>
        <p><%= link_public_user_avatar(member, :thumb) %> <%= link_to member.public_name, user_path(member.id) %></p>
      <% end %>
    <% else %>
      <p>There are no experts in this location</p>
    <% end %>
    </div>
  </div>
  
  <div class="span6">
    <div class="location_section">
      <h2>Groups (<%= number_with_delimiter(@group_total_count, :delimiter => ',') %>)</h2>
    <% if @groups.size > 0 %>
      <% @groups.each do |group| %>
        <div class="group_in_group_list active">
          <p class="group_list_avatar"><%= link_public_group_avatar(group, :thumb) %></p>
          <h4><%= link_to group.name, group_path(group.id) %></h4>
          <p><strong><%= group.joined.count %> <%= group.joined.count >  1 ? "Members" : "Member" %></strong><p>  
          <p class="downplay">
          <% if group.assignment_outside_locations == true %>
            Accepts questions from anywhere.
          <% else %>
            Questions must match this group's locations
          <% end %>
          </p>
        </div>
      <% end %>
    <% else %>
      <p>There are no groups in this location</p>
    <% end %>
    </div>
  </div>
  
  <div class="location_section clearing">
    <h2>Questions (<%= number_with_delimiter(@question_total_count, :delimiter => ',') %>)</h2>
    <% if @questions.size > 0 %>
      <% @questions.each do |question| %>
        <%= render :partial => 'full_public_question', :locals => {:question => question} %>
      <% end %>
      <p><%= link_to "view all", expert_questions_by_location_path() %></p>
    <% else %>
      <p>There are no questions in this location</p>
    <% end %>
  </div>
  
</div>

<div id="secondary" class="span4">

</div>
