<div id="main" class="span8">

  
  
  <% if @recent_questions.length == 0 %>
    
    <div id="day_one">
      <h1>Welcome to the new Ask an Expert</h1>
      
      <h2>Where's the Questions?</h2>
      <p>There are not any publicly viewable questions yet because the previous Ask an Expert system did not allow any public sharing. So when we migrated the existing questions to this version, we had to mark them all as "private."</p>
      <p>This page will fill up as new questions are submitted and submitters choose to share. Please check back soon!</p>
    </div>
    
  <% else %>
  <% @recent_questions.each do |question| %>
  
  <h1>Recent Questions</h1>
  
  <div class="incoming_question">
    <%= link_to question_path(question.id) do %>
      <% if question.title.present? %>
        <h3><%= format_text_for_display(question.title) -%></h3>
      <% else %>
        <h3><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></h3>
      <% end %>
      <p><%= question.body -%></p>
    <%- end -%>
      
      <p>Location   
        <% if question.tags.length > 0 %>
          <% question.tags.each do |tag| %>
            <span class="label"><%= tag.name %></span>
          <% end %>
        <% end %>
          <%= time_ago_in_words(question.created_at) %> ago

      <% if current_user %>
        <%= link_to "edit/view", expert_question_path(question.id), :class => "label btn-info" %>
      <% end %>
      
      </p>
    </div>
  <% end %>
  <% end %>
</div>

<div id="main" class="span4">
  <aside>
    <h2>Your Location...</h2>
    <p>County, State</p>
    
    <h2>Extension Near You</h2>
    <div id="institution"></div>
    
    <h4>(Do we want to show local agents here?)</h4>
  </aside>
</div>