<div id="main" class="span8">



  <% if @recent_questions.length == 0 %>

    <div id="day_one">
      <h1>Welcome to the new Ask an Expert</h1>

      <h2>Where's the Questions?</h2>
      <p>There are not any publicly viewable questions yet because the previous Ask an Expert system did not allow any public sharing. So when we migrated the existing questions to this version, we had to mark them all as "private."</p>
      <p>This page will fill up as new questions are submitted and submitters choose to share. Please check back soon!</p>
    </div>

  <% else %>

  <h3 class="main">Recent Questions</h3>
  <% @recent_questions.each do |question| %>

  <div class="incoming_question">
    <%= link_to question_path(question.id) do %>
      <% if question.title.present? %>
        <h3><%= format_text_for_display(question.title) -%></h3>
      <% else %>
        <h3><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></h3>
      <% end %>
      <p><%= question.body -%></p>
    <%- end -%>

      <p>
        <% if question.location.present? %>
          <% if question.county.present? %>
            <span class="tag tag-geography"><%= "#{question.county.name}" %></span>
          <% end %>
          <% if question.location.present? %>
            <span class="tag tag-geography"><%= question.location.abbreviation %></span>
          <% end %>
        <% end %>

        <% if question.tags.length > 0 %>
          <% question.tags.each do |tag| %>
            <% if question.assigned_group %>
              <span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => question.assigned_group.id, :tag_id => tag.id) %></span>
            <% else %>
              <span class="tag tag-topic"><%= link_to tag.name, expert_home_tags_path(:name => tag.name) %></span>
            <% end %>
          <% end %>
        <% end %>
          <%= time_ago_in_words(question.created_at) %> ago


      <% if current_user && current_user.has_exid? %>
        <%= link_to "expert view", expert_question_path(question.id)  %>
      <% end %>

      </p>
    </div>
  <% end %>
  <% end %>
</div>

<div id="main" class="span4">
  <aside>
    <h2>Your Location...</h2>
    <p><span id="display_location"><%= display_location_and_county %></span> <span id="change_location" class="btn">change</span></p>

    <div id="set_location" style="display:none;">
      <p><%= select_tag(:location_id, options_for_select(get_location_options, default_location_id)) %></p>
      <p id="county_list">
        <% if current_location.present? %>
          <%= select_tag(:county_id, options_for_select(get_county_options_without_all_counties(current_location), default_county_id)) %>
        <% end %>
      </p>

      <script type="text/javascript">
        $("#change_location").click(function () {
          $("#set_location").toggle();
        });

        $("#location_id").change(function() {
          var location_id = $('select#location_id :selected').val();
            jQuery.get('/home/county_options_list/' + location_id, function(data){
              $("#county_list").html(data);
            })
          });

          $("#county_list").on("change", "#county_id", function(){
            var county_id = $('select#county_id :selected').val();
            var location_id = $('select#location_id :selected').val();
            $.ajax({
              type: "POST",
              url: "/ajax/change_session_location",
              cache: false,
              data: {county_id: county_id, location_id: location_id}
            })
            .done(function() {
      				$("#set_location").hide()
      				return false;
            })
            .fail(function() {
              alert("error");
        			return false;
            })
          });
        </script>

    </div>
    <h2>Extension Near You</h2>
    <div id="institution"></div>

    <h4>(Do we want to show local agents here?)</h4>
  </aside>
</div>