<ol class="breadcrumb">
  <li><%= link_to "Locations", expert_locations_path -%></li>
  <li><%= link_to @location.name, expert_location_path %></li>
</ol>

<h1><%= @location.name -%> primary group manager</h1>
<p class="subhead">These are the groups which are displayed when someone searches for their location on ask.extension.org</p>

<%- if(@location.primary_groups.count < 1) -%>
  <div class="well">
    <h3>No primary groups have been designated for this location</h3>
  </div>
<%- end -%>

<%- if @location.active_primary_groups.count >= 1 -%>
  <h3><%= link_to("View entry page", location_path(@location.id), class: 'btn btn-default') -%></h3>
<%- else -%>
  <p>This location has no assignable groups!</p>
<%- end -%>

<h2>Primary groups</h2>
<%- if(@location.primary_groups.count >= 1) -%>
  <%- @location.primary_groups.order(:name).each do |group| -%>
    <div class="location-group">
      <h2><%= link_to group.name, expert_group_path(group) -%></h2>
      <h3><span>Available members: <%= group.assignees.count -%></span></h3>

      <%= form_tag(remove_primary_group_expert_location_path(id: @location.id)) do -%>
        <%= hidden_field_tag('group_id', group.id) %>
        <p><%= submit_tag('Remove primary group', class: 'btn btn-default btn-xs btn-danger') %></p>
      <%- end -%>
    </div>
<%- end -%>


<%- end -%>

<div class="well">
  <h2>Add another primary group</h2>
<%= form_tag(add_primary_group_expert_location_path(id: @location.id)) do -%>
  <div class="input-group">
    <h3>Search for a group by name</h3>
    <div class="form-group">
      <%= text_field_tag("group_picker", "", class: 'form-control input-lg', :placeholder => 'Type and select a group' )%>
      <%= hidden_field_tag('group_id') %>
    </div>
    <p>
      <%= submit_tag('Designate as primary group', class: 'btn btn-default btn-primary input-lg') %>
    </p>
  </div>
<%- end -%>
</div>



<script class="code" type="text/javascript">
    // create an instance of autocomplete plus a hack for using the 'enter' key instead of direct selection
    $(document).ready(function(){
		$("#group_picker").autocomplete({
      source: "/ajax/groups",
			minLength: 2,
      select: function(e, ui) {
        $("#group_id").val(ui.item.id);
			}
		});
		});
</script>
