<ol class="breadcrumb">
  <li><%= link_to "Locations", expert_locations_path -%></li>
</ol>

<div id="main" class="col-md-12">

  <div id="main" class="col-md-12">
    <h1><%= @location.name %></h1>
    <% if @unanswered_questions_count %>
      <h3><%= link_to @unanswered_questions_count == 1 ? "#{@unanswered_questions_count} Unanswered Question" : "#{@unanswered_questions_count} Unanswered Questions", expert_questions_path(:status => "unanswered", :location_id => @location.id)%></h3>
    <% end %>
    <p><%= link_to "View Summary Report", expert_reports_locations_and_groups_path(:location_id => @location.id) %></p>

  </div>

<div class="col-md-4">
  <div class="location_section">
  <h2>Primary groups</h2>

  <%- if(@location.primary_groups.count < 1) -%>
    <div class="alert alert-danger" role="alert">
      <h3>No primary groups have been designated for this location</h3>
      <p><%= link_to "Manage primary groups", primary_groups_expert_location_path(id: @location.id), :class => "btn btn-default" -%></p>
      <p>
        <%- if @location.default_message? -%>
          Showing default message for this location.
        <%- else -%>
          Showing a custom message for this location.
        <%- end -%>
        <br/> A <%= link_to("custom message can be set and displayed", message_expert_location_path(id: @location.id)) -%>  when no primary groups are defined.
      </p>
    </div>
  <%- end -%>

  <%- if(@location.primary_groups.count >= 1) -%>
    <%- @location.primary_groups.order(:name).each do |group| -%>
      <div class="location-group">
        <div class="group_in_group_list <%= !group.group_active? ? "inactive_group" : "active" %>">
          <p class="group_list_avatar"><%= link_expert_group_avatar(group, :thumb) %></p>
          <h4><%= link_to group.name, expert_group_path(group.id) %></h4>
          <%- if !group.group_active? -%>
            <p class="warning">Group not active</p>
          <%- end -%>
          <p><strong>Available members: <%= group.assignees.count -%></strong> (out of <%= group.joined.count %>)</p>
          <p class="downplay">
          <% if group.assignment_outside_locations == true %>
            Accepts questions from anywhere.
          <% else %>
            Questions must match this group's locations
          <% end %>
          </p>
        </div>
      </div>

    <%- end -%>
  <%- end -%>
  <div class="alert muted">
    <p>Primary groups are displayed when someone selects a location to ask a question on ask.extension.org.</p>
    <p><%= link_to "View entry page", ask_path(@location.id), :class => "btn btn-default btn-sm" -%></p>
    <p><%= link_to "Manage primary groups", primary_groups_expert_location_path(id: @location.id), :class => "btn btn-default btn-sm" -%></p>
  </div>
</div>
</div>

  <div class="col-md-3">
    <div class="location_section">
      <h2>Experts (<%= number_with_delimiter(@expert_total_count, :delimiter => ',') %>)</h2>

      <% if @experts.size > 0 %>
        <% @experts.each do |member| %>
          <p><%= link_expert_user_avatar(member, :thumb) %> <%= link_expert_user(member) %> <br /><span class="downplay">Last active: <%= get_last_active_time(member) %></span></p>

        <% end %>
        <p><%= link_to "view all", experts_expert_location_path() %></p>
      <% else %>
        <p>There are no experts in this location</p>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="location_section">
      <h2>Active Groups (<%= number_with_delimiter(@group_total_count_active, :delimiter => ',') %>)</h2>

      <% if @groups.size > 0 %>
        <% @groups.each do |group| %>
          <div class="group_in_group_list <%= !group.group_active? ? "inactive_group" : "active" %>">
            <p class="group_list_avatar"><%= link_expert_group_avatar(group, :thumb) %></p>
            <h4><%= link_to group.name, expert_group_path(group.id) %></h4>
            <p><%= !group.group_active? ? "Inactive Group" : "" %></p>
            <p><strong><%= group.joined.count %> <%= group.joined.count >  1 ? "Members" : "Member" %></strong><p>
            <p class="downplay">
            <% if group.assignment_outside_locations == true %>
              Accepts questions from anywhere.
            <% else %>
              Questions must match this group's locations
            <% end %>
            </p>
          </div>
        <% end %>
        <p><%= link_to "view all active", expert_groups_by_location_path() %></p>
        <p><%= link_to "view inactive (#{number_with_delimiter(@group_total_count_inactive, :delimiter => ',')})", expert_groups_by_location_path(:group_status => "inactive") %></p>
      <% else %>
        <p>There are no groups in this location</p>
      <% end %>
    </div>
  </div>

  <div class="col-md-12">
    <h2>Counties</h2>
    <div class="county-columns">
      <ul class="county_list">
      <% @counties.each do |county| %>
        <li><span class="tag tag-geography"><%= link_to "#{county.name}", expert_view_county_path(county.id) %></span> <%= User.with_expertise_county(county.id).exid_holder.not_retired.count > 0 ? "#{User.with_expertise_county(county.id).exid_holder.not_retired.count} experts" : "" %></li>
      <% end %>
      </ul>
    </div>

  </div>


</div>
