<div class="col-md-10 col-md-offset-1">

  <h1>Tag edit</h1>

  <div class="alert alert-info">
    <p>Tag ID: <%= @tag.id %></p>
    <h1>Tag name</h1>
    <h2><span class="tag-monospace">"<%= @tag.name %>"</span></h2>
    <br />
    <h2>Number of time used: <%= @total_items_tagged %></h2>
    <ul class="tag-replacement-list">
      <li>Experts (<%= number_with_delimiter(@expert_total_count, :delimiter => ',') %>)</li>
      <li>Groups (<%= number_with_delimiter(@group_total_count, :delimiter => ',') %>)</li>
      <li>Questions (<%= number_with_delimiter(@question_total_count, :delimiter => ',') %>)</li>
    </ul>
  </div>

  <div>
    <%= form_tag({controller: "tags", action: "edit_confirmation"}, method: "post", class: "") do %>
      <%= hidden_field_tag('current_tag',@tag.name) %>

      <div class="form-group">
        <h3><label for="replacement_tag" class="control-label">Replacement tag</label></h3>
        <%= text_field_tag("replacement_tag",@replacement_tag_placeholder, class: 'form-control input-lg input-xl' ) -%>
        <p class="help-block">(The placeholder tag above has been normalized to remove any underscores and consolidate spaces)</p>
      </div>

    <div class="form-group">
      <p>
        <%= submit_tag "Preview change", :class => "btn btn-default btn-lg btn-primary" %>
        <%= link_to "Cancel", expert_show_tag_path(@tag.name), :class => "btn btn-default" %>
        <a class="btn btn-default pull-right" role="button" data-toggle="collapse" href="#deleteOption" aria-expanded="false" aria-controls="deleteOption"><i class='fa fa-trash-o'></i> View delete option</a>
      </p>
    </div>
    <%- end # end form -%>




    <div class="collapse" id="deleteOption">
      <div class="alert alert-neutral">
        <% if @current_user_has_tag %>
          <!-- <h2>Current user has tag</h2> -->
          <% if @expert_total_count > 1 || @group_total_count > 0 %>
            <!-- <h2>Other people or groups have the tag too</h2> -->
            <h3><span class="tag-edit-warning-banner"><strong>Warning:</strong> Deleting this tag WILL affect other people. Are you sure you should delete it?</span></h3>
          <% end %>
        <% else %>
          <!-- <h2>Current user DOES NOT has tag</h2> -->
          <% if @expert_total_count > 0 || @group_total_count > 0 %>
            <!-- <h2>Other people or groups have the tag</h2> -->
            <h3><span class="tag-edit-warning-banner"><strong>Warning:</strong> Deleting this tag WILL affect other people. Are you sure you should delete it?</span></h3>
          <% end %>
        <% end %>
        <%= form_tag({controller: "tags", action: "delete"}, method: "post", class: "") do %>
          <%= hidden_field_tag('current_tag',@tag.name) %>
          <div class="form-group">
            <%= hidden_field_tag('tag_id',@tag.id) %>
            <p><%= submit_tag "Permanently delete tag", :class => "btn btn-default btn-danger btn-lg" %></p>
          </div>
        <%- end # end form -%>
      </div>
    </div>





  </div>




</div>
