<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3>Someone Left One of Your Groups</h3>
    
    <p><%= link_to @former_member.name, expert_user_url(@former_member.id) %> has left <%= link_to @group.name, expert_group_url(@group.id) %></p>
    
    <p><%= link_to("View the Group History", expert_group_history_url(@group)) -%></p>
  </td>
</tr>

<%= render :partial => 'partials/internal_email_footer' %>