<%= render :partial => 'partials/public_email_header' %>

<tr>
  <td class="content padding">
    <h3>One of Your Groups Has a New Leader</h3>
    
    <p><%= link_to @new_leader.name, expert_user_url(@new_leader.id) %> is now a Leader of <%= link_to @group.name, expert_group_url(@group.id) %></p>
    
    <p><%= link_to("View the Group History", expert_group_history_url(@group)) -%></p>
  </td>
</tr>

<%= render :partial => 'partials/internal_email_footer' %>