<!DOCTYPE html>

<html style="margin: 0; padding: 0;">

<head>
  <title>
    A leader has left <%= @group.name %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
</head>
<body>

<div id="wrapper" class="bgcolor">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" class="bgcolor">
  <%- if Settings.app_location != 'production' -%>
    <tr class="demotagline">
      <td>This email is being sent from a demonstration install of Ask an Expert. Please feel free to ignore this test email.</td>
    </tr>
  <%- end -%>
  <tr>
    <th align="left" class="bgcolor">
      <%- logo_url = @mailer_cache.blank? ? "#{ssl_root_url}assets/ex_logo_micro.png" : "#{ssl_webmail_logo}" -%>
      <h1 id="ask_logo"><%= image_tag(logo_url, alt: "Ask") %></h1>      
    </th>
  </tr>
  <tr class="tagline">
    <td><%= @former_leader.name %> is no longer a member of <%= @group.name %>.</td>
  </tr>
  <tr class="options">
    <td>
      <%- if @mailer_cache -%>
        <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
      <%- else -%>
        <a href="">View in a browser</a> 
      <%- end -%>
    </td>
  </tr>
  
    
  <tr>
    <td class="footer">
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="footer">
        <tr>
          <td class="bgcolor">
            <p>This email was sent to <%= @user.email %>. You received this email because you signed up to receive notifications from <%= root_url %>.</p>
          </td>
        </tr>
        <tr class="options">
          <td>
            <%- if @mailer_cache -%>
              <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
            <%- else -%>
              <a href="">View in a browser</a> 
            <%- end -%>
              <%= link_to "Unsubscribe (NYI)", "unsubscribe_url" %>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
    </td>
  </tr>
</table>
</div>  
</body>
</html>
