<!DOCTYPE html>

<html style="margin: 0; padding: 0;">

<head>
  <title>Someone left <%= @group.name %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <%= render(partial: 'partials/mail_styles') %>
	<%= stylesheet_link_tag("#{ssl_root_url}email/mobile.css") %>
</head>
<body>
  
  
  <div id="wrapper">
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="599">
    <%- if Settings.app_location != 'production' -%>
      <tr class="demotagline">
        <td>This is a DEMO email from an Ask an Expert Test site. Please feel free to ignore this test email.</td>
      </tr>
    <%- end -%>
    <tr>
      <th align="left" class="bgcolor">
        <%- logo_url = @mailer_cache.blank? ? "#{ssl_root_url}assets/logo_small.png" : "#{ssl_webmail_logo}" -%>
        <h1 id="ask_logo"><%= image_tag(logo_url, alt: "Ask") %></h1>      
      </th>
    </tr>

    <tr class="tagline">
      <td>Someone Left One of Your Groups</td>
    </tr>
    <tr class="options">
      <td>
        <%- if @mailer_cache -%>
          <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
        <%- else -%>
          <a href="">View in a browser</a> 
        <%- end -%>
      </td>
    </tr>

    <tr>
      <td>

        <table cellpadding="0" cellspacing="0" border="0" align="center" width="500">
            <tr>
              <td id="reminder_title">
                <%= @former_member.name %> is no longer a member of <%= @group.name %>.
              </td>
            </tr>
            <tr>
              <td id="callout">
                <table cellpadding="0" cellspacing="0" border="0" align="left">
                  <tr>
                    <td><%= image_tag("#{ssl_root_url}assets/magnifying_glass.png", size: "60x60") %></td>
                    <td class="callout"><%= link_to("View the Group History", expert_group_history_url(@group)) -%></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="group"><p><%= link_expert_group_avatar(@group, :thumb) %> <%= link_to @group.name, expert_group_url(@group.id) %></p></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="group"><p><%= link_expert_user_avatar(@former_member, :thumb) %> <%= link_to @former_member.name, expert_user_url(@former_member.id) %></p></td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td class="meta_details">*** PLEASE DO NOT REPLY TO THIS MESSAGE ***</td>
            </tr>

          </table>


      </td>
    </tr>

    <tr>
      <td class="footer">
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="footer">
          <tr>
            <td class="bgcolor">
              <p>This email was sent to <%= @user.email %>. You received this email because you have an account at <%= root_url %>. You can change your notification settings in <%= link_to "your preferences", expert_settings_assignment_url() %>.</p>
            </td>
          </tr>
          <tr class="options">
            <td>
              <%- if @mailer_cache -%>
                <%= link_to('View in a browser', webmail_view_url(hashvalue: @mailer_cache.hashvalue)) %>
              <%- else -%>
                <a href="">View in a browser</a> 
              <%- end -%>
                <%= link_to "Change your email settings", expert_settings_assignment_url() %>
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
    </tr>
</table>
</div>  
</body>
</html>
