<% if question_count == 0 %>
  <h2>This person doesn't have any <%= @question_list %> questions</h2>
<% else %>
  
  <h2><%= @question_list.capitalize %> (<%= question_count %>)</h2>
  
  <%= paginate questions %>
  <% questions.each do |question| %>
    <%= render :partial => 'expert/shared/full_question', :locals => {:question => question, :hide_assignee => true, :suppress_single_badges => true} %>
  <% end %>
  <%= paginate questions %>
<% end %>