<h1><%= link_to @user.name, expert_user_path(@user) %></h1>

<h2>Group Notifications</h2>

<% if current_user.id == @user.id %>
  <%= render :partial => 'expert/settings/settings_navigation' %>
  <div class="explanation">
    <p><strong>You are currently a member of these groups.</strong> This is also where you set your notification preferences for each group. To leave a group, visit the group's homepage and click the 'Leave Group' button.</p>
  </div>
<% end %>

<% @page_title = @user.name + " - Groups" %>


<div id="main" class="col-md-12">
  
  <% if @user_groups.size == 0 %>
    <% if current_user.id == @user.id %>
      <h2>You currently are not a member or leader of any groups.</h2>
    <% else %>
      <h2>This person is not a member or leader of any groups.</h2>
    <% end %>
  <% else %>
    
  <table class="table table-bordered">
    <% @user_groups.each do |group| %>
      <tr>
        <td class="large_groups <%= !group.group_active? ? "inactive_group" : "active" %>">
          <%= link_expert_group_avatar(group, :medium) %> 
          <h3><%= link_to group.name, expert_group_path(group.id) %> <%= !group.group_active? ? "(Inactive)" : "" %></h3>
          <% if @user.leader_of_group(group)%>
            <h4><strong>Leader <i class="icon-user"></i></strong></h4>
          <% end %>
          <p><%= group.joined.count %> Members</p>
        </td>
        
        <% if current_user.id == @user.id %>
        <td>
          <%= form_tag('/expert/users/save_notification_prefs', :class => "form-stacked no_m_t well", :method => "post") do -%>
          <ul class="notification_options">
            <%= hidden_field_tag(:group_id, group.id) %>
            <li><%= check_box_tag :send_incoming_notification, true, @user.send_incoming_notification?(group) %> Notify me every time this Group gets a new question</li>
            <li><%= check_box_tag :send_daily_summary, true, @user.send_daily_summary?(group) %>  Send me a Daily Summary</li>
            <li><%= submit_tag "save", :class => 'btn btn-default'%></li>
          </ul>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
    </table>
      
      
  <% end %>

</div>
