<h1><%= link_to @user.name, expert_user_path(@user) %></h1>

<h1>Groups</h1>

<% if current_user.id == @user.id %>
  <%= render :partial => 'expert/settings/settings_navigation' %>
<% end %>

<% @page_title = @user.name + " - Groups" %>


<div id="main" class="span12">
  
  <% if @my_groups.length == 0 %>
    <li>You currently are not a member or leader of a group.</li>
  <% else %>
    
  <table class="table table-bordered">
    <% @my_groups.each do |group| %>
      <tr>
        <td class="large_groups">
          <%= link_expert_group_avatar(group, :medium) %> 
          <h3><%= link_to group.name, expert_group_path(group.id) %></h3>
          <% if @user.leader_of_group(group)%>
            <h4><strong>Leader <i class="icon-user"></i></strong></h4>
          <% end %>
          <p><%= group.joined.count %> Members</p>
        </td>
        
        <td>
          <%= form_tag('/expert/users/save_notification_prefs', :class => "form-stacked no_m_t well", :method => "post") do -%>
          <ul class="notification_options">
            <%= hidden_field_tag(:group_id, group.id) %>
            <li><%= check_box_tag :send_incoming_notification, true, @user.send_incoming_notifiation?(group) %> Notify me every time this Group gets a new question</li>
            <li><%= check_box_tag :send_daily_summary, true, @user.send_daily_summary?(group) %>  Send me a Daily Summary</li>
            <li><%= submit_tag "save", :class => 'btn'%></li>
          </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
      
      
      
  <% end %>

</div>
