
<div id="main" class="span6">  
  <h1><%= @user.name %></h1>
  <%= get_avatar(@user) %>
  
  <h3>Expert description</h3>
  
  <h3>Location</h3>
  
  <p>
    <strong>About me:</strong>
    <% if @user.bio %>
      <%= @user.bio %>
    <% else %>
      This person hasn't added a description yet...
    <% end  %>
  
  <% if current_user.id == @user.id %>
  <%= link_to 'edit', expert_settings_profile_path() %>
  <% end %>
  </p>
  
  
  <% if @answered_questions.length == 0 %>
    <h3>This person hasn't answered any questions</h3>
  <% else %>
  <h3>Answered Questions</h3>
    <% @answered_questions.each do |q| %> 
      <%= link_to expert_question_path(q.id) do %>
        <% if q.title.present? %>
          <h3><%= format_text_for_display(q.title) -%></h3>
        <% else %>
          <h3><%= format_text_for_display(q.body.truncate(80, separator: ' ')) %></h3>
        <% end %>
        <p><%= format_text_for_display(q.body.truncate(320, separator: ' ')) %></p>
      <% end %>
      
      <p>Location 
      <% if q.tags.length > 0 %>
        <% q.tags.each do |tag| %>
          <% if q.assigned_group %>
            <span class="label"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => q.assigned_group.id, :tag_id => tag.id) %></span>
          <% else %>
            <span class="label"><%= link_to tag.name, expert_home_tags_path(:tag_id => tag.id) %></span>
          <% end %>
        <% end %>
      <% else %>
        <span class="label label-inverse"><%= link_to "needs tags", expert_question_path(q.id) %></span>
      <% end %>
       <%= time_ago_in_words(q.created_at) %> ago
      </p>
      
       
       <% if q.assigned_group %>
   	      <p><%= get_group_avatar(q.assigned_group, :mini) %> <%= link_to q.assigned_group.name, expert_group_path(q.assigned_group.id) %></p>
   		<% else %>
   			<p><strong>This question is groupless</strong></p>
   		<% end %>
       
    <% end %>
	    
	    
	    
  <% end %>

</div>


<div id="main" class="span6">
  <p><%= link_to "Public profile", user_path(@user.id), :class => "label btn-warning" %></p>
  
  <% if current_user.id == @user.id %>
  <ul class="nav nav-tabs">
    <li><%= link_to 'Edit settings', expert_settings_profile_path() %></li>
  </ul>
  <% end %>
  
  <h2>Currently Assigned</h2>
  <p>No Questions currently assigned</p>
  
  <h4>Handling Rate</h4>
  <p><span class="handling_rate"><span>75</span></span></p>
  
  <p>
    <% if @user.tags.length > 0 %>
      <% @user.tags.each do |tag| %>
      <span class="label"><%= link_to tag.name, expert_users_tags_path(:user_id => @user.id, :tag_id => tag.id) %></span>
      <% end %>
    <% else %>
      There are no tags at this time.
    <% end %>
  
    <% if current_user.id == @user.id %>
      <%= link_to 'edit', expert_settings_tags_path() %>
    <% end %>
  </p>
  
  <div class="section">
  <h3>Group Membership</h3>
  <ul>
    <% if @my_groups.length == 0 %>
      <li>You currently are not a member or leader of a group.</li>
    <% else %>
      <% @my_groups.each do |group| %>  
        <li><%= get_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></li>
      <% end %>
    <% end %>
  </ul>
  </div>
  
</div>









