
<div id="main" class="span6">
  <p><%= link_to "View public page", user_path(@user.id), :class => "label btn-warning" %></p>
  
  <h1><%= @user.name %></h1>
  <%= get_avatar(@user) %>
  
  <h3>Expert description</h3>
  
  <h3>Location</h3>
  
  <p>
    <strong>About me:</strong>
    <% if @user.bio %>
      <%= @user.bio %>
    <% else %>
      This person hasn't added a description yet...
    <% end  %>
  
  <% if current_user.id == @user.id %>
  <%= link_to 'edit', expert_settings_profile_path() %>
  <% end %>
  </p>

  
  <% if @user.tags.length > 0 %>
    <h3>
    <% @user.tags.each do |tag| %>
      <span class="label"><%= tag.name %></span>
    <% end %>
    </h3>
  <% else %>
    <p>There are no tags at this time.</p>
  <% end %>
  
  
  <div class="section">
  <h3>Group Membership</h3>
  <ul>
    <% if @my_groups.length == 0 %>
      <li>You currently are not a member or leader of a group.</li>
    <% else %>
      <% @my_groups.each do |group| %>  
        <li><%= get_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></li>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>


<div id="main" class="span6">
  
  <h2>Currently Assigned</h2>
  <p>No Questions currently assigned</p>
  
  <h4>Handling Rate</h4>
  <p><span class="handling_rate"><span>75</span></span></p>
  
  <h3>Answered Questions</h3>

  <% @answered_questions.each do |question| %>
  <div class="answered_question">

      <%= link_to expert_question_path(question.id) do %>
        <% if question.title.present? %>
          <p><%= format_text_for_display(question.title) -%></p>
        <% else %>
          <p><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></p>
        <% end %>
      <%- end -%>
      <p>Location   
        <% if question.tags.length > 0 %>
          <% question.tags.each do |tag| %>
            <span class="label"><%= tag.name %></span>
          <% end %>
        <% end %>
          <%= time_ago_in_words(question.created_at) %> ago
      </p>
  
  </div>
  <% end %>
</div>









