<% @page_title = @user.name %>

<div id="main" class="span8">
  
  <div id="user_masthead">
    <%= get_avatar(@user) %>
    <h1><%= @user.name %> <%= link_to "Public Profile", user_path(@user.id), :class => "btn" %></h1>
  
    <h3>Expert description</h3>
    
    <p>
      <strong>About me:</strong>
      <% if @user.bio %>
        <%= @user.bio %>
      <% else %>
        This person hasn't added a description yet...
      <% end  %>

    <% if current_user.id == @user.id %>
    <%= link_to 'edit', expert_settings_profile_path() %>
    <% end %>
    </p>
  </div>
  
  
  
  <% if @answered_questions.length == 0 %>
    <h3>This person hasn't answered any questions</h3>
  <% else %>
  
    <h3>Answered Questions</h3>
    <% @answered_questions.each do |q| %> 
      <div class="question list">
        <%= link_to expert_question_path(q.id) do %>
          <% if q.title.present? %>
            <h3><%= format_text_for_display(q.title) -%></h3>
          <% else %>
            <h3><%= format_text_for_display(q.body.truncate(80, separator: ' ')) %></h3>
          <% end %>
          <p><%= format_text_for_display(q.body.truncate(320, separator: ' ')) %></p>
        <% end %>
      
        <p>
          <% if q.location.present? %>
            <% if q.county.present? %>
              <span class="tag tag-geography"><%= link_to "#{q.county.name} County", expert_view_county_path(q.county.id) %></span>
            <% end %>
            <% if q.location.present? %>
              <span class="tag tag-geography"><%= link_to q.location.abbreviation, expert_view_location_path(q.location.id) %></span>
            <% end %>
          <% else %>
            <span class="label label-inverse"><%= link_to "No Location" %></span>
          <% end %>
          
          
    

        
        <% if q.tags.length > 0 %>
          <% q.tags.each do |tag| %>
            <% if q.assigned_group %>
              <span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => q.assigned_group.id, :tag_id => tag.id) %></span>
            <% else %>
              <span class="tag tag-topic"><%= link_to tag.name, expert_home_tags_path(:tag_id => tag.id) %></span>
            <% end %>
          <% end %>
        <% else %>
          <span class="label label-inverse"><%= link_to "needs tags", expert_question_path(q.id) %></span>
        <% end %>
         <%= time_ago_in_words(q.created_at) %> ago
        </p>
      
       
       <% if q.assigned_group %>
   	      <p><%= get_group_avatar(q.assigned_group, :mini) %> <%= link_to q.assigned_group.name, expert_group_path(q.assigned_group.id) %></p>
   		<% else %>
   			<p><strong>This question is groupless</strong></p>
   		<% end %>
      </div>
    <% end %>
	    
	    
	    
  <% end %>

</div>


<div id="secondary" class="span4">
  
  <% if current_user.id == @user.id %>
  <ul class="nav nav-tabs">
    <li><%= link_to 'Edit settings', expert_settings_profile_path() %></li>
  </ul>
  <% end %>
  
  <aside>
  
  <% if @open_questions.length == 0 %>
    <h2>Currently Assigned</h2>
      <p>No Questions currently assigned</p>
  <% else %>
    
    
  <h2>Currently Assigned (<%= @open_questions.length %>)</h2>
      <% @open_questions.each do |q| %> 
      <div class="question list">
        <%= link_to expert_question_path(q.id) do %>
          <% if q.title.present? %>
            <h4><%= format_text_for_display(q.title) -%></h4>
          <% else %>
            <h4><%= format_text_for_display(q.body.truncate(80, separator: ' ')) %></h4>
          <% end %>
        <% end %>

        <p>Location 
        <% if q.tags.length > 0 %>
          <% q.tags.each do |tag| %>
            <% if q.assigned_group %>
              <span class="label"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => q.assigned_group.id, :tag_id => tag.id) %></span>
            <% else %>
              <span class="label"><%= link_to tag.name, expert_home_tags_path(:tag_id => tag.id) %></span>
            <% end %>
          <% end %>
        <% else %>
          <span class="label label-inverse"><%= link_to "needs tags", expert_question_path(q.id) %></span>
        <% end %>
         <%= time_ago_in_words(q.created_at) %> ago
        </p>


         <% if q.assigned_group %>
     	      <p><%= get_group_avatar(q.assigned_group, :mini) %> <%= link_to q.assigned_group.name, expert_group_path(q.assigned_group.id) %></p>
     		<% else %>
     			<p><strong>This question is groupless</strong></p>
     		<% end %>
     		</div>
<% end %>

  
   
       
  <% end %>
  </aside>
  

  
  <aside>
    <h4>Handling Rate</h4>
    <p><span class="handling_rate"><span>75 (fake data)</span></span></p>
  </aside>


  <aside>
    <%= render :partial => 'location_summary' %>
  </aside>


  <aside>
    <% if @user.tags.length > 0 %>
      <p class="tags">  
        <% @user.tags.each do |tag| %>
        <span class="tag tag-topic"><%= link_to tag.name, tags_expert_users_path(:user_id => @user.id, :tag_id => tag.id) %></span>
        <% end %>
      </p>
      <% if current_user.id == @user.id %>
        <p><%= link_to 'edit', expert_settings_tags_path() %></p>
      <% end %>
      <br class="clearing" />
      
    <% else %>
    
      <% if current_user.id == @user.id %>
        <h4>Help improve your question assignments<h4>
          <%= link_to 'Add tags to your profile', expert_settings_tags_path(), :class => 'btn-primary btn' %>
      <% else %>
        <p>No tags selected</p>
      <% end %>
        
    <% end %>
  </aside>

  <aside>
    <h3>Group Membership <%= link_to "(#{@my_groups.count})", expert_user_groups_path() %></h3>
    <ul class="groups">
      <% if @my_groups.length == 0 %>
        <li>You currently are not a member or leader of a group.</li>
      <% else %>
        <% @my_groups.each do |group| %>  
          <li><%= get_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></li>
        <% end %>
      <% end %>
      <%= link_to "View groups", expert_user_groups_path() %>
    </ul>
  </aside>
  
</div>









