<% suppress_single_badges = local_assigns[:suppress_single_badges].nil? ? false : suppress_single_badges %>
<% hide_groups = local_assigns[:hide_groups].nil? ? false : hide_groups %>
<% hide_assignee = local_assigns[:hide_assignee].nil? ? false : hide_assignee %>

<div class="incoming_question">
  
  <div class="row-fluid">
    
    <div class="span8">
      
      <%= link_to expert_question_path(question.id) do %>
        <h3><%= format_text_for_display(question.title) -%></h3>
        <p><%= Question.html_to_pretty_text(question.body).html_safe -%></p>
      <%- end -%>
      
      <%= render :partial => 'expert/shared/question_meta_data', :locals => {:question => question} %>
      
      <% question.images.each do |image| %>
        <% if File.exists?(Rails.root.join("public#{image.url(:original,false)}")) %>

          <a data-toggle="modal" href="#myModal<%= image.id %>"><%= image_tag image.url(:thumb), :class => "size100w" %></a>

          <div id="myModal<%= image.id %>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <p>
                <strong><a href="#" type="button" data-dismiss="modal" aria-hidden="true">Close</a></strong> -
                <%= link_to "View full size in a new window", image.url(), :target => "_blank" %>
              <p>
            </div>
            <div class="modal-body">
              <%= image_tag image.url() %>
            </div>
          </div>
        <% else %>
          <%= image_tag("missing_image.png", :size => "80x80", :class => 'missing_image size80x80') %>
        <% end %>
      <% end %>
      
    </div> <!-- end .span8 -->
    
    <div class="span4">
      <div class="expert">
        <% if !hide_assignee %>
          <% if question.assignee_id.present? %>
            <%= link_expert_user_avatar(question.assignee, :thumb, suppress_single_badges) %> <%= link_expert_user(question.assignee) %> 
  	      <% else %>
  	        <p><strong>This question does not have an assignee.</strong></p>
          <% end %>
        <% end %>
	      
	      <% if !hide_groups %>
	        <% if question.assigned_group %>
            <p><%= link_expert_group_avatar(question.assigned_group, :mini, suppress_single_badges) %> <%= link_expert_group(question.assigned_group) %></p>
  	      <% else %>
  		      <p><strong>This question is groupless</strong></p>
          <% end %>
        <% end %>
      </div>
    </div><!-- end .span4 -->
  
  </div>
  
</div>