<p class="question_meta_data">
  <% if !question.is_private %>
    <span class="tag tag-public"><%= link_to "Public", question_path(question.id) %></span>
  <% end %>
  
  <% if question.location.present? %>
    <% if question.county.present? %>
      <span class="tag tag-geography"><%= link_to "#{question.county.name}", expert_view_county_path(question.county.id) %></span>
    <% end %>
      <span class="tag tag-geography"><%= link_to question.location.abbreviation, expert_view_location_path(question.location.id) %></span>
  <% else %>
    <span class="label label-inverse"><%= link_to "No Location" %></span>
  <% end %>
  
  <% if question.tags.size > 0 %>
    <% question.tags.each do |tag| %>
      <% if question.assigned_group %>
        <span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => question.assigned_group.id, :tag_id => tag.id) %></span>
      <% else %>
        <span class="tag tag-topic"><%= link_to tag.name, expert_home_tags_path(:name => tag.name) %></span>
      <% end %>
    <% end %>
  <% else %>
    <span class="label label-inverse"><%= link_to "needs tags", expert_question_path(question.id) %></span>
  <% end %>
  
  <small>
    <% if question.resolved_at %>
    Resolved <%= time_ago_in_words(question.resolved_at) %> ago.
    <% end %>
    
    Submitted <%= time_ago_in_words(question.created_at) %> ago.
  
    <% if (question.created_at != question.last_assigned_at) && !question.last_assigned_at.nil? && !question.resolved_at? %>
      Reassigned <%= time_ago_in_words(question.last_assigned_at) %> ago.
    <% end %>
  </small>
</p>

