<div class="span12">

<%= render(:partial => 'data_breadcrumbs', :locals => {:endpoint => 'Evaluations'}) %>

<header class="jumbotron subhead" id="overview">
  <h1>AaE Evaluation <small><%= link_to("Download data &raquo;".html_safe,
                                         expert_data_questions_download_path(filter: (@question_filter.present? ? @question_filter.id : nil)),
                                         :class => 'btn') %></small></h1>
</header>

<div class="page-header">
  <h2><%= @page_title %></h2>
    <%= link_to(@showform ? "Filter Options <i class='fa fa-caret-down'></i>".html_safe : "Filter Options <i class='fa fa-caret-right'></i>".html_safe,
                '#',
                id: 'formtoggler',
                data: {toggle: 'collapse', target: '#showform'}) %>

    <div id="showform" class="<%= (@showform ? 'collapse in' : 'collapse') -%>">
      <%= render(:partial => 'expert/data/question_filter_form', locals: {filter_path: filter_evaluations_expert_data_path}) %>
    </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class='well'>
      <p><strong>Data Notes:</strong> Evaluation summaries by default do not include evaluation responses from those colleagues that have an Extension ID. Download the full question set to see all evaluation responses.</p>
    <div class="question_filter">
      <%- if @question_filter -%>
        <h4>Filtering results by:</h4>
        <p><%= question_filter_text(@question_filter_objects) %></p>
      <%- end -%>
    </div>
  </div>
</div>


<%- @evaluation_questions.each do |eq| -%>
<%-
    if(params[:forcecacheupdate])
      response_data = eq.response_data({question_filter: @question_filter, show_all: @show_all},{force: true})
    else
      response_data = eq.response_data({question_filter: @question_filter, show_all: @show_all})
    end
-%>

<%- if !response_data.blank? -%>
<div class="page-header">
  <h3><%= eq.prompt %></h3>
</div>

<div class="row-fluid">
  <div class="span12">
    <table class='table table-bordered'>
      <tbody>
        <tr>
          <td><strong>Overall Response rate</strong></td><td><strong><%= response_rate(response_data) %></strong></td>
        </tr>

      <%- case eq.responsetype -%>
      <%- when EvaluationQuestion::SCALE -%>
        <%- (eq.range_start..eq.range_end).each do |value| -%>
        <tr>
          <td>
          <%- if value == eq.range_start -%>
            <%= value %> : <%= eq.responses[0] -%>
          <%- elsif value == eq.range_end -%>
            <%= value %> : <%= eq.responses[1] -%>
          <%- else -%>
            <%= value -%>
          <%- end -%>
          </td>
          <td>
            <%= response_data[:counts][value-1] -%>
            (<%= number_to_percentage((response_data[:counts][value-1] / response_data[:responses] rescue 0 )*100, precision: 1) %>)
          </td>
        </tr>
        <%- end -%>
      <%- when EvaluationQuestion::MULTIPLE_CHOICE -%>
        <%- (eq.responses).each_with_index do |response,index| -%>
        <tr>
          <td>
            <%= response -%>
          </td>
          <td>
            <%= response_data[:counts][index] -%>
            (<%= number_to_percentage((response_data[:counts][index] / response_data[:responses] rescue 0)*100, precision: 1) %>)
          </td>
        </tr>
        <%- end -%>
      <%- when EvaluationQuestion::OPEN_DOLLAR_VALUE -%>
        <%- (response_data[:labels]).each_with_index do |bin,index| -%>
        <tr>
          <td>
            <%= bin -%>
          </td>
          <td>
            <%= response_data[:counts][index] -%>
          </td>
        </tr>
        <%- end -%>
      <%- else -%>
      <%- end -%>


      </tbody>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <%= render(partial: 'shared/bar_chart', locals: {:data => response_data[:counts], labels: response_data[:labels], :datalabel => "evaluation_#{eq.id}"})%>
  </div>
</div>


      <%- end -%>


<%- end -%>
</div>
