<div id="location_filter">
  <div id="location_picker">
	<%= select_tag "location_option", options_from_collection_for_select(@locations, "id", "name", @location_pref), {:prompt => "All locations", :name => "location_option"} %>
  </div>
  
  <div id="county_list">
    <% if @location_pref.present? %>
      <%= render :partial => 'counties', :locals => {:location_obj => Location.find_by_id(@location_pref)} %>  
    <% end %>
  </div>

  <%= select_tag "group_option", options_from_collection_for_select(@my_groups, "id", "name", @group_pref), {:prompt => "All groups", :name => "group_option"} %>
	
  <%= select_tag "tag_option", options_from_collection_for_select(@my_tags, "id", "name", @tag_pref), {:prompt => "All tags (from your tag list)", :name => "tag_option"} %>
  
  <br class="clearing" />
</div>



<script class="code" type="text/javascript">
  $("#location_option").change(function() {
    var location_id = $('select#location_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { list_view: '<%= listview %>', location_id: location_id });
    return false;
  });

  $("#county_option").change(function() {
    var county_id = $('select#county_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { list_view: '<%= listview %>', county_id: county_id });
    return false;
  });

  $("#group_option").change(function() {
    var group_id = $('select#group_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { list_view: '<%= listview %>', group_id: group_id });
    return false;
  });

  $("#tag_option").change(function() {
    var tag_id = $('select#tag_option :selected').val();
    jQuery.post("/expert/users/save_listview_filter", { list_view: '<%= listview %>', tag_id: tag_id });
    return false;
  });
</script>