<div id="location_filter">
  <div id="location_picker">
    <select id="location_option" name="location_option">
      <option value="">All locations</option>
        <% @locations.each do |l| %>
        <option value="<%= l.id %>"><%= l.name %></option>
        <% end %>
    </select>
  </div>
  
  <div id="county_list"></div>
  
  
  <select id="location_option" name="location_option">
    <option value="">All groups</option>
    <% @my_groups.each do |group| %>
    <option value="<%= group.id %>"><%= group.name %></option>
    <% end %>
  </select>
  
  <select id="location_option" name="location_option">
    <option value="">All Tags</option>
    <% @my_tags.each do |tag| %>
    <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
    <option value="">The list comes from your tags</option>
  </select>
  
  <br class="clearing" />
  
  
  
</div>



<script class="code" type="text/javascript">
  $("#location_option").change(function() {
    var location_id = $('select#location_option :selected').val();
    if(location == "") location="0";
      jQuery.get('/expert/home/get_counties/' + location_id, function(data){
        $("#county_list").html(data);
      });
    return false;
  });
</script>