<div id="main" class="span8">
  
  <p><%= select_tag(:location_id, options_for_select(get_location_options), {:prompt => "Pick a location"}) %></p>
  
  <div class="map"></div>
  <h1><%= @county.name %>, <%= link_to @location.name, expert_view_location_path(@location.id) %></h1>
  
  <br class="clearing" />
  <div class="span5">
    <div class="location_section">
      <h2>Experts (<%= number_with_delimiter(@expert_total_count, :delimiter => ',') %>)</h2>
    <% if @experts.size > 0 %>
      <% @experts.each do |member| %>
        <p><%= link_expert_user_avatar(member, :thumb) %> <%= link_expert_user(member) %> <br /><span class="downplay">Last active: <%= time_ago_in_words(member.last_active_at) %> ago</span></p>
      <% end %>
      <p><%= link_to "view all", expert_users_by_county_path() %></p>
    <% else %>
      <p>There are no experts in this county</p>
    <% end %>
    </div>
  </div>
  
  <div class="span5">
    <div class="location_section">
      <h2>Groups (<%= number_with_delimiter(@group_total_count, :delimiter => ',') %>)</h2>
    <% if @groups.size > 0 %>
      <% @groups.each do |group| %>
        <p><span class="<%= !group.group_active? ? "inactive_group" : "active" %>"><%= link_expert_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %><%= !group.group_active? ? "- Inactive Group" : "" %></span></p>
      <% end %>
      <p><%= link_to "view all", expert_groups_by_county_path() %></p>
    <% else %>
      <p>There are no groups in this county</p>
    <% end %>
    </div>
  </div>

  <div class="location_section">
    <h2>Questions (<%= number_with_delimiter(@question_total_count, :delimiter => ',') %>)</h2>

    <% if @questions.size > 0 %>
      <% @questions.each do |question| %>
        <%= render :partial => 'expert/shared/title_question', :locals => {:question => question, :show_assignments => false} %>
      <% end %>
      <p><%= link_to "view all", expert_questions_by_county_path() %></p>
    <% else %>
      <p>There are no questions in this county</p>
    <% end %>
  </div>

</div>

<div id="secondary" class="span4">
  
  
  
</div>

<script type="text/javascript">
  $("#location_id").change(function() {
    var location_id = $('select#location_id :selected').val();
    window.location = '/expert/home/locations/' + location_id
  });
</script>