<h1><%= @county.name %> County, <%= link_to @location.name, expert_view_location_path(@location.id) %></h1>

<div class="tag_summary">
  <h2>Questions</h2>
<% if @questions.length > 0 %>
  <table>
    <tr>
      <th>Status</th>
      <th>Question</th>  
    </tr>
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.status %></td>
      <td>
        <% # ToDo: Override title method in question to take care of this instead of repeating this logic. %>
        <% if question.title.present? %>
          <%= format_text_for_display(question.title) %>
        <% else %>
          <%= link_to format_text_for_display(question.body.truncate(80, separator: ' ')), expert_question_path(question) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
  <p>view all</p>
<% else %>
  <p>There are no questions in this county</p>
<% end %>
</div>

<div class="tag_summary">
  <h2>Experts</h2>
<% if @experts.length > 0 %>
  <% @experts.each do |member| %>
    <p><%= get_avatar(member, :thumb) %> <%= link_to member.name, expert_user_path(member.id) %></p>
  <% end %>
  <p>view all</p> 
<% else %>
  <p>There are no experts in this county</p>
<% end %>
</div>

<div class="tag_summary">
  <h2>Groups</h2>
<% if @groups.length > 0 %>
  <% @groups.each do |group| %>
    <p><%= get_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></p>
  <% end %>
  <p>view all</p> 
<% else %>
  <p>There are no groups in this county</p>
<% end %>
</div>


