<% @page_title = "Dashboard" %>

<div id="dashboard">
<div class="span6">
  <h1><%= link_to "Ask an Expert Dashboard", expert_home_dashboard_path()%></h1>
  
  <h2><%= link_to "#{@unanswered_questions_count} Unanswered Questions", expert_home_path %></h2>
  
  <div id="last_30_days" class="formy">
    <p><%= link_to "Previous month", expert_home_dashboard_path(:year_month => @previous_year_month)%></p>
    <h2><%= @date.strftime("%B, %Y") %> at a Glance</h2>
  
    <h3><span><%= number_with_delimiter(@questions_asked.size, :delimiter => ',') %></span> Questions Asked</h3>
    
    <h3><span><%= number_with_delimiter(@questions_answered.size, :delimiter => ',') %></span> Questions Answered</h3>
    
    <h3>Experts with most questions answered</h3>
    <ul>
      <li>[Expert] # answered</li>
      <li>[Expert] # answered</li>
      <li>[Expert] # answered</li>
      <li>[Expert] # answered</li>
    </ul>
    
    <h3>Locations with the most questions asked</h3>
    <ul>
      <li>[STATE] # total. # unanswered.</li>
      <li>[STATE] # total. # unanswered.</li>
      <li>[STATE] # total. # unanswered.</li>
      <li>[STATE] # total. # unanswered.</li>
    </ul>
    
    <h3>Locations with most questions answered</h3>
    <ul>
      <li>[STATE] # total.</li>
      <li>[STATE] # total.</li>
      <li>[STATE] # total.</li>
      <li>[STATE] # total.</li>
    </ul>
    
  </div>
</div>


<div class="span6">
  
  <div id="oldest_question" class="formy">
    <%= link_expert_user_avatar(@user, :medium, current_user.id == @user.id ? true : false) %>
    
    <h3>
      <span class="<%= @user.is_question_wrangler? ? 'qw_large' : '' %>"><%= @user.name %></span> <%= @user.retired ? "(Retired Account)" : "" %>
    </h3>
    
    <% if @oldest_assigned_question %>
      <% if @questions_assigned_to_expert_count > 1 %>
        <h3>You have <%= @questions_assigned_to_expert_count %> Questions Assigned</h3>
        <%= link_to expert_question_path(@oldest_assigned_question) do %>
          <h4>The oldest was submitted <%= time_ago_in_words(@oldest_assigned_question.created_at) %> ago.</h4>
        <%- end -%>
      <% else %>
        <h3>You have <%= @questions_assigned_to_expert_count %> Question Assigned</h3>
        <%= link_to expert_question_path(@oldest_assigned_question) do %>
          <h4>Your question is <%= time_ago_in_words(@oldest_assigned_question.created_at) %> old.</h4>
        <%- end -%>
      <% end %>

  <% else %>
    <p class="coffeetime">You don't have any questions assigned to you. Time for some coffee!</p>
  <% end %>
  </div>
  
  <% if current_user.expertise_locations.size > 0 %>
  
  <h3>Your Locations</h3>
    <% current_user.expertise_locations.each do |l| %>
      <% @unanswered_questions_count = Question.where("location_id = ?", l.id).submitted.not_rejected.count %>
      <div class="location">
        <h4>
          <span class="tag tag-geography"><%= link_to l.name, expert_view_location_path(l.id) %></span> 
          <%= link_to @unanswered_questions_count == 1 ? "#{@unanswered_questions_count} Unanswered Question" : "#{@unanswered_questions_count} Unanswered Questions" , expert_questions_by_location_path(l.id) %>
        </h4>

        <% if current_user.expertise_locations.where("location_id = ?", l.id).size > 0 %>
          <% if current_user.expertise_counties.where("location_id = ?", l.id).size > 0 %>
            <ul>
              <% current_user.expertise_counties.where("location_id = ?", l.id).each do |c| %>
                <% @unanswered_questions_count = Question.where("county_id = ?", c.id).submitted.not_rejected.count %>
                <li><span class="tag tag-geography"><%= link_to "#{c.name}", expert_view_county_path(c.id) %></span>
                <% if @unanswered_questions_count > 0 %>
                  <%= link_to @unanswered_questions_count == 1 ? "#{@unanswered_questions_count} Unanswered Question" : "#{@unanswered_questions_count} Unanswered Questions" , expert_questions_by_county_path(c.id) %>
                <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>

      </div>
    <% end %>
  
<% end %>
  
  
  <% if current_user.tags.size > 0 %>
    <h4>Your Tags</h4>
    <div id="tag_list" style="margin-top:1em; font-size:1.2em;">
      <% current_user.tags.used_at_least_once.each do |tag| %>
      <% @unanswered_questions_count = Question.submitted.tagged_with(tag.id).count %>
        <p id="tag_<%= tag.id %>">
          <span class="tag tag-topic"><%= link_to tag.name, expert_home_tags_path(tag.name) %></span> 
          <% if @unanswered_questions_count > 0 %>
          <%= link_to @unanswered_questions_count == 1 ? "#{@unanswered_questions_count} Unanswered Question" : "#{@unanswered_questions_count} Unanswered Questions" , expert_questions_by_tag_path(tag.name) %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% else %>
      <h4>Help improve your question assignments<h4>
      <p><%= link_to 'Add tags to your profile', expert_settings_tags_path(), :class => "btn btn-primary" %>
  <% end %>
  
  
  

</div>  
</div>