<h1><%= @group_status.capitalize -%> Groups in '<%= @location.name %>' (<%= @group_total_count %>)</h1>
<h3><%= link_to "View everything in '#{@location.name}'", expert_location_path(:id => @location.id) %></h3>

<%= render partial: 'expert/home/group_list' %>
