<div id="main" class="span12">
  <h1>Incoming Questions</h1>
  
  <% @recent_questions.each do |question| %>
  <div class="incoming_question">
    
    <div class="row-fluid">  
      
      <div class="span8">
        <%= link_to expert_question_path(question.id) do %>
          <% if question.title.present? %>
            <h3><%= format_text_for_display(question.title) -%></h3>
          <% else %>
            <h3><%= format_text_for_display(question.body.truncate(80, separator: ' ')) %></h3>
          <% end %>
          <p><%= question.body -%></p>
        <%- end -%>
        <p>Location   
          <% if question.tags.length > 0 %>
            <% question.tags.each do |tag| %>
              <span class="label"><%= tag.name %></span>
            <% end %>
          <% else %>
            <span class="label label-inverse">needs tags</span>
          <% end %>
            <%= time_ago_in_words(question.created_at) %> ago
        </p>
      </div>
      
      <div class="span4">
        <%= link_to expert_user_path(question.assignee_id) do %>
        <div class="expert">
          <%= get_avatar(question.assignee, :thumb) %> <%= link_to question.assignee.name, expert_user_path(question.assignee.id) %>
          <p>Expert Description</p>
        </div>
        <% end %>
      </div>
    
    </div>
    
  </div>
  <% end %>
  
</div>
