<div id="main" class="col-md-8">
  
  <p class="form-inline"><%= select_tag(:location_id, options_for_select(get_location_options), {:prompt => "Pick a location", :class => "form-control"}) %></p>
  
  <div class="map"></div>
  <h1><%= @location.name %></h1>
  <h2><%= link_to "View Summary Report", expert_reports_locations_and_groups_path(:location_id => @location.id) %></h2>
  <h3>
    <% if @unanswered_questions_count %>
      <%= link_to @unanswered_questions_count == 1 ? "#{@unanswered_questions_count} Unanswered Question" : "#{@unanswered_questions_count} Unanswered Questions", expert_questions_path(:status => "unanswered", :location_id => @location.id)%>
    <% else %>
      
    <% end %>
  </h3>
  <br class="clearing" />
  <div class="col-md-5">
    <div class="location_section">
      <h2>Experts (<%= number_with_delimiter(@expert_total_count, :delimiter => ',') %>)</h2>
    <% if @experts.size > 0 %>
      <% @experts.each do |member| %>
        <p><%= link_expert_user_avatar(member, :thumb) %> <%= link_expert_user(member) %> <br /><span class="downplay">Last active: <%= get_last_active_time(member) %></span></p>
        
      <% end %>
      <p><%= link_to "view all", expert_users_by_location_path() %></p>
    <% else %>
      <p>There are no experts in this location</p>
    <% end %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="location_section">
      <h2>Groups (<%= number_with_delimiter(@group_total_count, :delimiter => ',') %>)</h2>
    <% if @groups.size > 0 %>
      <% @groups.each do |group| %>      
        <div class="group_in_group_list <%= !group.group_active? ? "inactive_group" : "active" %>">
          <p class="group_list_avatar"><%= link_expert_group_avatar(group, :thumb) %></p>
          <h4><%= link_to group.name, expert_group_path(group.id) %></h4>
          <p><%= !group.group_active? ? "Inactive Group" : "" %></p>
          <p><strong><%= group.joined.count %> <%= group.joined.count >  1 ? "Members" : "Member" %></strong><p>  
          <p class="downplay">
          <% if group.assignment_outside_locations == true %>
            Accepts questions from anywhere.
          <% else %>
            Questions must match this group's locations
          <% end %>
          </p>
        </div>
      <% end %>
      <p><%= link_to "view all", expert_groups_by_location_path() %></p>
    <% else %>
      <p>There are no groups in this location</p>
    <% end %>
    </div>
  </div>

  <div class="location_section">
    <h2>Questions (<%= number_with_delimiter(@question_total_count, :delimiter => ',') %>)</h2>
    <% if @questions.size > 0 %>
      <% @questions.each do |question| %>
        <%= render :partial => 'expert/shared/title_question', :locals => {:question => question, :show_assignments => false} %>
      <% end %>
      <p><%= link_to "view all", expert_questions_by_location_path() %></p>
    <% else %>
      <p>There are no questions in this location</p>
    <% end %>
  </div>

</div>

<div id="secondary" class="col-md-4">
  <h2>Counties</h2>
  <ul class="county_list">
  <% @counties.each do |county| %>
    <li><span class="tag tag-geography"><%= link_to "#{county.name}", expert_view_county_path(county.id) %></span> <%= User.with_expertise_county(county.id).exid_holder.not_retired.count > 0 ? "#{User.with_expertise_county(county.id).exid_holder.not_retired.count} experts" : "" %></li>
  <% end %>
  </ul>
</div>

<script type="text/javascript">
  $("#location_id").change(function() {
    var location_id = $('select#location_id :selected').val();
    window.location = '/expert/home/locations/' + location_id
  });
</script>