<h1>Questions tagged with '<%= @tag.name %>'</h1>
<h3><%= link_to "View everything tagged '#{@tag.name}'", expert_show_tag_path(:name => @tag.name) %></h3>

<div class="listview">

<%= paginate @questions %>
<% if @questions.size > 0 %>
  <% @questions.each do |question| %>
    <%= render :partial => 'expert/shared/title_question', :locals => {:question => question, :show_assignments => false} %>
  <% end %>

<% else %>
  <p>There are no questions in this group with this tag</p>
<% end %>
<%= paginate @questions %>
</div>