<h1>Experts tagged with '<%= @tag.name %>' (<%= @expert_total_count %>)</h1>
<h3><%= link_to "View everything tagged '#{@tag.name}'", expert_home_tags_path(:name => @tag.name) %></h3>

<%= paginate @experts %>
<% if @experts.size > 0 %>
  <table>
    <tr>
      <th>Name</th>
      <th>Most recent sign-in</th>  
    </tr>
  <% @experts.each do |expert| %>
    <tr>
      <td>
        <p><%= link_expert_user_avatar(expert, :thumb) %> <%= link_expert_user(expert) %></p>
      </td>
      <td>
        <%= expert.try(:last_sign_in_at) ? "#{time_ago_in_words(expert.last_sign_in_at)} ago" : "no record of sign-in"%>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>There are no experts with this tag</p>
<% end %>
<%= paginate @experts %>