<h1><%= title %></h1>

<div id="main" class="span12">

  <% if !defined?(paginate_experts) || paginate_experts != false %>
    <p>Displaying <strong><%= @experts.offset + 1 %>-<%= @experts.offset + @experts.length %> of <%= @experts.total_entries %></strong></p>
  <% end %>  
 
  <% @experts.each do |expert| %>
    <p>
     <%= link_to expert_user_path(expert) do %>
     <%= link_expert_user_avatar(expert, :thumb) %> <%= link_to expert.name, expert_user_path(expert) %>
     <% end %>
    </p>
  <% end %>

  <% if !defined?(paginate_experts) || paginate_experts != false %>
  <%= paginate @experts %>
  <% end %>
  
</div>
