<h1><%= @list_title %></h1>

<p>Displaying <strong><%= @experts.offset + 1 %>-<%= @experts.offset + @experts.size %> of <%= @experts.total_entries %></strong></p>
<%= paginate @experts %>

<%= render :partial => 'expert_list', :locals => {:paginate_experts => false, :title => ""} %>

<%= paginate @experts %>