<h1><%= @list_title %></h1>

<div id="main" class="col-md-12">
  <p>Displaying <strong><%= @experts.offset_value + 1 %>-<%= @experts.offset_value + @experts.size %> of <%= @experts.total_count %></strong></p>
  <%= paginate @experts %>
  <%= render :partial => 'expert_list' -%>
  <%= paginate @experts %>
</div>
