<h1><%= @list_title %></h1>

<p>Displaying <strong><%= @groups.offset + 1 %>-<%= @groups.offset + @groups.size %> of <%= @groups.total_entries %></strong></p>
<%= paginate @groups %>

<%= render :partial => 'group_list', :locals => {:paginate_experts => false, :title => ""} %>

<%= paginate @groups %>