<h1><%= @list_title %></h1>

<ul class="nav nav-tabs">
  <li><a href="#question_results">Questions</a></li>
  <li><a href="#expert_results">Experts</a></li>
  <li><a href="#group_results">Groups</a></li>
  <% if !@number_passed && @user_email != true %>
    <li><%= link_to "See what's tagged '#{params[:q]}'", expert_show_tag_path(:name => params[:q]) %></li>
  <% end %>

  <% if @user_email == true && @user_email_id.present? %>
    <li><%= link_to "Questions from '#{params[:q]}'", expert_user_submitted_path(:id => @user_email_id) %></li>
  <% elsif @user_email == true %>
    <li class="disabled"><a href="#"><%= "No questions found from '#{params[:q]}'" %></a></li> 
  <% end %>
</ul>

<span class="search_section_anchor" id="question_results"></span>
<div class="search_section">
  <h2>Questions <small> (with '<%= params[:q] %>' in the <%= @number_passed ? "id" :  "title, question or responses" %>)</small></h2>
  <% if @questions.size > 0 %>
    <% if !@number_passed %>
      <p><%= link_to 'view all', expert_search_questions_path(:q => params[:q]) %></p>
    <% end %>
    <%= render :partial => 'question_list', :locals => {:paginate_questions => false, :title => ""} %>
  <% else %>
    <h3>No results</h3>
  <% end %>
  <br class="clearing" />
</div>

<span class="search_section_anchor" id="expert_results"></span>
<div class="search_section">
  <h2>Experts <small>(with '<%= params[:q] %>' in the <%= @number_passed ? "id" : "name or bio" %>)</small></h2>
  <% if @experts.size > 0 %>
    <% if !@number_passed %>
      <p><%= link_to 'View all', expert_search_experts_path(:q => params[:q]) %></p>
    <% end %>
    <%= render :partial => 'expert_list', :locals => {:paginate_experts => false, :title => ""} %>
  <% else %>
    <h3>No results</h3>
  <% end %>
  <br class="clearing" />
</div>

<span class="search_section_anchor" id="group_results"></span>
<div class="search_section">
  <h2>Groups <small>(with '<%= params[:q] %>' in the <%= @number_passed ? "id" : "name or description" %>)</small></h2>
  <% if @groups.size > 0 %>
    <% if !@number_passed %>
      <p><%= link_to 'View all', expert_search_groups_path(:q => params[:q]) %></p>
    <% end %>
    <%= render :partial => 'group_list', :locals => {:paginate_groups => false, :title => ""} %>
    <% else %>
      <h3>No results</h3>
    <% end %>
  <br class="clearing" />
</div>

<div id="search_padding"></div>
