<h1><%= @list_title %></h1>

<% if !@number_passed %>
  <p><%= link_to "See everything tagged '#{params[:q]}'", expert_home_tags_path(:name => params[:q]) %></p>
<% end %>

<p><a href="#expert_results">Jump to Expert results</a> <a href="#group_results">Jump to Group results</a></p>

<div class="search_section">
  <h2>Questions <small>(with '<%= params[:q] %>' in the <%= @number_passed ? "id" :  "title, question or responses" %>)</small></h2>
  <% if !@number_passed %>
    <p><%= link_to 'see all Question results', expert_search_questions_path(:q => params[:q]) %></p>
  <% end %>
  <%= render :partial => 'question_list', :locals => {:paginate_questions => false, :title => ""} %>
  <br class="clearing" />
</div>

<span class="search_section_anchor" id="expert_results"></span>
<div class="search_section">
  <h2>Experts <small>(with '<%= params[:q] %>' in the <%= @number_passed ? "id" : "name or bio" %>)</small></h2>
  <% if !@number_passed %>
    <p><%= link_to 'See all Expert results', expert_search_experts_path(:q => params[:q]) %></p>
  <% end %>
  <%= render :partial => 'expert_list', :locals => {:paginate_experts => false, :title => ""} %>
  <br class="clearing" />
</div>

<span class="search_section_anchor" id="group_results"></span>
<div class="search_section">
  <h2>Groups <small>(with '<%= params[:q] %>' in the <%= @number_passed ? "id" : "name or description" %>)</small></h2>
  <% if !@number_passed %>
    <p><%= link_to 'See all Group results', expert_search_groups_path(:q => params[:q]) %></p>
  <% end %>
  <%= render :partial => 'group_list', :locals => {:paginate_groups => false, :title => ""} %>
  <br class="clearing" />
</div>


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />