<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>eXtension: Ask an Expert</title>
    <style type="text/css" media="screen">
        <!--
       body {font-size: 62.5%;}
       body, html {margin:0; font-family: "Arial", "sans-serif"; color: #222; line-height:120%; background:transparent;}
       p {font-size:1.2em;line-height:1.3em;margin:0 0 .3em;}

       #myForm {margin:0; border: 1px solid #bbb;padding: 2em 2em 0;background: #eee;}
       h1 {margin:0;padding:0;float:right;height: 40px;width: 98px;text-indent:-3000px;}
       h1 a {display:block;height:40px;}
       h2 {margin:0 0 .25em;font-size: 1.9em;line-height:100%;font-weight: normal;color:#000;}
       h3 {margin:0 0 .25em;font-size: 1.6em;line-height:100%;font-weight: normal;color:#000;}

       #myFormOutput p {margin: 1em 0;color:#008000;font-weight: bold;font-size:1.3em;}
       #myFormOutput p#red {color: #ff0000;}

       fieldset {margin: 1em 0 .5em;border:0;padding:0;color:#666;}
       input, select {width: 200px;margin: 0 0 1em;}
       textarea {width: 97%;margin: 0 0 1em;}
       input, textarea {padding: .15em .3em;display:block;}
       p.submit input {width:auto;}
       label {clear: both;display: block;margin-bottom:.3em;font-weight: bold;font-size:1.2em;}
       label span {margin: 3px 0 3px;}
       span {line-height: 100%;display: block;font-weight:normal;color: #888;}
       #flash_notice.notice {color:green;}
       #flash_notice.warning {color:red;}
       	-->
        </style>

       <%= javascript_include_tag "application" %>
</head>

<body>

    <%= form_for @question, :html => {:multipart => true, :id => "myForm"} do |f| %>
      <%= hidden_field_tag(:fingerprint, @group.widget_fingerprint) %>

    <h1><a href="http://www.extension.org/" target="_blank">eXtension</a></h1>
    <h2>Ask an Expert</h2>

    <div class="grid_16" id="content_area">
    <% flash_names = [:notice, :warning, :message, :error]
          flash_names.each do |flash_type|
             if flash[flash_type] %>
                <div id='flash_notice' class='<%= flash[:notice]? "notice" : "warning" %>'>
                    <p><%= flash[flash_type] %></p>
                </div>
            <% end %>
    <% end %>
    </div><!-- .grid_16 -->

    <div id="myFormOutput"></div>

    <p>
        <label for="submitter_first_name">First Name:
        <%= f.text_field :submitter_firstname %>
        </label>
    </p>

    <p>
        <label for="submitter_last_name">Last Name:
        <%= f.text_field :submitter_lastname %>
        </label>
    </p>

    <%- if !current_user or !current_user.email.present? -%>
    <p>
        <label for="email">Email: <span>Type it carefully; this is how you'll receive your answer.</span>
        <%= f.text_field(:submitter_email, { :type => "email", :autocapitalize => "off" }) %>
        </label>
    </p>

    <p>
        <label for="email_confirmation">Confirm Your Email:
        <%= text_field_tag(:email_confirmation, @email_confirmation, { :type => "email", :autocapitalize => "off" }) %>
        </label>
    </p>
    <%- end -%>

    <% if @group.widget_show_location %>
      <p>Where does your question take place? (optional, but it helps us give a more precise answer)</p>
      <p>
          <label>Location and County
          <%= f.select(:location_id, options_for_select(get_location_options, current_location.present? ? current_location.id : @group.widget_location_id)) %>
          </label>
      </p>

      <p id="county_list">
        <% if (current_location && current_location.counties.size > 0 ) || (@group.widget_location &&  @group.widget_location.counties.size > 0) %>
        	<label>
	        <%= f.select(:county_id,
          options_for_select(get_county_options(current_location || @group.widget_location), current_county.present? ? current_county.id : @group.widget_county_id)) %>
            </label>
        <% end %>
      </p>
    <% end %>

    <% if @group.widget_upload_capable? %>
      <p>
      <label>Image (optional)</label>
      <p><em>You can upload .jpg .png or .gif.</em></p>
      <%= f.fields_for :images do |image_form| %>
          <p>
            <%= image_form.file_field :attachment %>
          </p>
      <% end %>
      </p>
    <% end %>

      <br />

    <p>
        <label for="question">Question
        <%= f.text_area :body, :rows => 4  %>
        </label>
    </p>

    <% if @group.widget_public_option %>
	  <p>
		<label for="is_private">Share my question on Ask an Expert? (sharing may help others learn from the answer)
		<%= check_box_tag :is_public  %>
		</label>
	  </p>
	<% end %>

    <%- if current_user and current_user.email.present? -%>
       <p>Your answer will be sent to <%= current_user.email %></p>
     <% end %>


    <p class="submit"><%= submit_tag "Ask", :id => "ask_submit", :disable_with => "Submitting..." %></p>
    <% end %>

    <script class="code" type="text/javascript">
      $(document).ready(function () {

        $("#question_location_id").change(function() {
          var location_id = $('select#question_location_id :selected').val();
          if(location_id == "") {
            $("#county_list").html("");
          } else {
            jQuery.get('/widget/get_counties/' + location_id, function(data){
                $("#county_list").html(data);
            })
          }
          return false;
        });
      });
    </script>

</body>
</html>
