<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>eXtension: Ask an Expert</title>
    <style type="text/css" media="screen">
        <!--
       body {font-size: 62.5%;}
       body, html {margin:0; font-family: "Arial", "sans-serif"; color: #222; line-height:120%; background:transparent;}
       p {font-size:1.2em;line-height:1.3em;margin:0 0 .1em;}
       
       #myForm {margin:0; border: 1px solid #888;padding: .5em 1em 0;background: #eee;}
       h1 {margin:0;padding:0;float:right;height: 40px;width: 98px;text-indent:-3000px;background: transparent url("http://<%= @host_name %>/images/ask/ex_logo_micro.png") 0 0 no-repeat;}
       h1 a {display:block;height:40px;}
       h2 {margin:0 0 .25em;font-size: 1.7em;line-height:100%;font-weight: normal;color:#000;}

       #myFormOutput p {margin: 1em 0;color:#008000;font-weight: bold;font-size:1.3em;}
       #myFormOutput p#red {color: #ff0000;}
       
       fieldset {margin: 1em 0 .5em;border:0;padding:0;color:#666;}
       textarea, input, select {width: 95%;margin: 0 0 7px;}
       input, textarea {padding: .15em .3em;}
       p.submit input {width:auto; margin-bottom:4px;}
       label {clear: both;display: block;margin-bottom:.3em;font-weight: bold;font-size:1.2em;}
       label small {color:#555; font-weight:normal; font-size:.9em;}
       span {line-height: 100%;display: block;font-weight:normal;color: #888;}
       #flash_notice.notice {color:green;}
       #flash_notice.warning {color:red;}
       	-->
        </style>
        
        <%= javascript_include_tag "application" %>
</head> 

<body>
    <%= form_for @question, :html => {:multipart => true} do |f| %>
    <%= hidden_field_tag(:fingerprint, @group.widget_fingerprint) %>
      
    <h1><a href="http://www.extension.org/" target="_blank">eXtension</a></h1>
    <h2>Ask an Expert</h2>
    
    <div class="grid_16" id="content_area">
    <% flash_names = [:notice, :warning, :message, :error]
          flash_names.each do |flash_type| 
             if flash[flash_type] %>
                <div id='flash_notice' class='<%= flash[:notice]? "notice" : "warning" %>'>
                    <p><%= flash[flash_type] %></p>
                </div>
            <% end %>
    <% end %>
    </div><!-- .grid_16 -->

    <%= f.fields_for :responses do |response| %>
      <p>
          <label for="question">Question
          <%= response.text_area :body, :rows => 4  %>
          </label>
      </p>
    <% end %>

    <% if @group.widget_show_location %>
        <p>
          <label>Location and County
            <%= f.select(:location_id, options_for_select(get_location_options, default_location_id(@group.widget_location_id))) %>
          </label>
        </p>
        
        <p id="county_list">
          <% if (@personal[:location] && @personal[:location].counties.length > 0 ) || (@group.widget_location &&  @group.widget_location.counties.length > 0) %>
            <label>
              	<%= f.select(:county_id, options_for_select(get_county_options(@personal[:location] || @group.widget_location), default_county_id(@group.widget_county_id))) %>
            </label>
          <% end %>
        </p>
    <% end %>
    
    <% if @group.widget_upload_capable? %>
      <p>
      <label>Image (optional)</label>
      <p><em>You can upload .jpg .png or .gif. Max size of 2MB each.</em></p>
      
      <%= f.fields_for :images do |image_form| %>
          <p>
            <%= image_form.file_field :image %>
          </p>
      <% end %>
      </p>
    <% end %>
    
    <br />

    <p>
        <label for="email">Email <small>(please type it twice to confirm)</small>
        <%= f.text_field(:submitter_email, { :type => "email", :autocapitalize => "off" }) %>
        </label>
    </p>
    
    <p>
        <%= text_field_tag(:email_confirmation, @email_confirmation, { :type => "email", :autocapitalize => "off" }) %>
    </p>
    
    <p class="submit"><%= submit_tag "Ask", :id => "ask_submit", :disable_with => "Submitting..." %></p>
    <% end %>
    
    <script class="code" type="text/javascript">
      $(document).ready(function () {
      
        $("#question_location_id").change(function() {
          var location_id = $('select#question_location_id :selected').val();
          if(location == "") location="0";
          jQuery.get('/widget/get_counties/' + location_id, function(data){
              $("#county_list").html(data);
          })
          return false;
        });
      });
    </script>
    
</body>
</html>
