<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>eXtension: Ask an Expert</title>
    <style type="text/css" media="screen">
        <!--
       body {font-size: 62.5%;}
       body, html {margin:0; font-family: "Arial", "sans-serif"; color: #222; line-height:120%; background:transparent;}
       p {font-size:1.2em;line-height:1.3em;margin:0 0 .1em;}

       #myForm {margin:0; border: 1px solid #888;padding: .5em 1em 0;background: #eee;}
       h1 {margin:0;padding:0;float:right;height: 40px;width: 98px;text-indent:-3000px;background: transparent url("http://<%= @host_name %>/assets/ex_logo_micro.png") 0 0 no-repeat;}
       h1 a {display:block;height:40px;}
       h2 {margin:0 0 .25em;font-size: 1.7em;line-height:100%;font-weight: normal;color:#000;}

       #myFormOutput p {margin: 1em 0;color:#008000;font-weight: bold;font-size:1.3em;}
       #myFormOutput p#red {color: #ff0000;}

       fieldset {margin: 1em 0 .5em;border:0;padding:0;color:#666;}
       textarea, input, select {width: 95%;margin: 0 0 7px;}
       input, select {max-width: 20em;}
       input, textarea {padding: .15em .3em;}
       p.submit input {width:auto; margin-bottom:4px;}
       label {clear: both;display: block;margin-bottom:.3em;font-weight: bold;font-size:1.2em; color:#000;}
       label small {color:#555; font-weight:normal; font-size:.9em;}
       span {line-height: 100%;display: block;font-weight:normal;color: #888;}
       label .checkbox {float:left; width:auto; margin-right:1em;}
        .label {float:left;}
       #flash_notice.notice {color:green;}
       #flash_notice.warning {color:red;}
       #app_location {background:yellow; padding:1em; margin-bottom:1em;}
       fieldset {margin:1em 0 2em;}
       	-->
        </style>

        <%= javascript_include_tag "application" %>
</head>

<body>

    <%= form_for @question, :html => {:multipart => true, :id => "myForm"} do |f| %>
    <%= hidden_field_tag(:fingerprint, @group.widget_fingerprint) %>

    <h1><a href="http://www.extension.org/" target="_blank">eXtension</a></h1>
    <h2>Ask an Expert</h2>

    <div class="grid_16" id="content_area">
    <% flash_names = [:notice, :warning, :message, :error]
          flash_names.each do |flash_type|
             if flash[flash_type] %>
                <div id='flash_notice' class='<%= flash[:notice]? "notice" : "warning" %>'>
                    <p><%= flash[flash_type] %></p>
                </div>
            <% end %>
    <% end %>
    </div><!-- .grid_16 -->

    <% if @group.widget_show_title %>
    <p>
      <label for="title">Give your question a title
      <%= f.text_field(:title, { :type => "text" }) %>
      </label>
    </p>
    <% end %>

    <p>
      <label for="question">Question
      <%= f.text_area :body, :rows => 4  %>
      </label>
    </p>

    <% if @group.widget_show_location %>
        <p>
          <label>Location and County
            <%= f.select(:location_id, options_for_select(get_location_options, current_location.present? ? current_location.id : @group.widget_location_id)) %>
          </label>
        </p>

        <p id="county_list">
          <% if (current_location && current_location.counties.size > 0 ) || (@group.widget_location &&  @group.widget_location.counties.size > 0) %>
            <label>
              	<%= f.select(:county_id,
                options_for_select(get_county_options(current_location || @group.widget_location), current_county.present? ? current_county.id : @group.widget_county_id)) %>
            </label>
          <% end %>
        </p>
    <% end %>

    <% if @group.widget_upload_capable? %>
      <p>
      <label>Image (optional)</label>
      <p><em>You can upload .jpg .png or .gif. Max size of 2MB each.</em></p>

      <%= f.fields_for :images do |image_form| %>
          <p>
            <%= image_form.file_field :attachment %>
          </p>
      <% end %>
      </p>
    <% end %>

    <br />

    <%- if !current_user or !current_user.email.present? -%>
    <p>
        <label for="email">Email
        <%= f.text_field(:submitter_email, { :type => "email", :autocapitalize => "off" }) %>
        </label>
    </p>
    <%- end -%>


    <% if @group.widget_public_option %>
       <fieldset>
       <p>
         <label for="is_public">
         <%= check_box_tag :is_public, "1", false, :class => "checkbox" %>
         Share my question on Ask an Expert
  	      <span><em>Sharing your question may help others learn from the answer.</em></span>
         </label>
       </p>
       </fieldset>
     <% end %>

     <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
       <div id="app_location" class="demo">
         <p>You are viewing a <strong><%= Settings.app_location.upcase %></strong> Ask form. Questions submitted here <strong>will not be answered</strong>. The owner of this page needs to update to the live Ask form.</p>
       </div>
     <% end %>
     
     <%- if current_user and current_user.email.present? -%>
       <p>Your answer will be sent to <%= current_user.email %></p>
     <% end %>
     
    <p class="submit"><%= submit_tag "Ask", :id => "ask_submit", :data_disable_with => "Submitting..." %></p>
    <% end %>

    <script class="code" type="text/javascript">
      $(document).ready(function () {

        $("#question_location_id").change(function() {
          var location_id = $('select#question_location_id :selected').val();
          if(location == "") location="0";
          jQuery.get('/widget/get_counties/' + location_id, function(data){
              $("#county_list").html(data);
          })
          return false;
        });
      });
    </script>

</body>
</html>
