<% if current_user.member_of_group(@group) && !current_user.leader_of_group(@group) %>
  <p>
    <%= link_to 'Leave Group', expert_group_leave_path(), :class => "btn", :remote => true %> 
    <%= link_to 'Be a Group Leader', expert_group_lead_path(), :class => "btn", :remote => true %>
  </p>

<% elsif current_user.leader_of_group(@group) %>
  <p><%= link_to 'Leave Leadership', expert_group_unlead_path(), :class => "btn", :remote => true %></p>

<% else%>
  <p><%= link_to 'Join Group', expert_group_join_path(), :class => "btn", :remote => true %></p>
<% end %>

<h3>Group Members <%= link_to "(#{@group.joined.count})", expert_group_members_path(@group) %></h3>

