<% if question_count == 0 %>
  <h3>This Group doesn't have any <%= @question_list %> questions</h3>
<% else %>
  
  <h2><%= @question_list %> (<%= question_count %>)</h2>
  
  <%= paginate questions %>
  <% questions.each do |question| %>
    <%= render :partial => 'expert/shared/full_question', :locals => {:question => question, :suppress_single_badges => true, :hide_groups => true} %>
  <% end %>
  <%= paginate questions %>
<% end %>