<% if question_count == 0 %>
  <h3>This Group doesn't have any <%= @quesiton_list %> questions</h3>
<% else %>
  
  <h3><%= @quesiton_list.capitalize %> (<%= question_count %>)</h3>
  
  <%= paginate questions %>
  <% questions.each do |question| %>
    <%= render :partial => 'expert/shared/full_question', :locals => {:question => question, :suppress_single_badges => true} %>
  <% end %>
  <%= paginate questions %>
<% end %>