<% @page_title = @group.name + " Profile Settings"%>

<% if !@group.group_active? %>
  <h3 class="inactive_notice">This group is currently inactive. It cannot be assigned questions and the group's Ask form and widgets are disabled. You can change the group's status to active on the <%= link_to 'General Settings', expert_group_profile_path() %> page.</h3>
<% end %>

<ul class="nav nav-tabs">
  <li><%= link_to 'General', expert_group_profile_path() %></li>
  <li><%= link_to 'Locations', expert_group_locations_path() %></li>
  <li><%= link_to 'Tags', expert_group_tags_path() %></li>
  <li><%= link_to 'Assignment options', expert_group_assignment_options_path() %></li>
  <li><%= link_to 'Ask Form and Widget', expert_group_widget_path() %></li>
  <li><%= link_to 'History/Logs', expert_group_history_path() %></li>
  <li><%= link_to 'CSV Email Download', email_csv_expert_group_path(@group) %></li>
</ul>
