<% @page_title = @group.name + " Profile Settings"%>

<ul class="nav nav-tabs">
  <li><%= link_to 'Home', expert_group_path() %></li>  
  <li><%= link_to 'Profile', expert_group_profile_path() %></li>
  <li><%= link_to 'Locations', expert_group_locations_path() %></li>
  <li><%= link_to 'Tags', expert_group_tags_path() %></li>
  <li><%= link_to 'Assignment options', expert_group_assignment_options_path() %></li>
  <li><%= link_to 'Widget', expert_group_widget_path() %></li>
  <li><%= link_to 'History/Logs', expert_group_history_path() %></li>
</ul>
