

<ul class="nav nav-tabs">
  <li><%= link_to 'Edit group', expert_group_profile_path() %></li>
</ul>

<aside>
<% if @group.active %>
	<p><%= link_to "Ask an Expert Form", ask_group_path(@group.id), :class => "btn btn-primary" %></p>
<% else  %>
	<p>This groups widget is <%= link_to 'currently inactive', expert_group_widget_path() %></p>
<% end %>
<p><%= link_to 'Join Group', expert_group_join_path(:group_id => @group.id), :class => "btn btn-primary" %></p>
</aside>

<aside>
  <% if  @group.description? %>
    <p><%= format_text_for_display(@group.description).html_safe %></p>
  <% else %>
    <p>Needs a description.</p>
  <% end %>
</aside>

<aside>
  <%= render :partial => 'location_summary' %>
</aside>

<aside>
  <h3>Tags <%= link_to 'edit', expert_group_tags_path() %></h3> 

  <% if @group_tags.length > 0 %>
    <% @group_tags.each do |tag| %>
      <p><span class='tag tag-topic'><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @group.id, :tag_id => tag.id) %></span></p>
    <% end %>
  <% else %>
    <p>There are no tags at this time.</p>
  <% end %>
</aside>

<aside>
  <h3>Group Members (<%= @group_members_total %>)</h3>

  <% @group_members.each do |member| %>
    <p><%= get_avatar(member, :thumb) %> <%= link_to member.name, expert_user_path(member.id) %></p>
  <% end %>
  <p><%= link_to 'view all', expert_group_members_path(@group) %></p>
</aside>