<h1>About <%= link_to @group.name, expert_group_path() %></h1>

<div id="how_are_questions_assigned">
<h2>How are questions assigned to this group?</h2>


<% if !@group.group_active? %>
<div class="well">
  <h3>Questions can't be assigned to this group because it is currently inactive.</h3>
</div>
<% else %>


<div class="well">
  <h3>Questions can be assigned to this Group via...</h3>
  <ul>

    <li>The Group's <%= link_to "Ask an Expert form", ask_group_path(@group.id) %></li>
    <li>The Group's widget (embedded on any third party page)</li>
    <li>Manual reassignment by any AaE Expert</li>
  </ul>
</div>

<% if @group.assignment_outside_locations == false %>
  <div class="well">
    <h3>Questions Outside This Group's Locations Are Rejected.</h3>
    <ul>
      <li>If the question <strong>doesn't have a location</strong>, or <strong>its state doesn't match this group's states</strong>, it is automatically rejected.</li>
      <li>The submitter will get an email saying this group only accepts questions from certain locations and will be directed to use the location picker to find a local expert/group.</li>
    </ul>
    <p>This group has <%= link_to "#{@group_members.count} members", expert_group_members_path(@group) %>. <%= @group_members_route_from_anywhere.count %> members accept questions from anywhere.</p>

  </div>
<% else %>
  <div class="well">
    <h3>This Group Accepts Questions From Anywhere.</h3>
    <p>This group has <%= link_to "#{@group_members.count} members", expert_group_members_path(@group) %>. <%= @group_members_route_from_anywhere.count %> members accept questions from anywhere.</p>
  </div>
<% end %>

<% if @group.individual_assignment == false %>
<div class="well">
  <% if @group.assignment_outside_locations == false %>
    <h3>Assuming the Question's location matches the Group's location...</h3>
  <% end %>

  <p><strong>This group uses the assign-to-group option</strong>. Questions are assigned to the group itself, and members will need to select questions to answer.</p>
</div>
<% else %>
<div class="well">
  <% if @group.assignment_outside_locations == false %>
    <h3>Assuming the Question's location matches the Group's location...</h3>
  <% end %>

  <p><strong>If the question indicates a county</strong>,

    <% if @group.ignore_county_routing == true %>
      <strong>the county will be ignored</strong> (because this group is trying to equally distribute questions across the entire state) and we step back to the state level.
    <% else %>
       we look for group members with that county expertise. The question is assigned to the county expert with the least questions. If there's no county match, we step back to the state level.
    <% end %>
  </p>


  <p><strong>If the question indicates a state</strong>, we look for group members with that state expertise. The question is assigned to the state expert with the least questions.</p>
</div>

<div class="well">
  <h3>Fallbacks</h3>
    <p>If a question can't be assigned to a group member, we assign it to a group leader with the least number of questions. If it can't be assigned to a group leader, it's assigned to the Question Wrangler group.</p>
  <% if @group.leaders.not_away.length == 0 %>
    <p>Since this group doesn't have any active leaders, it will be assigned to the Question Wrangler group.</p>
  <% end %>


</div>
<% end %>

<div class="well">
  <p>Tags are not used for assigning questions to group members.</p>
</div>

</div>
<% end %>
