<h1><%= link_to @group.name, expert_group_path() %></h1>

<h3>Group Settings > History</h3>

<%= render :partial => 'expert/groups/settings_navigation' %>

<% @group_events.each do |event| %>
  <% if event.event_code == GroupEvent::GROUP_EDITED_ATTRIBUTES %>
    <% event.updated_group_values.each do |key, value| %>
      <p><%= key.to_s.gsub('_', ' ').capitalize %> changed from '<%= value[:old] %>' to '<%= value[:new] %>' by <%= event.creator.name %> <%= humane_date(event.created_at) %> </p>
    <% end %>
  <% else %>
    <p><%= event.recipient.name %> <%= event.description.capitalize %> by <%= event.creator.name %> <%= humane_date(event.created_at) %></p>
  <% end %>
  <p></p>	
<% end %>