<h1><%= link_to @group.name, expert_group_path() %></h1>
<p id="aaeid">Group #<%= @group.id %></p>

<h3>Settings > History</h3>

<%= render :partial => 'expert/groups/settings_navigation' %>

<% @group_events.each do |event| %>
  <% if event.event_code == GroupEvent::GROUP_EDITED_ATTRIBUTES %>
    <% event.updated_group_values.each do |key, value| %>
      <p><%= link_expert_user_avatar(event.creator, :thumb) %> <%= link_expert_user(event.creator) %> Changed <strong>Group <%= key.to_s.gsub('_', ' ').capitalize %></strong> from '<strong><%= value[:old] %></strong>' to '<strong><%= value[:new] %></strong>' <%= time_ago_in_words(event.created_at) %> ago <small><%= humane_date(event.created_at) %></small><p>
    <% end %>
  <% else %>
    <% if event.recipient.name == event.creator.name %>
      <p><%= link_expert_user_avatar(event.recipient, :thumb) %> <%= link_expert_user(event.recipient) %> <%= event.description %> <%= time_ago_in_words(event.created_at) %> ago <small><%= humane_date(event.created_at) %></small></p>
    <% else %>
      <p><%= link_expert_user_avatar(event.recipient, :thumb) %> <%= link_expert_user(event.recipient) %> <%= event.description %> by <%= link_expert_user_avatar(event.creator, :thumb) %> <%= link_expert_user(event.creator) %> <%= time_ago_in_words(event.created_at) %> ago <small><%= humane_date(event.created_at) %></small></p>
    <% end %>
  <% end %>

<% end %>