

<div id="main" class="span8">
  <h1>Groups</h1>
  <h4>All Groups</h4>
  <%= will_paginate @groups %>

  <% @groups.each do |group| %>
    <p><%= get_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></p>
  <% end %>

  <%= will_paginate @groups %>

</div>

<div id="secondary" class="span4">
  <h3>My Groups</h3>
  <% if @my_groups.length == 0 %>
    <p>You currently are not a member or leader of a group.</p>
  <% else %>
    <% @my_groups.each do |group| %>  
      <p><%= get_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></p>
    <% end %>
  <% end %>
  
  <aside>
    <p><%= link_to "Create a new group", new_expert_group_path, :class => "btn" %>
  </aside>
</div>
