<div id="main" class="span8">
  <h1>My Groups</h1>
  <% if @my_groups.size == 0 %>
    <p>You currently are not a member any groups.</p>
  <% else %>
    <% @my_groups.each do |group| %>  
      <div><%= link_expert_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></div>
    <% end %>
  <% end %>
  
  
  
  <h1>Groups</h1>
  <h4>All Groups</h4>

  <% @groups.each do |group| %>
    <p><%= link_expert_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></p>
  <% end %>

  <%= paginate @groups %>

</div>

<div id="secondary" class="span4">

  <aside>
    <p><i class="icon-search"></i> Search for an existing group using the search box at the top this page.</p>
    <p><%= link_to "Create a new group", new_expert_group_path, :class => "btn" %>
  </aside>  
</div>
