<div class="span4">
  <h1>My Groups</h1>
  <p><%= link_to 'Manage your group notifications', expert_user_groups_path(current_user) %></p>
  <% if @my_groups.size == 0 %>
    <p>You currently are not a member any groups.</p>
  <% else %>
    <% @my_groups.each do |group| %>
      <p><span class="<%= !group.group_active? ? "inactive_group" : "active" %>"><%= link_expert_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %><%= !group.group_active? ? "- Inactive Group" : "" %></span></p>
    <% end %>
  <% end %>
</div>  

<div class="span4">
  <h2>Groups near you...</h2>
  <h3>In <%= current_county.name %></h3>
  <% @groups_near_my_county.each do |group| %>
    <p><%= link_expert_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></p>
  <% end %>
  
  <h3>In <%= current_location.name %></h3>
  <% @groups_near_my_state.each do |group| %>
    <p><%= link_expert_group_avatar(group, :thumb) %> <%= link_to group.name, expert_group_path(group.id) %></p>
  <% end %>
</div>

<div id="secondary" class="span4">

  <aside>
    <p><i class="icon-search"></i> Search for an existing group using the search box at the top this page.</p>
    <p><%= link_to "Create a new group", new_expert_group_path, :class => "btn" %>
  </aside>  
</div>
