<h1><%= link_to @group.name, expert_group_path() %> Members (<%= @group.joined.count %>)</h1>

<table class="table table-bordered">  
<% @group_members.each do |member| %>
  <tr>
    <% if member.leader_of_group(@group)%>
      <td>
        <%= link_expert_user_avatar(member, :thumb) %> <%= link_expert_user(member) %> <strong><i class="icon-user"></i> Leader</strong>
        <p class="handling_rate"><%= display_handling_rate(@handling_rates[member.id]) %></p>
        <p class="reasssign"><%= display_handling_rate_bar(@handling_rates[member.id]) %></p>
        <span class="downplay">last active <%= time_ago_in_words(member.last_sign_in_at) %> ago</span>
      </td>
      
    <% else %>
      <td>
        <%= link_expert_user_avatar(member, :thumb) %> <%= link_expert_user(member) %>
        <p class="handling_rate"><%= display_handling_rate(@handling_rates[member.id]) %></p>
        <p class="reasssign"><%= display_handling_rate_bar(@handling_rates[member.id]) %></p>
        <span class="downplay">last active <%= time_ago_in_words(member.last_sign_in_at) %> ago</span>
      </td>
    <% end %>
  </tr>
<% end %>
</table>