<h1><%= link_to @group.name, expert_group_path() %> Members (<%= @group.joined.count %>)</h1>

<div class="explanation">
  <h2>What Are Group Leaders?</h2>
  <p>Group leadership is a self-serve option. Anyone can choose to take a more active role in a group by becoming a leader.</p>

  <ul>
    <li>Leaders are identified as a point person for a group.</li>
    <li>Leaders receive notifications when a member or leader joins or leaves.</li>
    <li>If a question can't be assigned to group members, we try to assign it to a leader before passing it to a Question Wrangler.</li>
  </ul>

  <div id="leadership_options">
    <%= render :partial => 'leadership_options' %>
  </div>

</div>

<p><%= link_to 'CSV Email Download', email_csv_expert_group_path(@group, format: "csv") %></p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Primary Location</th>
      <th>Accepts Questions from</th>
      <th>Auto-assignments</th>
      <th>Handling Rate</th>
      <th>Last Active</th>
      <th>Last touched a question</th>
      <th>Notified on every question</th>
      <th>Receives daily summary</th>
    </tr>
  </thead>
  <tbody>

<% @group_members.each do |member| %>
  <tr>
      <td>
        <%= link_expert_user_avatar(member, :thumb) %> <%= link_expert_user(member) %>
        <% if member.leader_of_group(@group)%><strong><i class="icon-user"></i> Leader</strong><% end %>
      </td>
      <td>
        <% if member.location %>
          <% if member.county %>
            <%= member.county.name %>,
          <% end %>
          <%= member.location.abbreviation %>
        <% end %>
      </td>
      <td>
        <% case member.routing_instructions
           when "anywhere" %>
        Anywhere
        <% when "counties_only" %>
        Counties only
        <% when "locations_only" %>
        States only
        <% end %>
      </td>
      <td><%= member.auto_route? ? "Accepts automatic assignments" : "Doesn't accept automatic assignments" %></td>
      <td><p class="handling_rate"><%= display_handling_rate(@handling_rates[member.id]) %> <%= display_handling_rate_bar(@handling_rates[member.id]) %></p></td>
      <td><span class="downplay">last active <%= get_last_active_time(member) %></span></td>
      <td><span class="downplay"><%= !member.last_question_touched.blank? ? "#{time_ago_in_words(member.last_question_touched)} ago" : "No handling activity" %></td>
      <td><% if member.send_incoming_notification?(@group) %>Notified on every question<% end %></td>
      <td><% if member.send_daily_summary?(@group) %>Receives daily summary<% end %></td>
  </tr>
<% end %>
  </tbody>
</table>
