<h1><%= link_to @group.name, expert_group_path() %> Members (<span id="group-member-count"><%= @group.joined.count %></span>)</h1>

<div class="explanation">
  <h2>What Are Group Leaders?</h2>
  <p>Group leadership is a self-serve option. Anyone can choose to take a more active role in a group by becoming a leader.</p>

  <ul>
    <li>Leaders are identified as a point person for a group.</li>
    <li>Leaders receive notifications when a member or leader joins or leaves.</li>
    <li>If a question can't be assigned to group members, we try to assign it to a leader before passing it to a Question Wrangler.</li>
  </ul>

  <div id="leadership_options">
    <%= render :partial => 'leadership_options' %>
  </div>

</div>

<p><%= link_to 'CSV Email Download', email_csv_expert_group_path(@group, format: "csv") %></p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Expertise Locations</th>
      <th>Accepts Questions from</th>
      <%- if @group.individual_assignment -%>
        <th>Auto-assignments</th>
      <%- end -%>
      <th>Handling Rate</th>
      <th>Last Active</th>
      <th>Last touched a question</th>
      <th>Notified on every question</th>
      <th>Receives daily summary</th>
    </tr>
  </thead>
  <tbody>

<% @group_members.each do |member| %>
  <tr id="member_id_<%= member.id -%>" class="<%= member.away? ? "member-away" : "" %>">
      <td>
        <%= link_expert_user_avatar(member, :thumb) %> <%= link_expert_user(member) %>
        <% if member.leader_of_group(@group)%><strong><i class="icon-user"></i> Leader</strong><% end %>
        <%= link_to('Edit group membership', expert_edit_attributes_path(member), {:class => "btn btn-default btn-xs"}) -%>
      </td>
      <td>
        <%- if member.expertise_locations.count > 0 -%>
          <%- member.expertise_locations.each do |l| -%>
            <div class="location">
              <strong><span class="tag tag-geography"><%= link_to l.name, view_location_path(l.id) -%></span></strong>
              <%- if member.expertise_counties.where("location_id = ?", l.id).size > 0 -%>
                <ul>
                  <%- member.expertise_counties.where("location_id = ?", l.id).each do |c| -%>
                    <li><span class="tag tag-geography"><%= link_to "#{c.name}", view_county_path(c.id) -%></span></li>
                  <%- end -%>
                </ul>
              <%- else -%>
                  <ul>
                    <li class="all_counties">All counties</li>
                  </ul>
              <%- end -%>
            </div>
          <%- end -%>
        <%- else -%>
          <span class="group-member-warning">This expert does not have any expertise locations.</span>
        <%- end -%>
      </td>
      <td>
        <% case member.routing_instructions
           when "anywhere" %>
        Anywhere
        <% when "counties_only" %>
        Counties only
        <% when "locations_only" %>
        States only
        <% end %>
      </td>
      <%- if @group.individual_assignment -%>
      <td>
        <%- if member.auto_route? %>
          Accepts automatic assignments
        <%- else -%>
          <span class="group-member-warning">This group cannot automatically assign questions to this person because <strong>they don't accept automatic assignments</strong>.</span>
        <%- end -%>

        <%- if member.auto_route? && !@group.assignment_outside_locations -%>
          <%- if (member.expertise_locations & @group.expertise_locations).empty? %>
            <p><span class="group-member-warning">This group cannot automatically assign questions to this person because <strong>their expertise locations don't match this group's expertise locations</strong>.</span></p>
          <%- end -%>
        <%- end -%>
      </td>
      <%- end -%>
      <td><p class="handling_rate"><%= display_handling_rate(@handling_rates[member.id]) %> <%= display_handling_rate_bar(@handling_rates[member.id]) %></p></td>
      <td><span class="downplay">last active <%= get_last_active_time(member) %></span></td>
      <td><span class="downplay"><%= !member.last_question_touched_at.blank? ? "#{time_ago_in_words(member.last_question_touched_at)} ago" : "No handling activity" %></td>
      <td><% if member.send_incoming_notification?(@group) %>Notified on every question<% end %></td>
      <td><% if member.send_daily_summary?(@group) %>Receives daily summary<% end %></td>
  </tr>
<% end %>
  </tbody>
</table>
