<h1>Create a New Group</h1>

<div class="explanation">
<p>Anyone can create an <strong>Ask an Expert Group</strong> to help organize their question answering efforts. When you create a Group, you get a dedicated Ask an Expert Form (hosted at ask.extension.org) which you can directly link to, or you can embed your Group's Ask an Expert form on your own webpage as a widget.</p>

<h3>Every attribute of a Group is editable, so don't worry about making mistakes when creating it. You can always tweak it later.</h3>
</div>

<div class="form_group">

  <%- if @group.errors.any? -%>
    <div id="error_feedback">
      <h2>We weren't able to save your changes.</h2>
      <h3>Please fix the items below and let's give it another try:</h3>
      <ul>
        <%- @group.errors.each do |attribute, message| -%>
          <li><span><%= message %></span></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

<%= form_for @group, :url => expert_groups_create_path, :html => { :class => "form-stacked no_m_t well"} do |f| %>

  <fieldset>
    <p>
      <%= f.label :name, 'Group Name' %>
      <%= f.text_field :name %>
    </p>
    
    <p>
      <%= f.label :description, 'Group Description (optional)' %>
      <%= f.text_area :description, :rows => "2",  :class => "xl" %>
    </p>
  </fieldset>
      
  <fieldset>
    <p><%= f.submit "Create Group", :class => "btn large btn-primary" %></p>
  </fieldset>
    
<% end %>

</div>
