<h1><%= link_to @group.name, expert_group_path() %></h1>
<p id="aaeid">Group #<%= @group.id %></p>

<h3>Settings > General</h3>


<%= render :partial => 'expert/groups/settings_navigation' %>

<div class="form_group">

<%= form_for @group, :url => expert_group_profile_path, :html => {:multipart => true, :class => "form-stacked no_m_t well"} do |f| %>

  <fieldset>
    <p>
      <%= f.label :name, 'Group Name' %>
      <%= f.text_field :name,  :class => "" %>
    </p>
    
    <p>
      <%= f.label :description do %>
      About this Group <span>(This description displays on your <%= link_to "Group Profile", expert_group_path() %> and <%= link_to "Public Profile", group_path(@group.id) %>)</span>
      <% end %>
      <%= f.text_area :description, :rows => "4",  :class => "l wysiwyg" %>
    </p>
    
    <p>
        <label>        
          <%= check_box_tag 'is_test', '1', @group.is_test? %>  This is a test group
			    <span>(This option prevents this group from appearing on the public Ask an Expert site)</span>
        </label>
    </p>
  </fieldset>
  
  <fieldset>
    <p><%= f.label :avatar, 'Profile Avatar' %></p>
    <p class="clearing">
      <%= get_avatar_for_group(@group) %>
      <% if @group.avatar.present? %>
        <p class="clearing">
          <label>
            <%= check_box_tag 'delete_avatar' %>
            Remove avatar
          </label> 
        </p>
      <% end %>
      <%= f.file_field :avatar %>
    </p>
  </fieldset>
      
  <fieldset>
    <p><%= f.submit "Save Changes", :class => "btn large btn-primary" %></p>
  </fieldset>
    
<% end %>

</div>

<script class="code" type="text/javascript">
    $('.wysiwyg').each(function(i, elem) {
      $(elem).wysihtml5({image: false});
    });
</script>