<% @page_title = @group.name %>

<% if !@group.group_active? %>
  <h3 class="inactive_notice">This group is currently inactive. It cannot be assigned questions and the group's Ask form and widgets are disabled. You can change the group's status to active on the <%= link_to 'General Settings', expert_group_profile_path() %> page.</h3>
<% end %>

<div id="main" class="span8">
  <%= link_expert_group_avatar(@group) %>
  <h1><span class="<%= @group.question_wrangler_group? ? 'qw_large' : '' %>"><%= @group.name %></span> <%= link_to "Public Profile", group_path(@group.id), :class => "btn" %></h1>

  <div class="aboutme">
    <% if @group.description? %>
      <%= format_text_for_display(@group.description) %>
    <% else %>
      <p>This group hasn't added a description yet...</p>
    <% end  %>    
  </div>
  
  
  <ul class="nav nav-tabs">
    <li><%= link_to "Unanswered (#{@group.open_questions.size})", expert_group_path(@group) %></li>
    <li><%= link_to "Answered (#{@group.answered_questions.size})", expert_group_answered_path(@group) %></li>
    <li><%= link_to 'Group History', expert_group_history_path() %></li>
  </ul>
  
  <%= render :partial => 'question_list', :locals => {:questions => @questions, :question_count => @question_count} %>

</div>

<div id="secondary" class="span4">
  <%= render :partial => 'sidebar' %>
</div>