<% @page_title = @group.name %>

<div id="main" class="span8">
  <%= link_expert_group_avatar(@group) %>
  <h1><span class="<%= @group.question_wrangler_group? ? 'qw_large' : '' %>"><%= @group.name %></span> <%= link_to "Public Profile", group_path(@group.id), :class => "btn" %></h1>
  
  <ul class="nav nav-tabs">
    <li><%= link_to 'Unanswered', expert_group_path(@group) %></li>
    <li><%= link_to 'Answered', expert_group_answered_path(@group) %></li>
  </ul>

  <%= render :partial => 'question_list' %>

</div>

<div id="secondary" class="span4">
  <%= render :partial => 'sidebar' %>
</div>