<% @page_title = @group.name %>

<div id="main" class="span8">
  <%= link_expert_group_avatar(@group) %>
  <h1><span class="<%= @group.question_wrangler_group? ? 'qw_large' : '' %>"><%= @group.name %></span> <%= link_to "Public Profile", group_path(@group.id), :class => "btn" %></h1>
  
  
  <ul class="nav nav-tabs">
    <li><%= link_to "Unanswered (#{@group.open_questions.size})", expert_group_path(@group) %></li>
    <li><%= link_to "Answered (#{@group.answered_questions.size})", expert_group_answered_path(@group) %></li>
    <li><%= link_to 'Group History', expert_group_history_path() %></li>
  </ul>
  
  <%= render :partial => 'question_list', :locals => {:questions => @questions, :question_count => @question_count} %>

</div>

<div id="secondary" class="span4">
  <%= render :partial => 'sidebar' %>
</div>