<% @page_title = @group.name %>

<% if !@group.group_active? %>
  <h3 class="inactive_notice">This group is currently inactive. It cannot be assigned questions and the group's Question form and widgets are disabled. You can change the group's status to active on the <%= link_to 'General Settings', expert_group_profile_path() %> page.</h3>
<% end %>

<ul class="nav nav-tabs">
  <li><%= link_to "Group Home", expert_group_path(@group) %></li>
  <li><%= link_to "Needs an Answer (#{@group.open_questions.size})", expert_group_path(@group) %></li>
  <li><%= link_to "Answered (#{number_with_delimiter(@group.answered_questions.size, :delimiter => ',')})", expert_group_answered_path(@group) %></li>
  <li><%= link_to 'Reports', expert_reports_locations_and_groups_path(:group_id => @group.id) %></li>
  <li><%= link_to 'History', expert_group_history_path() %></li>
  <li><%= link_to 'Settings', expert_group_profile_path() %></li>
</ul>

<div id="main" class="col-md-8">
  <div id="group_masthead">
    <%= link_expert_group_avatar(@group) %>
    <h1><span class="<%= @group.question_wrangler_group? ? 'qw_large' : '' %>"><%= @group.name %></span></h1>
    <p><%= link_to "Public Profile", group_path(@group.id), :class => "btn btn-default" %></p>
  </div>

  <div class="group aboutme">
    <% if @group.description? %>
      <%= format_text_for_display(@group.description) %>
    <% else %>
      <p class="needs_description">This group hasn't added a description yet...</p>
    <% end  %>
  </div>




  <%= render :partial => 'question_list', :locals => {:questions => @questions, :question_count => @question_count} %>

</div>

<div id="secondary" class="col-md-4">
  <%= render :partial => 'sidebar' %>
</div>
