<div id="main" class="span8">
  <%= get_group_avatar(@group) %>
  <h1><%= @group.name %></h1>

  <% if @open_questions.length == 0 %>
    <h3>There are currently no open questions assigned to this group.</h3>
  <% else %>
  <h3>Open Questions</h3>
    <% @open_questions.each do |q| %> 
      <%= link_to expert_question_path(q.id) do %>
        <% if q.title.present? %>
          <h3><%= format_text_for_display(q.title) -%></h3>
        <% else %>
          <h3><%= format_text_for_display(q.body.truncate(80, separator: ' ')) %></h3>
        <% end %>
        <p><%= format_text_for_display(q.body.truncate(320, separator: ' ')) %></p>
      <% end %>
      
      <p>Location 
      <% if q.tags.length > 0 %>
        <% q.tags.each do |tag| %>
          <span class="label"><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @group.id, :tag_id => tag.id) %></span>
        <% end %>
      <% else %>
        <span class="label label-inverse">needs tags</span>
      <% end %>
       <%= time_ago_in_words(q.created_at) %> ago
    <% end %>
	</p>
  <% end %>  

</div>

<div id="secondary" class="span4">
  
  <p><%= link_to "View public page", group_path(@group.id), :class => "label btn-warning" %></p>
  
  <% if @group.active %>
		<p><%= link_to "Group Ask an Expert page", ask_group_path(@group.id) %></p>
	<% else  %>
		<p>This groups widget is <%= link_to 'currently inactive', expert_group_widget_path() %></p>
	<% end %>
  
  <ul class="nav nav-tabs">
    <li><%= link_to 'Edit group', expert_group_profile_path() %></li>
  </ul>
  
  <% if  @group.description? %>
    <p><%= format_text_for_display(@group.description).html_safe %></p>
  <% end %>

  <h3>Group Members (<%= @group_members_total %>)</h3>

  <% @group_members.each do |member| %>
    <p><%= get_avatar(member, :thumb) %> <%= link_to member.name, expert_user_path(member.id) %></p>
  <% end %>
  <p><%= link_to 'view all', expert_group_members_path(@group) %></p>
  
  
  <h3>Tags</h3>

  <% if @group_tags.length > 0 %>
    <% @group_tags.each do |tag| %>
      <p><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @group.id, :tag_id => tag.id) %></p>
    <% end %>
  <% else %>
    <p>There are no tags at this time.</p>
  <% end %>
  
</div>