<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ask an Expert - Expert View</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <span class="navavatar"><%= link_to do %>
              <span class="avatar small"></span> Expert Name
            <% end %>
            </span>
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to("eXtension Ask an Expert", root_path(), :class => "brand") %>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="active"><a href="">Incoming</a></li>
                <li><%= link_to "Answered" %></li>
                <li><%= link_to "My Groups" %></li>
              </ul>
            </div><!--/.nav-collapse -->
            
            
          </div>
        </div>
      </div>

<div class="container-fluid">
  
  <div class="row-fluid">
    <%= yield %>
  </div>
  

</div>

  <%= javascript_include_tag "footer" %>
</body>
</html>
