<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= (@page_title) ? @page_title + " - Ask an Expert - eXtension" : "Ask an Expert - eXtension" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application-print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render(:partial => 'home/google_analytics') %>
</head>
<body id="expert" class='<%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>'>
  
  <div id="fixed_fixer"></div>
  
  <div class="navbar navbar-inverse navbar-fixed-top <%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>">
        <div class="navbar-inner">
          <div class="container">
            <% if current_user %>
              <ul class="navavatar loggedin">
                <li><%= link_expert_user_avatar(current_user, :thumb, highlight_badge = true) %></li>
                <li class="username hidecompact420">
                  <%= link_to expert_user_path(current_user.id) do %>
                    <span><%= current_user.name %></span>
                  <% end %>
                </li>

                <li>
                  <ul class="nav pull-right" id="user_actions">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "My Dashboard", expert_home_path() %></li>
                        <li><%= link_to "My Profile", expert_user_path(current_user.id) %></li>
                        <li><%= link_to "My Groups", expert_user_groups_path(current_user) %></li>
                        <li><%= link_to "My Settings", expert_settings_profile_path() %></li>
                        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                
              </ul>
            <% else %>
              <span class="navavatar">
                <%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath) )%>
              </span>
            <% end %>
            
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to expert_home_path(), :class => "brand home" do %>
              AaE <span class="hidecompact480">Experts</span>
            <% end %>
            <div class="nav-collapse">
              <ul class="nav">
                <li <%= "class='active'" if current_page?(:controller => 'home', :action => "index") %>><%= link_to "Unanswered", expert_home_unanswered_path %></li>
                <li <%= "class='active'" if current_page?(:controller => 'home', :action => "answered") %>><%= link_to "Answered", expert_home_answered_path %></li>
                <li <%= "class='active'" if current_page?(:controller => 'groups', :action => "index") %>><%= link_to "Groups", expert_groups_path %></li>
              </ul>
              <%= form_tag(expert_search_all_path, {:method => :get, id: "searchform"}) do %>
                <p id="search">
                  <%= text_field_tag 'q', params[:q], :size => 12, :class => "input-small", :placeholder => "Search", :id => "search_field" %>
                  <span id="icon-search" class="btn btn-inverse"><i class="icon-search icon-white"></i></span>
                </p>
              <% end %>
              <p><%= link_to("AaE Public", root_path(), :class => "brand") %></p>
              <span class="help_link"><%= link_to "Help", ask_group_path(Group::EXTENSION_SUPPORT_ID) %></span>
            </div><!--/.nav-collapse -->
            
            
          </div>
        </div>
      </div>
      
      <div id="flash_notification_wrapper">
        <%= flash_notifications -%>
      </div>
      
<div class="container-fluid">
  <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
    <div id="app_location" class="demo">
      
      <p>You are viewing the <strong>AaE 2.0 <%= Settings.app_location.upcase %></strong> site. The data on this site is regularly deleted for development purposes. <strong>Feel free to test and play</strong>: No notifications, responses or assignments are sent to anyone. <%= link_to("Visit Ask 2.0 Production", "http://ask.extension.org") -%>. Visit the <%= link_to("AaE 2.0 Help page", "http://about.extension.org/ask/") %>.</p>
    </div>
  <% end %>
  
  <% if current_user.away %>
    <div id="on_vacation"><i class="icon-exclamation-sign"></i> Your availability is set to "Away." Questions cannot be assigned to you. <%= link_to 'Edit your settings', expert_settings_assignment_path() %></div>
  <% end %>
  
  <% if current_user.tags.size < 1 %>
    <div id="on_vacation"><i class="icon-exclamation-sign"></i> Hi there! We know you've got expertise. Why not tell us about it by adding some tags? It helps the rest of us know what kind of questions you want to answer. Please add a handful on your <%= link_to 'settings page', expert_settings_tags_path() %>. Thanks!</div>
  <% end %>
  
  <%- if @override_rows.present? and @override_rows -%>
    <%= yield %>
  <%- else -%>
    <div class="row-fluid">
      <div id="content_wrapper">
        <%= yield %>
      </div>
    </div>
  <%- end -%>
  

</div>

<br class="clearing" />

<footer class="footer">
    <ul>
        <li><%= link_to "Contact Us", home_about_path() %></li>
        <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
        <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
    </ul>
</footer>

<script class="code" type="text/javascript">
  $('#icon-search').click(function() {
    $('#searchform').submit();
  });
</script>

</body>
</html>

