<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= (@page_title) ? @page_title + " - Ask an Expert - eXtension" : "Ask an Expert - eXtension" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/html5.js"></script><![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "application-print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render(:partial => 'home/google_analytics') %>
</head>
<body id="expert" class='<%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>'>
  
  <% if Settings.app_location == 'dev' %>
    <div id="app_location" class="demo">
      <p>This is the <strong>AaE <%= Settings.app_location.upcase %></strong> site. Feel free to test/play. Note: The data on this site is regularly deleted/refreshed, and all notifications are turned off. Visit <%= link_to("Ask an Expert", "http://ask.extension.org") -%>.</p>
    </div>
  <% end %>


  <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
  
  <div class="navbar navbar-inverse app-navbar">
        <div class="navbar-inner">
          <div class="container">
            <% if current_user %>
              <ul class="navavatar loggedin">
                <li><%= link_expert_user_avatar(current_user, :thumb, highlight_badge = true) %></li>
                <li class="username hidecompact420">
                  <%= link_to expert_user_path(current_user.id) do %>
                    <span><%= current_user.name %></span>
                  <% end %>
                </li>

                <li>
                  <ul class="nav pull-right" id="user_actions">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "My Dashboard", expert_home_path() %></li>
                        <li><%= link_to "My Profile", expert_user_path(current_user.id) %></li>
                        <li><%= link_to "My Groups", expert_user_groups_path(current_user) %></li>
                        <li><%= link_to "My Settings", expert_settings_profile_path() %></li>
                        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                        <li><%= link_to "AaE How-Tos", "http://create.extension.org/node/95420" %></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                
              </ul>
            <% else %>
              <span class="navavatar">
                <%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath) )%>
              </span>
            <% end %>
            
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to expert_home_path(), :class => "brand home" do %>
            <%= image_tag("eX_logo_white_160x.png", :size => "80x30") %>
              AaE <span class="hidecompact480"></span>
            <% end %>
            <div id="collapsed_nav_options" class="nav-collapse collapse">
              <ul class="nav">
                <li><%= link_to "Dashboard", expert_home_path %></li>
                <li><%= build_url_based_on_pref_filters("unanswered") %></li>
                <li><%= build_url_based_on_pref_filters("answered") %></li>
                <li><%= link_to "Reports", expert_reports_home_path %></li>
              </ul>
              <%= form_tag(expert_search_all_path, {:method => :get, id: "searchform"}) do %>
                <p id="search">
                  <%= text_field_tag 'q', params[:q], :class => "input-xlarge", :placeholder => "Search experts, questions, groups", :id => "search_field" %>
                  <span id="icon-search" class="btn btn-inverse"><i class="icon-search icon-white"></i></span>
                </p>
              <% end %>
              
              
              <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
            </div><!--/.nav-collapse -->
            
            
          </div>
        </div>
      </div>
      
      <div id="flash_notification_wrapper">
        <%= flash_notifications -%>
      </div>
      
<div class="container-fluid">
  
  <% if current_user.away %>
    <div id="on_vacation"><i class="icon-exclamation-sign"></i> Your availability is set to "Away." Questions cannot be assigned to you. <%= link_to 'Edit your settings', expert_settings_assignment_path() %></div>
  <% end %>
    
  <% if current_user.tags.size < 1 %>
    <div id="tags_prompt">Hi there! We know you've got expertise. Why not tell us about it by adding some tags? That helps the rest of us know what kind of questions you want to answer. Please add a few in your <%= link_to 'settings', expert_settings_tags_path() %>. Thanks!</div>
  <% end %>
  
  <%- if @override_rows.present? and @override_rows -%>
    <%= yield %>
  <%- else -%>
    <div class="row-fluid">
      <div id="content_wrapper">
        <%= yield %>
      </div>
    </div>
  <%- end -%>
  

</div>

<br class="clearing" />

<footer class="footer">
    <ul>
        <li><%= link_to "Help / Contact Us", ask_group_path(Group::EXTENSION_SUPPORT_ID) %></li>
        <li><%= link_to "AaE How-Tos", "http://create.extension.org/node/95420" %></li>
        <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
        <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
    </ul>
</footer>

<script class="code" type="text/javascript">
  $('#icon-search').click(function() {
    $('#searchform').submit();
  });
</script>

</body>
</html>

