<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ask an Expert - Expert View</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="expert">

  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <% if current_user %>
              <span class="navavatar loggedin">
                <%= get_avatar(current_user, :thumb) %>
                <%= link_to expert_user_path(current_user.id) do %>
                  <%= current_user.name %>
                <% end %>
                &nbsp;
                <%= link_to 'Settings', expert_settings_profile_path() %>
                &nbsp;
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                &nbsp;
                <%= link_to("Ask an Expert Site", root_path()) %>
              </span>  
            <% else %>
              <span class="navavatar">
                <%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath) )%>
              </span>
            <% end %>
            
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to("Expert Home", expert_home_path(), :class => "brand") %>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="active"><a href="">Incoming</a></li>
                <li><%= link_to "Answered" %></li>
                <li><%= link_to "My Groups" %></li>
              </ul>
            </div><!--/.nav-collapse -->
            
            
          </div>
        </div>
      </div>

<div class="container-fluid">
  <%= flash_notifications -%>
  
  <div class="row-fluid">
    <%= yield %>
  </div>
  

</div>

  
  <script class="code" type="text/javascript">
  $(function() {
     $('#flash_notification').hide().delay(500).slideDown('slow', function() {
        $(this).delay(4000).fadeOut();
     });

     $("#flash_notification").live('click', function(){
         $(this).stop().fadeOut();;
     });

  });
  </script>
</body>
</html>
