<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ask an Expert</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            
            <% if current_user %>
              <span class="navavatar loggedin">
                <%= link_to expert_user_path(current_user.id) do %>
                  <span class="avatar small"></span> <%= current_user.name %>
                <% end %>
                &nbsp;
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                &nbsp;
                <%= link_to("Expert Home", expert_home_index_path()) %>
              </span>  
            <% else %>
              <span class="navavatar">
                <%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath) )%>
              </span>
            <% end %>
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to("eXtension Ask an Expert", root_path(), :class => "brand") %>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="active"><a href="">About</a></li>
              </ul>
            </div><!--/.nav-collapse -->
            <p><a href="" class="btn">Ask a Question</a></p>
          </div>
        </div>
        
      </div>

<div class="container-fluid">
  
  <div class="row-fluid">
    <%= yield %>
  </div>
  

</div>

  <%= javascript_include_tag "footer" %>
</body>
</html>
