<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= (@page_title) ? @page_title + " - Ask an Expert - eXtension" : "Ask an Expert - eXtension" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render(:partial => 'home/google_analytics') %>
</head>
<body id="public" class='<%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>'>
  
  <% if current_user %>
    <% if current_user.has_exid? %>
    <div id="fixed_fixer"></div>
    
    <div class="navbar navbar-fixed-top <%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>">
     <div id="expertbar" class="navbar-inner">
        <div class="container">
          <span class="navavatar loggedin">
            <%= link_expert_user_avatar(current_user, :mini) %>
            <%= link_to expert_user_path(current_user.id) do %>
              <%= current_user.name %>
            <% end %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "logout") %>
          </span>
          <%= link_to("AaE Experts", expert_home_path(), :class => "brand") %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  
  <div id="flash_notification_wrapper">
    <%= flash_notifications -%>
  </div>

<div class="navbar">
  <div id="publicbar" class="navbar-inner">
    <div class="container">
            <% if current_user && !current_user.has_exid? %>
                <span class="navavatar loggedin">
                  <%= current_user.name %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "logout") %>
                </span>
            <% elsif !current_user %>
              <span class="navavatar">
                <%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath) )%>
              </span>
            <% end %>
            
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <%= link_to("eXtension Ask an Expert", root_path(), :class => "brand") %>
            <div class="nav-collapse">
              <ul class="nav">  
                <li class="active"><%= link_to "About", home_about_path() %></li>
              </ul>
            </div><!--/.nav-collapse -->
            <p class="right"><%= link_to("Ask a Question", ask_path(), :class => "btn") %></p>
    </div>
  </div>
</div>




<div class="container-fluid">
  <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
    <div id="app_location" class="demo">
      <p>You are viewing the <strong>AaE 2.0 <%= Settings.app_location.upcase %></strong> site. The data on this site is regularly deleted for development purposes. <strong>Feel free to test and play</strong>: No notifications, responses or assignments are sent to anyone. <%= link_to("Visit Ask 2.0 Production", "http://ask.extension.org") -%></p>
    </div>
  <% end %>
  
  
  
  
  <div class="row-fluid">
    <div id="content_wrapper">
    <%= yield %>
    </div>
  </div>
  

</div>

</body>
</html>
