<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= (@page_title) ? @page_title + " - Ask an Expert" : "Ask an Expert - eXtension" %></title>
  <meta name="description" content="<%= @page_meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/html5.js"></script><![endif]-->
  <meta property="og:url" content="<%= request.protocol + request.host_with_port + request.fullpath %>"/>
  <meta property="og:type" content="<%= (@page_type == "article") ? "article" : "website" %>"/>
  <meta property="og:title" content="<%= (@page_title) ? @page_title + " - Ask an Expert" : "Ask an Expert - eXtension" %>"/>
  <meta property="og:description" content="<%= @page_meta_description ? @page_meta_description : "Ask an Expert offers one-to-one expert answers from Cooperative Extension/University staff and volunteers from across the United States." %>"/>
  <meta property="og:image" content="<%= image_path("#{root_url}assets/extension_logo.jpg") %>"/>
  <% if @question %>
    <% @question.images.each do |image| %>
      <% if image.persisted? %>
        <% if File.exists?(Rails.root.join("public#{image.url(:original,{escape: false, timestamp: false})}")) %>
          <meta property="og:image" content="<%= request.protocol + request.host_with_port + image.dynamic_attachment_url("1500x1500>") %>"/>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="<%= image_path("#{root_url}assets/extension_logo.jpg") %>">
  <meta name="twitter:title" content="<%= (@page_title) ? @page_title + " - Ask an Expert" : "Ask an Expert - eXtension" %>">
  <meta property="twitter:description" content="<%= @page_meta_description ? @page_meta_description : "One-to-one answers from experts from universities across America." %>"/>
  <!--[if IE 8]>
    <%= stylesheet_link_tag    "ie8", :media => "all" %>
  <![endif]-->
  <%= stylesheet_link_tag    "public", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if !IE 8]><!--><%= javascript_include_tag    "bootstrap-wysihtml5" %><!--<![endif]-->
  <%= csrf_meta_tags %>
  <%= render(:partial => 'home/google_analytics') %>
</head>
<body id="public" class='<%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>'>

  <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
    <div id="app_location" class="demo">
      <p>This is the <strong>AaE <%= Settings.app_location.upcase %></strong> site. Feel free to test/play. Note: The data on this site is regularly deleted/refreshed, and all notifications are turned off. Visit <%= link_to("Ask an Expert", "http://ask.extension.org") -%>.</p>
    </div>
  <% end %>

  <div class='nonmobile hidden-xs'>
  <% if current_user and current_user.has_exid? %>
    <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
  <% else %>
    <script src="https://www.extension.org/javascripts/global_nav_public.js" type="text/javascript"></script>
  <% end %>
  </div>

  <% if current_user %>
    <% if current_user.has_exid? %>

      <div class="navbar expert-navbar">
        <div class="container expert-navbar-container">
        <div class="pull-right">
          <%= link_expert_user_avatar(current_user, :thumb) %>

        <div class="btn-group">

          <span class="btn dropdown-toggle expert-dropdown-options" data-toggle="dropdown">
            <span class="hidecompact420"><%= current_user.name %></span> <span class="caret"></span>
          </span>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "My Dashboard", expert_home_path() %></li>
            <li><%= link_to "My Profile", expert_user_path(current_user.id) %></li>
            <li><%= link_to "My Groups", expert_user_groups_path(current_user) %></li>
            <li><%= link_to "Edit Profile", expert_profile_settings_path(current_user) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </div>
        </div>
        <span class="pull-left">
          <%= link_to(expert_home_path(), :class => "navbar-brand navbar-brand-dashboard") do %>
            AaE Dashboard
          <% end %>
        </span>
        </div>
      </div>

    <% end %>
  <% end %>


  <div class="container container-main">
    <div id="flash_notification_wrapper" class="flash_notification_wrapper">
      <%= flash_notifications -%>
    </div>


    <div class="navbar masthead">

      <span class="navbar-toggle btn btn-default mobile-menu-search-btn" data-toggle="collapse" data-target="#app-navbar"><i class='fa fa-search'></i> <i class='fa fa-bars'></i></span>
      <a class="navbar-brand" href="/"><%= image_tag "aae_logo_small.png", :class => "hidden-xs", :alt => "eXtension" %><%= image_tag "aae_logo_mobile.png", :class => "visible-xs", :alt => "eXtension" %></a>

      <div id="app-navbar" class="navbar-collapse collapse">

            <%= form_tag(search_all_path, {:method => :get, id: "searchform", class: "navbar-form form-search pull-right"}) do %>
              <div class="input-group">
                <%= text_field_tag 'q', params[:q], :class => "form-control col-md-2", :placeholder => "Search", :id => "search_field" %>
                <span class="input-group-btn">
                <input type="submit" value="Go" class="btn btn-default" />
                </span>
              </div>
            <% end %>

            <ul class="app-navbar-list list-inline pull-right app-navbar-items">
              <li><%= link_to 'Answered', root_path() %></li>
              <li><%= link_to 'Unanswered', home_unanswered_path() %></li>
              <li><%= link_to("Ask a Question", ask_path()) %></li>
              <li><%= link_to "About", home_about_path() %></li>
              <% if current_user && !current_user.has_exid? %>
                <li><%= link_to(current_user.public_name, nonexid_profile_edit_path()) %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <% elsif !current_user %>
                <li><%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath) )%></li>
              <% end %>
            </ul>

            <div class="global-nav-mobile visible-xs">
            <% if current_user and current_user.has_exid? %>
              <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
            <% else %>
              <script src="https://www.extension.org/javascripts/global_nav_public.js" type="text/javascript"></script>
            <% end %>
            </div>

        </div><!--/.navbar-collapse -->

</div>

      <div class="row">
      <%= yield :layout %>
      </div>

      <div class="row">
        <div class="col-md-9">

        </div>
      <div class="col-md-3">
      <% if !@sponsors.blank? %>
          <div class="sponsors">
          <%= render(:partial => 'shared/sponsors', :locals => {:sponsorlist =>  @sponsors}) %>
          </div>
      <% end %>
      </div>
      </div>



      <hr class="noprint" />

      <footer>
        <span id="extension_icon_512" class="pull-left noprint"><%= image_tag "extension_logo.jpg", :class => "hidden-xs", :id => "extension_logo", :alt => "eXtension" %></span>
        <ul class="footer-links list-inline noprint">
          <li><%= link_to "Institutional Partners", "http://www.extension.org/main/partners" %></li>
          <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
          <li><%= link_to "Contact Us", ask_group_path(Group::EXTENSION_SUPPORT_ID) %></li>
          <li><%= link_to "Disclaimer", "http://www.extension.org/main/disclaimer" %></li>
          <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
          <li><%= link_to("Widgets",widgets_path() )%></li>
        </ul>
        <p>&copy; <%= Time.now.utc.year %> eXtension. All rights reserved.</p>
      </footer>


    </div> <!-- /container -->


<script class="code" type="text/javascript">
  $("#icon-search").click(function() {
    $("#searchform").submit();
  });
</script>



</body>
</html>
