<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= (@page_title) ? @page_title + " - Ask an Expert" : "Ask an Expert - eXtension" %></title>
  <meta name="description" content="<%= @page_meta_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/html5.js"></script><![endif]-->
  <meta property="og:url" content="<%= request.protocol + request.host_with_port + request.fullpath %>"/>
  <meta property="og:type" content="<%= (@page_type == "article") ? "article" : "website" %>"/>
  <meta property="og:title" content="<%= (@page_title) ? @page_title + " - Ask an Expert" : "Ask an Expert - eXtension" %>"/>
  <meta property="og:description" content="<%= @page_meta_description ? @page_meta_description : "Ask an Expert offers one-to-one expert answers from Cooperative Extension/University staff and volunteers from across the United States." %>"/>
  <meta property="og:image" content="<%= image_path("#{root_url}assets/extension_logo.jpg") %>"/>  
  <% if @question %>
    <% @question.images.each do |image| %>
      <% if image.persisted? %>
        <% if File.exists?(Rails.root.join("public#{image.url(:original,false)}")) %>
          <meta property="og:image" content="<%= request.protocol + request.host_with_port + image.dynamic_attachment_url("1500x1500>") %>"/>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="<%= image_path("#{root_url}assets/extension_logo.jpg") %>">
  <meta name="twitter:title" content="<%= (@page_title) ? @page_title + " - Ask an Expert" : "Ask an Expert - eXtension" %>">
  <meta property="twitter:description" content="<%= @page_meta_description ? @page_meta_description : "One-to-one answers from experts from universities across America." %>"/>
  <!--[if IE 8]>
    <%= stylesheet_link_tag    "ie8", :media => "all" %>
  <![endif]-->
  <%= stylesheet_link_tag    "public", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render(:partial => 'home/google_analytics') %>
</head>
<body id="public" class='<%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>'>
  
  <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
    <div id="app_location" class="demo">
      <p>This is the <strong>AaE <%= Settings.app_location.upcase %></strong> site. Feel free to test/play. Note: The data on this site is regularly deleted/refreshed, and all notifications are turned off. Visit <%= link_to("Ask an Expert", "http://ask.extension.org") -%>.</p>
    </div>
  <% end %>
  
  <div class='nonmobile hidden-xs'>
  <% if current_user and current_user.has_exid? %>
    <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
  <% else %>
    <script src="https://www.extension.org/javascripts/global_nav_public.js" type="text/javascript"></script>
  <% end %>
  </div>
  
  <% if current_user %>
    <% if current_user.has_exid? %>

      <div id="expert_navbar" class="navbar expert-navbar navbar-inverse app-navbar clearfix">

            <ul class="navavatar loggedin pull-right">
              <li><%= link_expert_user_avatar(current_user, :thumb) %></li>
              <li>
                <ul class="nav pull-right" id="user_actions">
                  <li id="username" class="dropdown">
                    <a href="#" id="username_link" class="dropdown-toggle" data-toggle="dropdown"><span class="hidecompact420"><%= current_user.name %></span> <i class="caret"></i></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "My Dashboard", expert_home_path() %></li>
                      <li><%= link_to "My Profile", expert_user_path(current_user.id) %></li>
                      <li><%= link_to "My Groups", expert_user_groups_path(current_user) %></li>
                      <li><%= link_to "My Settings", expert_settings_profile_path() %></li>
                      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                  </li>
                </ul>
              </li>

            </ul>

            <span class="pull-left">
              <%= link_to(expert_home_path(), :class => "navbar-brand") do %>
               AaE Expert Dashboard
              <% end %>
            </span>

      </div>

    <% end %>
  <% end %>
  
  
  <div class="container">
    <div id="flash_notification_wrapper" class="flash_notification_wrapper">
      <%= flash_notifications -%>
    </div>
 
 
    <div class="navbar">

        <a class="btn navbar-btn mobile-menu-search-btn" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-search'></i> <i class='icon-th'></i></a>
        <!-- <a class="btn navbar-btn mobile-menu-btn" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-th'></i></a> -->
        <a class="navbar-brand" href="/"><img class='hidden-xs' src="/assets/aae_logo_small.png" alt="eXtension" /><img class='visible-xs' src="/assets/aae_logo_mobile.png" alt="eXtension" /></a>
        <div class="navbar-collapse collapse">

            <%= form_tag(search_all_path, {:method => :get, id: "searchform", class: "navbar-form form-search pull-right"}) do %>
              <div class="input-group">
                <%= text_field_tag 'q', params[:q], :class => "form-control col-md-2", :placeholder => "Search", :id => "search_field" %>
                <span class="input-group-btn">
                <input type="submit" value="Go" class="input-group-addon btn btn-default" />
                </span>
              </div>
            <% end %>

            <ul class="list-inline">
              <li><%= link_to 'Answered', root_path() %></li>
              <li><%= link_to 'Unanswered', home_unanswered_path() %></li>
              <li><%= link_to("Ask a Question", ask_path()) %></li>
              <li><%= link_to "About", home_about_path() %></li>
              <% if current_user && !current_user.has_exid? %>
                <li><%= link_to(current_user.public_name, nonexid_profile_edit_path()) %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <% elsif !current_user %>
                <li><%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath) )%></li>
              <% end %>
            </ul>
            
            <div class="global-nav-mobile">
            <% if current_user and current_user.has_exid? %>
              <script src="https://www.extension.org/javascripts/global_nav_internal.js" type="text/javascript"></script>
            <% else %>
              <script src="https://www.extension.org/javascripts/global_nav_public.js" type="text/javascript"></script>
            <% end %>
            </div>
            
        </div><!--/.navbar-collapse -->

</div>

      <div class="row">
      <%= yield :layout %>
      </div>
      
      <div class="row">
        <div class="col-md-9">
      
        </div>
      <div class="col-md-3">
      <% if !@sponsors.blank? %>
          <div class="sponsors">
          <%= render(:partial => 'shared/sponsors', :locals => {:sponsorlist =>  @sponsors}) %>
          </div>
      <% end %>
      </div>
      </div>
      
      
      
      <hr class="noprint" />
      
      <footer>
        <span id="extension_icon_512" class="pull-left noprint"><img id="extension_logo" src="/assets/extension_logo.jpg" alt="eXtension" /></span>
        <ul class="list-inline noprint">
          <li><%= link_to "Institutional Partners", "http://www.extension.org/main/partners" %></li>
          <li><%= link_to("Privacy","http://www.extension.org/main/privacy")%></li>
          <li><%= link_to "Contact Us", home_about_path() %></li>
          <li><%= link_to "Disclaimer", "http://www.extension.org/main/disclaimer" %></li>
          <li><%= link_to("Terms of Use","http://www.extension.org/main/termsofuse")%></li>
        </ul>
        <p>&copy; <%= Time.now.utc.year %> eXtension. All rights reserved.</p>
      </footer>
      

    </div> <!-- /container -->


<script class="code" type="text/javascript">
  $('#icon-search').click(function() {
    $('#searchform').submit();
  });
</script>

  

</body>
</html>
