<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= (@page_title) ? @page_title + " - Ask an Expert - eXtension" : "Ask an Expert - eXtension" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render(:partial => 'home/google_analytics') %>
</head>
<body id="public" class='<%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>'>
  
  <% if current_user %>
    <% if current_user.has_exid? %>
      <div id="fixed_fixer"></div>
      <div class="navbar navbar-inverse navbar-fixed-top <%= 'demo' if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>">
        <div id="expertbar" class="navbar-inner">
          <div class="container">
            
            <ul class="navavatar loggedin">
              <li><%= link_expert_user_avatar(current_user, :mini) %></li>
              <li class="username">
                <%= link_to expert_user_path(current_user.id) do %>
                  <span class="hidecompact420"><%= current_user.name %></span>
                <% end %>
              </li>

              <li>
                <ul class="nav" id="user_actions">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "My profile", expert_user_path(current_user.id) %></li>
                      <li><%= link_to "My groups", expert_user_groups_path(current_user) %></li>
                      <li><%= link_to "My settings", expert_settings_profile_path() %></li>
                      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                    </ul>
                  </li>
                </ul>
              </li>
              
            </ul>
            
            <%= link_to("AaE Experts", expert_home_path(), :class => "brand") %>
            
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <div id="flash_notification_wrapper">
    <%= flash_notifications -%>
  </div>

<div class="navbar">
  <div id="publicbar" class="navbar-inner">
    <div class="container">
            <% if current_user && !current_user.has_exid? %>
                <span class="navavatar loggedin publicuser">
                  <%= link_to(current_user.public_name, nonexid_profile_edit_path()) %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "logout") %>
                </span>
            <% elsif !current_user %>
              <span class="navavatar">
                <%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath) )%>
              </span>
            <% end %>
            
            <p><%= link_to("eXtension Ask an Expert", root_path(), :class => "brand") %></p>
            <p><%= link_to("Ask a Question", ask_path(), :class => "btn") %> <%= link_to "About", home_about_path(), :class => "navlink" %></p>

            <div style="display:none">
            <%= form_tag(search_all_path, {:method => :get, id: "searchform"}) do %>
			    <p id="search">
			      <%= text_field_tag 'q', params[:q], :size => 12, :class => "input-small", :placeholder => "Search", :id => "search_field" %>
			      <%= submit_tag 'Search' %>
			    </p>
			<% end %>
			</div>
            
    </div>
  </div>
</div>




<div class="container-fluid">
  <%- if (Settings.app_location == 'demo') || (Settings.app_location == 'dev') %>
    <div id="app_location" class="demo">
      <p>You are viewing the <strong>AaE 2.0 <%= Settings.app_location.upcase %></strong> site. The data on this site is regularly deleted for development purposes. <strong>Feel free to test and play</strong>: No notifications, responses or assignments are sent to anyone. <%= link_to("Visit Ask 2.0 Production", "http://ask.extension.org") -%></p>
    </div>
  <% end %>
  
  
  
  
  <div class="row-fluid">
    <div id="content_wrapper">
    <%= yield %>
    </div>
  </div>
  

</div>

</body>
</html>
